section.fc-types
	.container
		.s-title.t-center Виды фасадного остекления
		.fc-types__container
			.fc-types__item
				.fc-types__wrapper
					img(src="img/fc-types/types-1.jpg" alt="" class="fc-types__img")
				.fc-types__content
					.fc-types__f-block
						.fc-types__title ХОЛОДНОЕ
						.fc-types__price от <span>12 300</span> руб. /м<sup>2</sup>
					.fc-types__text
						|Холодное остекление представляет собой конструкцию из алюминиевого профиля без термовставки, одинарного стекла или однокамерного стеклопакета. За счет легкости и прочности такая система оказывает минимальную нагрузку на несущие стены и перекрытия, поэтому может устанавливаться без дополнительного усиления этих элементов.
						| Конструкции могут иметь любую форму и цвет, они надежно защищают помещение от ветра, пыли и осадков, но имеют невысокие теплотехнические параметры.
					.fc-types__notice <b>ПРИМЕНЕНИЕ:</b> Для оформления фасадов промышленных зданий Для торгово-развлекательных центров Для объектов без особых требований к звуко- и теплоизоляции
			.fc-types__item
				.fc-types__content
					.fc-types__f-block
						.fc-types__title ТЕПЛОЕ
						.fc-types__price от <span>14 500</span> руб. /м<sup>2</sup>
					.fc-types__text
						| Теплое остекление предполагает установку конструкций на основе многокамерного алюминиевого профиля с полиамидной термовставкой, стандартных, ударопрочных или энергоэффективных стеклопакетов. Конструкции обеспечивают максимальную степень тепловой защиты и эффективную звукоизоляцию с понижением уровня шума на 20 - 25 дБ, при этом хорошо пропускают солнечный свет и создают эффект гладкой стеклянной поверхности.
					.fc-types__notice <b>ПРИМЕНЕНИЕ:</b> Для остекления фасадов высотных бизнес-центров Жилых и офисных зданий Объектов, для которых важен температурный режим
				.fc-types__wrapper
					img(src="img/fc-types/types-2.jpg" alt="" class="fc-types__img")
			.fc-types__item
				.fc-types__wrapper
					img(src="img/fc-types/types-3.jpg" alt="" class="fc-types__img")
				.fc-types__content
					.fc-types__f-block
						.fc-types__title СТРУКТУРНОЕ
						.fc-types__price от <span>18 100</span> руб. /м<sup>2</sup>
					.fc-types__text Структурная система предполагает фиксацию стекла с помощью специальных крепежей, что обеспечивает плотное примыкание друг к другу отдельных элементов. Отсутствие в промежутке профиля создает иллюзию монолитности.
					.fc-types__notice <b>ПРИМЕНЕНИЕ:</b> Облицовки фасадов частных домов Бизнес-центров Магазинов
			.fc-types__item
				.fc-types__content
					.fc-types__f-block
						.fc-types__title СТОЕЧНО-РИГЕЛЬНОЕ
						.fc-types__price от <span>12 300</span> руб. /м<sup>2</sup>
					.fc-types__text
						| Используется чаще других. Несущую функцию выполняют конструкции в виде вертикальных стоек с закрепленными на них горизонтальными ригелями. Алюминиевый каркас закрывается стеклом, видимой остается только декоративная часть профиля. При структурном остеклении фасадов не используются прижимные планки, при полуструктурном - только частично. За счет заделки внешней стороны силиконовым герметиком создается видимость сплошной стеклянной поверхности.
					.fc-types__notice <b>ПРИМЕНЕНИЕ:</b> Зимние сады в коттеджах Витрины Прозрачные крыши домов
				.fc-types__wrapper
					img(src="img/fc-types/types-4.jpg" alt="" class="fc-types__img")
			.fc-types__item
				.fc-types__wrapper
					img(src="img/fc-types/types-5.jpg" alt="" class="fc-types__img")
				.fc-types__content
					.fc-types__f-block
						.fc-types__title ПАНОРАМНОЕ
						.fc-types__price от 17 000 руб. /м<sup>2</sup>
					.fc-types__text
						| Панорамный тип заключается в установке большого окна на всю стену. При этом обеспечивается хороший обзор. В данном случае используют профиль теплых серий.
					.fc-types__notice <b>ПРИМЕНЕНИЕ:</b> Остекление балконов Оранжереи и зимние сады Террасы
			.fc-types__item
				.fc-types__content
					.fc-types__f-block
						.fc-types__title ДЖАМБО ОСТЕКЛЕНИЕ
						.fc-types__price от 23 000 руб. /м<sup>2</sup>
					.fc-types__text
						| Для остекления больших фасадов часто используют алюминиевые конструкции, укомплектованные крупногабаритными стеклом jumbo с улучшенными теплотехническими и оптическими параметрами. Максимальный размер термополированного или ламинированного листа может составлять 3210*6000 мм, а вес – до 1500 кг, поэтому монтаж систем производится с использованием сверхпрочных крепежей.
					.fc-types__notice <b>ПРИМЕНЕНИЕ:</b> Для остекления элитных особняков Галерей Торгово-развлекательных центров
				.fc-types__wrapper
					img(src="img/fc-types/types-6.jpg" alt="" class="fc-types__img")
			.fc-types__item
				.fc-types__wrapper
					img(src="img/fc-types/types-7.jpg" alt="" class="fc-types__img")
				.fc-types__content
					.fc-types__f-block
						.fc-types__title ПОЛУСТРУКТУРНОЕ ОСТЕКЛЕНИЕ
						.fc-types__price от <span>16 200</span> руб. /м<sup>2</sup>
					.fc-types__text
						| Полуструктурное остекление фасада сочетает элементы структурной и стоечно-ригельной конструкции. Зрительно оно практически не отличается от структурной системы со сплошной стеклянной поверхностью, но при этом может комплектоваться обычными крупногабаритными стеклопакетами размером 3000*3000 мм. Такая комплектация снижает стоимость остекления на 15%. Возможна установка створок и люков с механизмом открывания.
					.fc-types__notice <b>ПРИМЕНЕНИЕ:</b> Для остекления вертикальных и наклонных поверхностей высотных офисных, коммерческих зданий
