section.p-design(style="background-color: #E5E5E5;")
	.container
		.s-title.t-center Различные способы оплаты
		.p-design__container
			.p-design__card.mb-20
				.p-design__wrapper._red
					svg.p-design__icon._red
						use(xlink:href="img/sprite.svg#wallet")
				.p-design__title Наличные
				div Вы можете оплатить договор менеджеру на дому или заехав в один из офисов компании в рабочее время с 10.00-19.00
			.p-design__card.mb-20
				.p-design__wrapper._red
					svg.p-design__icon._red
						use(xlink:href="img/sprite.svg#beznal")
				.p-design__title Безналичный расчет
				div
					p - С НДС
					p - Без НДС
			.p-design__card.mb-20
				.p-design__wrapper._red
					svg.p-design__icon._red
						use(xlink:href="img/sprite.svg#cards")
				.p-design__title Оплата пластиковыми картами
				div.p-design__cards
					img(src="img/p-design-2/visa.jpg" alt="" class="p-design__img")
					img(src="img/p-design-2/master.jpg" alt="" class="p-design__img")
					img(src="img/p-design-2/mir.jpg" alt="" class="p-design__img")
			.p-design__card
				.p-design__wrapper._red
					svg.p-design__icon._red
						use(xlink:href="img/sprite.svg#copy")
				.p-design__title Расчет для  ФИЗ.ЛИЦ по реквизитам Компании
				div Для физических лиц после заключения договора есть возможность безналичной оплаты как физ. лицо (на расчетный счет нашей компании) по реквизитам указанных в договоре
			.p-design__card
				.p-design__wrapper._red
					svg.p-design__icon._red
						use(xlink:href="img/sprite.svg#discount")
				.p-design__title Рассрочка или кредит
				div Вы можете приобрести нашу продукцию и услуги в рассрочку или кредит, заключив договор с одним из банков-партнеров, с которыми мы сотрудничаем.
			.p-design__card
				.p-design__wrapper._red
					svg.p-design__icon._red
						use(xlink:href="img/sprite.svg#scanner")
				.p-design__title Оплата по QR коду от Сбера
				div
					p Оплата как по терминалу, наведете своим телефоном и перейдете на оплату через Ваше онлайн приложение.
					p Приложение онлайн: <br>Сбер <br>Тинькофф <br>Совкомбанк
