section.fc-systems
	.container
		.fc-systems__container
			.fc-systems__left
				.s-title.fc-systems__title Фасадные системы остекления
				.fc-systems__text Мы подберем правильную профильную систему только от ведущих мировых брендов. Выбор алюминиевых систем большой по цене и качеству
				a(href="#callback" class="invert-btn invert-btn--white js-popup-call") Получить консультацию
			.fc-systems__right
				.fc-systems__slider
					.fc-systems__item
						img(src="img/fc-systems/sys-1.png" alt=""	class="fc-systems__img")
						.fc-systems__name Alutech
						.fc-systems__price Цена: <b>от <span>3200</span> ₽/м<sup>2</sup></b>
					.fc-systems__item
						img(src="img/fc-systems/sys-2.png" alt=""	class="fc-systems__img")
						.fc-systems__name Alumark
						.fc-systems__price Цена: <b>от <span>3200</span> ₽/м<sup>2</sup></b>
					.fc-systems__item
						img(src="img/fc-systems/sys-3.png" alt=""	class="fc-systems__img")
						.fc-systems__name Krauss
						.fc-systems__price Цена: <b>от <span>3200</span> ₽/м<sup>2</sup></b>
					.fc-systems__item
						img(src="img/fc-systems/sys-4.png" alt=""	class="fc-systems__img")
						.fc-systems__name СИАЛ
						.fc-systems__price Цена: <b>от <span>3200</span> ₽/м<sup>2</sup></b>
					.fc-systems__item
						img(src="img/fc-systems/sys-5.png" alt=""	class="fc-systems__img")
						.fc-systems__name Schüco
						.fc-systems__price Цена: <b>от <span>3200</span> ₽/м<sup>2</sup></b>
					.fc-systems__item
						img(src="img/fc-systems/sys-6.png" alt=""	class="fc-systems__img")
						.fc-systems__name Reynaers
						.fc-systems__price Цена: <b>от <span>3200</span> ₽/м<sup>2</sup></b>
					.fc-systems__item
						img(src="img/fc-systems/sys-7.png" alt=""	class="fc-systems__img")
						.fc-systems__name NewTec
						.fc-systems__price Цена: <b>от <span>3200</span> ₽/м<sup>2</sup></b>
					.fc-systems__item
						img(src="img/fc-systems/sys-8.png" alt=""	class="fc-systems__img")
						.fc-systems__name VIDNAL
						.fc-systems__price Цена: <b>от <span>3200</span> ₽/м<sup>2</sup></b>
