//- Алюминиевое остекление
extends ../layout.pug

block head-inner
	+title('Алюминиевое остекление')
	+desc('Алюминиевое остекление description')

block body-bottom-inner

block sections
	include ../blocks/al-main/al-main
	include ../blocks/breadcrumbs/breadcrumbs
	include ../blocks/unique/unique
	include ../blocks/al-cards/al-cards
	include ../blocks/fc-systems/fc-systems
	include ../blocks/al-cards/al-cards
	include ../blocks/fc-profiles/fc-profiles
	include ../blocks/r-portfolio/r-portfolio
	include ../blocks/al-producers/al-producers
	include ../blocks/t-bridge/t-bridge
	include ../blocks/ventilation/ventilation
	include ../blocks/al-construction/al-construction
	include ../blocks/al-peculiarities/al-peculiarities
	include ../blocks/al-compare/al-compare
	include ../blocks/al-types/al-types
	include ../blocks/al-minimum/al-minimum
	include ../blocks/al-catalog/al-catalog
	include ../blocks/al-furniture/al-furniture
	include ../blocks/al-color/al-color
	include ../blocks/al-schema/al-schema
	include ../blocks/al-terms/al-terms
	include ../blocks/fc-edge/fc-edge
	include ../blocks/fc-options/fc-options
	include ../blocks/faq/faq
	include ../blocks/fc-sphere/fc-sphere
	include ../blocks/seo/seo
	include ../blocks/benefits/benefits
	include ../blocks/certificate/certificate
	include ../blocks/call-measurer/call-measurer
