//- Фасады
extends ../layout.pug

block head-inner
	+title('Facade page')
	+desc('Facade page description')

block body-bottom-inner

block sections
	include ../blocks/breadcrumbs/breadcrumbs
	include ../blocks/fc-main/fc-main
	include ../blocks/fc-types/fc-types
	include ../blocks/fc-systems/fc-systems
	include ../blocks/fc-profiles/fc-profiles
	include ../blocks/r-portfolio/r-portfolio
	include ../blocks/fc-edge/fc-edge
	include ../blocks/fc-options/fc-options
	include ../blocks/faq/faq
	include ../blocks/fc-sphere/fc-sphere
	include ../blocks/seo/seo
	include ../blocks/benefits/benefits
	include ../blocks/certificate/certificate
	include ../blocks/call-measurer/call-measurer

