//- главная
extends ../layout.pug

block head-inner
	+title('Index page')
	+desc('Index page description')

block body-bottom-inner

block sections

	include ../blocks/header/header
	include ../blocks/f-screen/f-screen.pug
	include ../blocks/modal/modal
	include ../blocks/modal/modal-measurer
	//include ../blocks/infoblock/infoblock
	//include ../blocks/product-price/product-price
	//include ../blocks/windoors/windoors
	//include ../blocks/advantages/advantages
	//include ../blocks/our-works/our-works

