//- окна из лиственницы
extends ../layout.pug

block head-inner
	+title('Larch page')
	+desc('Larch page description')

block body-bottom-inner

block sections
	include ../blocks/f-screen/f-screen.pug
	include ../blocks/infoblock/infoblock
	include ../blocks/product-price/product-price
	include ../blocks/windoors/windoors
	include ../blocks/specifications/specifications