//- главная
extends ../layout.pug

block head-inner
	+title('Oak page')
	+desc('Oak page description')

block body-bottom-inner

block sections
	include ../blocks/f-screen/f-screen.pug
	include ../blocks/infoblock/infoblock
	include ../blocks/product-price/product-price
	include ../blocks/windoors/windoors
	include ../blocks/specifications/specifications
	//include ../blocks/works/works
	//include ../blocks/measurer/measurer
	//include ../blocks/footer/footer