//- главная
extends ../layout.pug

block head-inner
	+title('Rehau page')
	+desc('Rehau page description')

block body-bottom-inner

block sections
	include ../blocks/breadcrumbs/breadcrumbs
	include ../blocks/p-rehau/p-rehau
	include ../blocks/r-prices/r-prices
	include ../blocks/r-portfolio/r-portfolio
	include ../blocks/form-banner/form-banner
	include ../blocks/infoblock/infoblock
	include ../blocks/r-table/r-table
	include ../blocks/r-portfolio/r-portfolio
	include ../blocks/r-design/r-design
	include ../blocks/r-portfolio/r-portfolio
	include ../blocks/billet/billet
	include ../blocks/r-portfolio/r-portfolio
	include ../blocks/benefits/benefits
	include ../blocks/certificate/certificate
	include ../blocks/our-works/our-works
	include ../blocks/more/more
	include ../blocks/call-measurer/call-measurer
