section.fc-options.al-terms
	.container
		.s-title.t-center Примерные сроки изготовления алюминиевых конструкций
		.fc-options__wrapper
			table.fc-options__table
				thead._green
					tr
						th Производитель
						th Стандарт
						th Нестандарт
						th Двери
						th Арки
				tbody._gray
					tr
						td Alumark
						td 16 дней
						td по согласованию
						td 16 дней
						td по согласованию
					tr
						td Alutech
						td 16 дней
						td по согласованию
						td 16 дней
						td по согласованию


					tr
						td Krauss
						td 16 дней
						td по согласованию
						td 16 дней
						td по согласованию






