section.r-portfolio.al-cards
	.container
		.s-title Область применения
		.r-portfolio__container
			.r-portfolio__card.r-portfolio__card--md
				img(src="img/al-cards/img-1.jpg" alt="" class="r-portfolio__img")
				.r-portfolio__title Квартиры
				ul.r-portfolio__list
					li.r-portfolio__item • окна;
					li.r-portfolio__item • балконные блоки;
					li.r-portfolio__item • балконы;
					li.r-portfolio__item • лоджии.
			.r-portfolio__card.r-portfolio__card--lg
				img(src="img/al-cards/img-2.jpg" alt="" class="r-portfolio__img")
				.r-portfolio__title Частные дома
				ul.r-portfolio__list._flex
					li.r-portfolio__item._flex • окна;
					li.r-portfolio__item._flex • балконные блоки;
					li.r-portfolio__item._flex • терассы;
					li.r-portfolio__item._flex • веранды;
					li.r-portfolio__item._flex • зимние сады;
					li.r-portfolio__item._flex • второй свет.
			.r-portfolio__card.r-portfolio__card--md
				img(src="img/al-cards/img-3.jpg" alt="" class="r-portfolio__img")
				.r-portfolio__title Коммерческие здания
				ul.r-portfolio__list
					li.r-portfolio__item • промышленные помещения;
					li.r-portfolio__item • рестораны;
					li.r-portfolio__item • заправки;
					li.r-portfolio__item • офисные здания;
					li.r-portfolio__item • торговые центры;
					li.r-portfolio__item • магазины;
					li.r-portfolio__item • вокзалы.


