section.unique
	.container
		.s-title Уникальность продукта
		.unique__wrapper
			ul.unique__list
				li.unique__item
					.unique__title Теплозащита:
					| 0,58-1,00 м<sup>2</sup>С/Вт
				li.unique__item
					.unique__title Светопропускание:
					p • прозрачное стекло – 80%;
					p • мультифункциональное – 75%;
					p • сплёнкой (0-87%).
				li.unique__item
					.unique__title Удобство проветривания:
					p • откидное;
					p • поворотно-откидное;
					p • микропроветривание.
				li.unique__item
					.unique__title Удобство эксплуатации:
					p • легко моются;
					p • не требуют покраски;
					p • фурнитура обеспечивает плавность хода.
				li.unique__item
					.unique__title Звукоизоляция:
					p • до 43 дБ (Alutech W72);
					p • до 33 дБ (Alutech W62, Alumark S70, Kraus KRWD64).
				li.unique__item
					.unique__title Долговечность:
					| 0,58-1,00 м<sup>2</sup>С/Вт
				li.unique__item
					.unique__title Гарантия:
					| гарантия на изделие до 15 лет
				li.unique__item
					.unique__title Антивандальные свойства:
					p • возможность установки противовзломной фурнитуры (окна);
					p • установка ударопрочного стекла.
				li.unique__item
					.unique__title Преимущество алюминия по сравнению с ПВХ:
					p • более габаритные конструкции;
					p • износостойкость, рассчитано на большую проходимость в отличии от ПВХ;
					p • большая возможность конструктива.
				li.unique__item
					.unique__title Дизайнерские решения:
					p • комбинированные окна;
					p • крупногабаритные конструкции:
					p - по профилю – 3,5х3,5 м.;
					p - по стеклопакету – 2,4х4,5 м.
					p • арочные окна;
					p • витражные окна;
					p • витражный рисунок в стеклопакете;
					p • покраска в RAL;
					p • декорирование износостойкой плёнкой;
					p • использование декоративной раскладки.
