header.new-header
	.new-header__top
		a(href='/' class="new-header__logo")
			img(src='/img/header/oknaproekt-logo.png' alt='Окнапроект' class="new-header__logo-img")
			p.new-header__slogan
				span Нас советуют друзьям
		.new-header__social
			svg( class="rehau-logo" width='118' height='37' viewbox='0 0 118 37' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M8.46142 1.66455C6.14312 2.87706 3.77904 4.08546 1.80204 6.1159C-0.0376107 7.96959 -0.516253 11.1303 0.590868 13.5143C1.7808 15.8352 3.32494 17.9617 5.16919 19.8193C3.93274 13.574 5.10713 7.09794 8.46142 1.66455Z' fill='#37A58C')
				path(d='M6.5343 21.0276C8.81098 22.4539 11.0877 23.839 13.7348 24.4432C16.6233 25.0926 19.2953 23.9253 21.0018 21.6318C22.3306 19.468 23.3687 17.1427 24.0901 14.7144C19.2334 18.8958 12.9765 21.1459 6.5343 21.0276Z' fill='#DD0060')
				path(d='M23.649 3.60873C23.0971 2.61078 22.3057 1.76179 21.3442 1.13619C20.3827 0.510598 19.2805 0.127511 18.1342 0.0205239C15.542 -0.077418 12.9487 0.18407 10.4301 0.797351C16.1197 2.62639 21.8176 7.28325 24.702 12.6882C24.831 9.57674 24.9725 6.24747 23.649 3.60873Z' fill='#505050')
				path(d='M117.546 34.5462C117.892 33.6087 118.042 32.6119 117.988 31.6156V12.7087H111.432V31.4676C111.435 31.6458 111.402 31.8227 111.336 31.9883C111.269 32.1539 111.17 32.3049 111.045 32.4328C110.919 32.5607 110.769 32.6628 110.604 32.7335C110.438 32.8041 110.26 32.8419 110.08 32.8446H109.938C109.582 32.8683 109.23 32.752 108.961 32.5211C108.691 32.2901 108.525 31.9631 108.498 31.6115V12.7046H101.972V31.6115C101.909 32.6074 102.05 33.6057 102.388 34.5462C102.655 35.1087 103.045 35.6062 103.529 36.0033C104.013 36.4004 104.58 36.6873 105.189 36.8438C105.775 36.9522 106.37 37.0017 106.966 36.9918H112.956C113.554 37.0029 114.152 36.9561 114.741 36.852C115.352 36.6965 115.921 36.409 116.406 36.0103C116.891 35.6116 117.281 35.1115 117.546 34.5462Z' fill='black')
				path(d='M86.6382 12.6963C84.5197 12.6963 83.0421 14.5048 83.0588 16.6667V36.9917H89.7182V26.9011H92.4319V36.9917H99.0579V12.6963H86.6382ZM92.4235 22.7334H89.7223V17.8012C89.7223 16.901 90.0636 16.5681 90.8919 16.5681H92.4235V22.7334Z' fill='black')
				path(d='M73.4569 12.6963V22.7334H70.5434V12.6963H63.8549V36.9917H70.5559V26.9011H73.4277V36.9917H80.137V12.6963H73.4569Z' fill='black')
				path(d='M56.4213 17.3984H60.9663V12.6963H49.7036V36.9917H60.9746V32.2855H56.3963V26.9011H60.2795V22.7334H56.3963L56.4213 17.3984Z' fill='black')
				path(d='M43.4606 24.6864C44.3856 24.5174 45.2227 24.0373 45.8297 23.3277C46.4368 22.6181 46.7762 21.7228 46.7903 20.794V16.6838C46.7529 14.4849 45.1255 12.7134 43.3524 12.7134H30.6746V36.9923H37.2799V26.9018H38.9447C39.7772 26.9018 40.106 27.284 40.106 28.1636V36.9923H46.7903V28.6363C46.7903 26.4908 45.0381 24.8672 43.4606 24.6864ZM40.0768 21.5339C40.1018 22.2655 39.7896 22.7012 39.2444 22.7669H37.2716V16.6016H38.9364C39.7688 16.6016 40.1101 17.0126 40.0976 17.8347L40.0768 21.5339Z' fill='black')
			ul.new-header__social-list
				li.new-header__social-item
					a(href='https://vk.com/dom_rehau' class="new-header__social-link")
						svg(width='18' height='18' viewbox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
							g(clip-path='url(#clip0)')
								path(d='M17.8394 13.0253C17.7911 12.9443 17.4918 12.294 16.0517 10.9574C14.5441 9.55776 14.7466 9.78503 16.5625 7.36498C17.6684 5.89112 18.1106 4.99105 17.9722 4.60627C17.8406 4.23949 17.0271 4.33625 17.0271 4.33625L14.3224 4.352C14.3224 4.352 14.1222 4.325 13.9725 4.41388C13.8274 4.50164 13.734 4.70415 13.734 4.70415C13.734 4.70415 13.3054 5.84499 12.7338 6.81481C11.5289 8.86134 11.0462 8.96935 10.8493 8.84221C10.3914 8.54631 10.5062 7.65187 10.5062 7.01733C10.5062 5.0338 10.8065 4.20687 9.91998 3.9931C9.62521 3.92222 9.4092 3.87497 8.65652 3.86709C7.69119 3.85697 6.87326 3.87047 6.41085 4.09661C6.10258 4.24737 5.86519 4.58377 6.01032 4.6029C6.18921 4.62652 6.59424 4.71203 6.80913 5.00455C7.08703 5.38145 7.0769 6.22977 7.0769 6.22977C7.0769 6.22977 7.23666 8.56432 6.7045 8.85459C6.33885 9.05373 5.83818 8.64757 4.76373 6.79006C4.21356 5.83936 3.79728 4.78741 3.79728 4.78741C3.79728 4.78741 3.7174 4.59165 3.57452 4.48701C3.40125 4.35988 3.15824 4.31938 3.15824 4.31938L0.586297 4.33513C0.586297 4.33513 0.200394 4.34638 0.0586334 4.51401C-0.0673759 4.66365 0.0485077 4.97192 0.0485077 4.97192C0.0485077 4.97192 2.06241 9.68265 4.34182 12.0577C6.43335 14.2347 8.80728 14.0919 8.80728 14.0919H9.88286C9.88286 14.0919 10.208 14.0558 10.3734 13.877C10.5264 13.7127 10.5208 13.4044 10.5208 13.4044C10.5208 13.4044 10.4994 11.9609 11.17 11.7483C11.8304 11.539 12.6787 13.1434 13.5776 13.7611C14.2572 14.228 14.7736 14.1256 14.7736 14.1256L17.1779 14.0919C17.1779 14.0919 18.4357 14.0142 17.8394 13.0253Z' fill='#37A58C')
							defs
								clippath#clip0
									rect(width='18' height='18' fill='white')
				//
					<li class="new-header__social-item">
					<a href="https://www.instagram.com/oknaproekt/" class="new-header__social-link">
					<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M10.9396 0H4.06036C1.82144 0 0 1.82144 0 4.06036V10.9397C0 13.1785 1.82144 15 4.06036 15H10.9397C13.1785 15 15 13.1785 15 10.9397V4.06036C15 1.82144 13.1785 0 10.9396 0V0ZM7.49999 11.6014C5.23841 11.6014 3.39855 9.76156 3.39855 7.49999C3.39855 5.23841 5.23841 3.39855 7.49999 3.39855C9.76156 3.39855 11.6014 5.23841 11.6014 7.49999C11.6014 9.76156 9.76156 11.6014 7.49999 11.6014ZM11.6995 4.3658C11.0312 4.3658 10.4876 3.8222 10.4876 3.15387C10.4876 2.48554 11.0312 1.94183 11.6995 1.94183C12.3678 1.94183 12.9115 2.48554 12.9115 3.15387C12.9115 3.8222 12.3678 4.3658 11.6995 4.3658Z" fill="#37A58C"/>
					<path d="M7.49997 4.27783C5.72339 4.27783 4.27789 5.72322 4.27789 7.49991C4.27789 9.27649 5.72339 10.722 7.49997 10.722C9.27666 10.722 10.7221 9.27649 10.7221 7.49991C10.7221 5.72322 9.27666 4.27783 7.49997 4.27783Z" fill="#37A58C"/>
					<path d="M11.6995 2.82129C11.5162 2.82129 11.367 2.97052 11.367 3.15385C11.367 3.33719 11.5162 3.48642 11.6995 3.48642C11.883 3.48642 12.0322 3.3373 12.0322 3.15385C12.0322 2.97041 11.883 2.82129 11.6995 2.82129Z" fill="#37A58C"/>
					</svg>
					</a>
					</li>
				li.new-header__social-item
					a(href='https://www.youtube.com/channel/UCm8ycIykvZFOedy-x1lI77w' class="new-header__social-link")
						svg(width='17' height='17' viewbox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M16.132 4.51659C15.9484 3.83382 15.4101 3.2956 14.7274 3.11175C13.4802 2.77051 8.4915 2.77051 8.4915 2.77051C8.4915 2.77051 3.50296 2.77051 2.2558 3.09881C1.58626 3.28246 1.03481 3.83392 0.851154 4.51659C0.522949 5.76365 0.522949 8.3499 0.522949 8.3499C0.522949 8.3499 0.522949 10.9492 0.851154 12.1832C1.035 12.8659 1.57313 13.4041 2.2559 13.5879C3.51609 13.9293 8.4917 13.9293 8.4917 13.9293C8.4917 13.9293 13.4802 13.9293 14.7274 13.601C15.4102 13.4172 15.9484 12.879 16.1322 12.1963C16.4604 10.9492 16.4604 8.36303 16.4604 8.36303C16.4604 8.36303 16.4735 5.76365 16.132 4.51659ZM6.9032 10.7392V5.96063L11.0516 8.3499L6.9032 10.7392Z' fill='#37A58C')
		.new-header__info
			p.new-header__info-item
				svg(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M8 0C3.58873 0 0 3.58873 0 8C0 12.4113 3.58873 16 8 16C12.4113 16 16 12.4113 16 8C16 3.58873 12.4113 0 8 0ZM8 14.2514C4.55291 14.2514 1.74863 11.4471 1.74863 8C1.74863 4.55308 4.55291 1.74863 8 1.74863C11.4471 1.74863 14.2514 4.55308 14.2514 8C14.2514 11.4471 11.4471 14.2514 8 14.2514Z' fill='#3E3C3C')
					path(d='M8.69246 8.00975V4.65677C8.69246 4.28239 8.38908 3.979 8.01483 3.979C7.64048 3.979 7.33707 4.28239 7.33707 4.65677V8.22627C7.33707 8.23693 7.33969 8.24693 7.34021 8.25759C7.33129 8.44188 7.39478 8.629 7.53553 8.76978L10.0597 11.2938C10.3245 11.5585 10.7536 11.5585 11.0181 11.2938C11.2827 11.029 11.2829 10.5999 11.0181 10.3353L8.69246 8.00975Z' fill='#3E3C3C')
				| Режим работы: c 9.00-22.00
			a(href='mailto:info@oknaproekt.ru' class="new-header__info-item")
				svg(width='20' height='16' viewbox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M17.4724 0.675293H2.52761C1.13391 0.675293 0 1.80921 0 3.2029V12.7976C0 14.1913 1.13391 15.3252 2.52761 15.3252H17.4724C18.8661 15.3252 20 14.1913 20 12.7976V3.2029C20 1.80921 18.8661 0.675293 17.4724 0.675293ZM17.0775 2.30573L10 7.77301L2.9225 2.30573H17.0775ZM17.4724 13.6949H2.52761C2.03293 13.6949 1.63043 13.2924 1.63043 12.7977V3.3679L9.50163 9.44834C9.64837 9.56171 9.82424 9.61834 10 9.61834C10.1758 9.61834 10.3516 9.56171 10.4984 9.44834L18.3696 3.3679V12.7976C18.3696 13.2924 17.9671 13.6949 17.4724 13.6949Z' fill='#3E3C3C')
				| info@oknaproekt.ru
			p.new-header__info-where
				| Мы работаем
				span
					|  по Москве и МО
			a.new-header__info-item(href='https://wa.me/79854399934' rel='nofollow,noindex')
				svg(viewbox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg' class="whatsapp-icon")
						path(d='M0.53413 23C0.40498 23 0.279339 22.9489 0.186161 22.8547C0.0633277 22.7305 0.0159492 22.5501 0.0620994 22.3814L1.55733 16.9213C0.62643 15.238 0.135624 13.3337 0.136326 11.4007C0.138958 5.11425 5.25479 0 11.5407 0C14.5896 0.00122833 17.4544 1.18885 19.6077 3.3437C21.7606 5.49872 22.9458 8.36337 22.9449 11.4098C22.9421 17.6964 17.8262 22.811 11.5407 22.811C11.5407 22.811 11.536 22.811 11.5358 22.811C9.69977 22.8103 7.87956 22.3628 6.25886 21.5153L0.658192 22.984C0.61713 22.9947 0.575367 23 0.53413 23Z' fill='#E5E5E5')
						path(d='M0.534546 22.5105L2.08295 16.8561C1.12783 15.2012 0.625443 13.3239 0.626144 11.4007C0.628601 5.38416 5.52473 0.489258 11.5411 0.489258C14.4607 0.490486 17.2011 1.62687 19.2619 3.68942C21.3225 5.75196 22.4569 8.4936 22.4559 11.4095C22.4533 17.4259 17.5564 22.3215 11.5411 22.3215C11.5408 22.3215 11.5413 22.3215 11.5411 22.3215H11.5364C9.70966 22.3208 7.91489 21.8626 6.32069 20.9931L0.534546 22.5105ZM6.58865 19.0178L6.92012 19.2141C8.3127 20.0406 9.90936 20.4777 11.5376 20.4786H11.5411C16.5411 20.4786 20.6108 16.4097 20.6129 11.4088C20.6137 8.98528 19.6711 6.70638 17.9583 4.99215C16.2453 3.27792 13.9678 2.33334 11.5444 2.33228C6.54039 2.33228 2.47092 6.4007 2.46899 11.4014C2.46829 13.1151 2.94769 14.7839 3.85596 16.2281L4.07179 16.5713L3.15511 19.918L6.58865 19.0178Z' fill='white')
						path(d='M0.914001 22.1295L2.40888 16.6706C1.48658 15.0731 1.00174 13.2606 1.00227 11.4043C1.00455 5.596 5.73135 0.870605 11.5391 0.870605C14.3579 0.871834 17.0036 1.96891 18.9926 3.96004C20.9821 5.95116 22.0771 8.59787 22.0761 11.4125C22.0736 17.2209 17.3466 21.9469 11.5396 21.9469C11.5391 21.9469 11.5398 21.9469 11.5396 21.9469H11.5349C9.77151 21.9462 8.03868 21.5036 6.49976 20.6648L0.914001 22.1295Z' fill='#64B161')
						path(d='M0.534546 22.5105L2.08295 16.8561C1.12783 15.2012 0.625443 13.3239 0.626144 11.4007C0.628601 5.38416 5.52473 0.489258 11.5411 0.489258C14.4607 0.490486 17.2011 1.62687 19.2619 3.68942C21.3225 5.75196 22.4569 8.4936 22.4559 11.4095C22.4533 17.4259 17.5564 22.3215 11.5411 22.3215C11.5408 22.3215 11.5413 22.3215 11.5411 22.3215H11.5364C9.70966 22.3208 7.91489 21.8626 6.32069 20.9931L0.534546 22.5105ZM6.58865 19.0178L6.92012 19.2141C8.3127 20.0406 9.90936 20.4777 11.5376 20.4786H11.5411C16.5411 20.4786 20.6108 16.4097 20.6129 11.4088C20.6137 8.98528 19.6711 6.70638 17.9583 4.99215C16.2453 3.27792 13.9678 2.33334 11.5444 2.33228C6.54039 2.33228 2.47092 6.4007 2.46899 11.4014C2.46829 13.1151 2.94769 14.7839 3.85596 16.2281L4.07179 16.5713L3.15511 19.918L6.58865 19.0178Z' fill='white')
						path(fill-rule='evenodd' clip-rule='evenodd' d='M8.81325 6.83898C8.609 6.38484 8.39387 6.37572 8.19944 6.36782C8.04046 6.36098 7.85849 6.36133 7.67687 6.36133C7.49508 6.36133 7.19958 6.42977 6.9497 6.70263C6.69965 6.9755 5.99493 7.63529 5.99493 8.97715C5.99493 10.3192 6.97234 11.6158 7.10868 11.7979C7.24502 11.9799 8.9954 14.8216 11.7674 15.9148C14.0712 16.8234 14.5399 16.6427 15.04 16.5972C15.5401 16.5518 16.6535 15.9374 16.8808 15.3006C17.1082 14.6638 17.1082 14.1181 17.0399 14.0038C16.9717 13.8903 16.7899 13.822 16.5172 13.6857C16.2445 13.5494 14.9037 12.8894 14.6536 12.7985C14.4036 12.7074 14.2218 12.6622 14.04 12.9352C13.858 13.2079 13.3358 13.822 13.1766 14.0038C13.0175 14.1862 12.8583 14.209 12.5856 14.0725C12.3129 13.9358 11.4345 13.648 10.3925 12.7188C9.58184 11.996 9.03435 11.1032 8.8752 10.8302C8.71622 10.5575 8.87256 10.4227 8.99505 10.2737C9.21562 10.0054 9.5857 9.52306 9.67659 9.34127C9.76749 9.15912 9.72204 8.99997 9.65396 8.86345C9.5857 8.7271 9.05559 7.37839 8.81325 6.83898Z' fill='white')
				| Связаться
				strong по Whatsapp
		.new-header__elem-wrapper
			a(href='#size' class="new-header__free-m new-btn-svg js-popup-call")
				svg(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M15.1989 0.138039L12.0086 3.32833L13.327 4.64667C13.5104 4.83009 13.5104 5.12744 13.327 5.31086C13.1436 5.49424 12.8462 5.49427 12.6628 5.31086L11.3444 3.99248L10.0048 5.33215L11.3231 6.65049C11.5065 6.83391 11.5065 7.13126 11.3231 7.31468C11.1397 7.49806 10.8423 7.49809 10.6589 7.31468L9.34054 5.9963L8.00087 7.33597L9.31922 8.65431C9.50263 8.83773 9.50263 9.13508 9.31922 9.3185C9.13583 9.50188 8.83845 9.50191 8.65504 9.3185L7.33666 8.00012L5.99699 9.33979L7.31534 10.6581C7.49875 10.8415 7.49875 11.1389 7.31534 11.3223C7.13195 11.5057 6.83457 11.5057 6.65115 11.3223L5.33278 10.0039L3.99311 11.3436L5.31145 12.662C5.49487 12.8454 5.49487 13.1427 5.31145 13.3261C5.12807 13.5095 4.83069 13.5096 4.64727 13.3261L3.32889 12.0078L0.138732 15.1982C-0.156272 15.4932 0.053005 16 0.470808 16H15.531C15.7904 16 16.0007 15.7897 16.0007 15.5303V0.470146C16.0007 0.0529382 15.4944 -0.157372 15.1989 0.138039ZM12.9636 12.4933C12.9636 12.7526 12.7533 12.9629 12.4939 12.9629H8.23576C7.81877 12.9629 7.60806 12.4568 7.90369 12.1611L12.1619 7.90296C12.4569 7.60793 12.9636 7.81727 12.9636 8.23507V12.4933Z')
				| &#x9;&#x9;&#x9;&#x9;&#x9;&Bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ycy;&jcy; &zcy;&acy;&mcy;&iecy;&rcy;
			.new-header__cities
				span &Vcy;&acy;&shcy; &Gcy;&ocy;&rcy;&ocy;&dcy;:
				.new-header__dropdown
					.new-header__dropbtn &Kcy;&rcy;&acy;&scy;&ncy;&ocy;&gcy;&ocy;&rcy;&scy;&kcy;
					ul.new-header__cities-list
						li.new-header__cities-item
							a &Kcy;&rcy;&acy;&scy;&ncy;&ocy;&gcy;&ocy;&rcy;&scy;&kcy;
						li.new-header__cities-item
							a(href='https://msk.oknaproekt.ru' target='_blank') &Mcy;&ocy;&scy;&kcy;&vcy;&acy;
						li.new-header__cities-item
							a(href='https://balashiha.oknaproekt.ru' target='_blank') &Bcy;&acy;&lcy;&acy;&shcy;&icy;&khcy;&acy;
						li.new-header__cities-item
							a(href='https://odincovo.oknaproekt.ru' target='_blank') &Ocy;&dcy;&icy;&ncy;&tscy;&ocy;&vcy;&ocy;
						li.new-header__cities-item
							a(href='https://dolgoprudnyj.oknaproekt.ru' target='_blank') &Dcy;&ocy;&lcy;&gcy;&ocy;&pcy;&rcy;&ucy;&dcy;&ncy;&ycy;&jcy;
						li.new-header__cities-item
							a(href='https://himki.oknaproekt.ru' target='_blank') &KHcy;&icy;&mcy;&kcy;&icy;
		.new-header__call
			a.new-header__phone(href='tel:+74950032636')
				| +7 (495)
				span 003 26 36
			a.new-btn-svg.new-btn-svg--red.js-popup-call(href='#callback')
				svg(width='17' height='17' viewbox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg')
					g(clip-path='url(#clip0)')
						path(d='M16.5372 12.4763L14.1648 10.1039C13.3175 9.2566 11.8771 9.59555 11.5382 10.697C11.284 11.4596 10.4368 11.8832 9.6742 11.7137C7.97963 11.2901 5.69196 9.08714 5.26831 7.30784C5.01413 6.54525 5.5225 5.69797 6.28506 5.44381C7.38653 5.1049 7.72544 3.66451 6.87816 2.81723L4.50576 0.444825C3.82793 -0.148275 2.81118 -0.148275 2.21808 0.444825L0.608241 2.05467C-1.0016 3.74924 0.777698 8.23986 4.75994 12.2221C8.74219 16.2043 13.2328 18.0684 14.9274 16.3738L16.5372 14.764C17.1304 14.0861 17.1304 13.0694 16.5372 12.4763Z')
					defs
						clippath#clip0
							rect(width='17' height='17' fill='white')
				| &#x9;&#x9;&#x9;&#x9;&#x9;&Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &zcy;&vcy;&ocy;&ncy;&ocy;&kcy;
	.stellarnav
		//a.corona-link(href='/koronavirus/')
		//	span.pulse
		//	img.corona-img(src='/wp-content/uploads/2020/05/corono-link.png')
		ul
			a.close-menu.full(href='#')
				span.icon-close
				| &Zcy;&acy;&kcy;&rcy;&ycy;&tcy;&softcy;
			li.mob-cities
				.new-header__cities
					span &Vcy;&acy;&shcy; &Gcy;&ocy;&rcy;&ocy;&dcy;:
					.new-header__dropdown
						.new-header__dropbtn &Kcy;&rcy;&acy;&scy;&ncy;&ocy;&gcy;&ocy;&rcy;&scy;&kcy;
						ul.new-header__cities-list
							li.new-header__cities-item
								a &Kcy;&rcy;&acy;&scy;&ncy;&ocy;&gcy;&ocy;&rcy;&scy;&kcy;
							li.new-header__cities-item
								a(href='https://msk.oknaproekt.ru' target='_blank') &Mcy;&ocy;&scy;&kcy;&vcy;&acy;
							li.new-header__cities-item
								a(href='https://balashiha.oknaproekt.ru' target='_blank') &Bcy;&acy;&lcy;&acy;&shcy;&icy;&khcy;&acy;
							li.new-header__cities-item
								a(href='https://odincovo.oknaproekt.ru' target='_blank') &Ocy;&dcy;&icy;&ncy;&tscy;&ocy;&vcy;&ocy;
							li.new-header__cities-item
								a(href='https://dolgoprudnyj.oknaproekt.ru' target='_blank') &Dcy;&ocy;&lcy;&gcy;&ocy;&pcy;&rcy;&ucy;&dcy;&ncy;&ycy;&jcy;
							li.new-header__cities-item
								a(href='https://himki.oknaproekt.ru' target='_blank') &KHcy;&icy;&mcy;&kcy;&icy;
			li.has-sub
				a.menu__link(href='#')  &Ocy;&kcy;&ncy;&acy;
				ul(style='display: none;')
					li
						a.submenu__link(href='/produkciya/profil')  &Pcy;&rcy;&ocy;&fcy;&icy;&lcy;&softcy; Rehau
					li
						a.submenu__link(href='/stoimost-okon-po-tipu-doma')  &Ocy;&kcy;&ncy;&acy; &pcy;&ocy; &tcy;&icy;&pcy;&ucy; &dcy;&ocy;&mcy;&ocy;&vcy;
					li
						a.submenu__link(href='/colored-windows')  &Lcy;&acy;&mcy;&icy;&ncy;&acy;&tscy;&icy;&yacy; &pcy;&lcy;&acy;&scy;&tcy;&icy;&kcy;&ocy;&vcy;&ycy;&khcy; &ocy;&kcy;&ocy;&ncy;
					li
						a.submenu__link(href='/produkciya/cvetnye-okna-2')  &TScy;&vcy;&iecy;&tcy;&ncy;&ycy;&iecy; &ocy;&kcy;&ncy;&acy;
					li
						a.submenu__link(href='/produkciya/figurnye-i-arochnye-okna')  &Fcy;&icy;&gcy;&ucy;&rcy;&ncy;&ycy;&iecy; &icy; &acy;&rcy;&ocy;&chcy;&ncy;&ycy;&iecy; &ocy;&kcy;&ncy;&acy;
					li
						a.submenu__link(href='/alyuminievye-okna-i-dveri')  &Acy;&lcy;&yucy;&mcy;&icy;&ncy;&icy;&iecy;&vcy;&ycy;&iecy; &ocy;&kcy;&ncy;&acy; &icy; &dcy;&vcy;&iecy;&rcy;&icy;
					li.drop-right.has-sub
						a.submenu__link(href='/derevyannye-okna')  &Dcy;&iecy;&rcy;&iecy;&vcy;&yacy;&ncy;&ncy;&ycy;&iecy; &ocy;&kcy;&ncy;&acy;
						ul
							li
								a.submenu__link(href='/okna-iz-sosny/')  &Ocy;&kcy;&ncy;&acy; &icy;&zcy; &scy;&ocy;&scy;&ncy;&ycy;
							li
								a.submenu__link(href='/okna-iz-listvennicy/')  &Ocy;&kcy;&ncy;&acy; &icy;&zcy;  &lcy;&icy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&icy;&tscy;&ycy;
							li
								a.submenu__link(href='/okna-iz-duba/')  &Ocy;&kcy;&ncy;&acy; &icy;&zcy; &dcy;&ucy;&bcy;&acy;
							li
								a.submenu__link(href='/derevo-alyuminievye-okna/')  &Dcy;&iecy;&rcy;&iecy;&vcy;&ocy;-&acy;&lcy;&yucy;&mcy;&icy;&ncy;&icy;&iecy;&vcy;&ycy;&iecy; &ocy;&kcy;&ncy;&acy;
						a.dd-toggle(href='#')
							span.icon-plus
					li
						a.submenu__link(href='/odnokamernye-okna/')  &Ocy;&dcy;&ncy;&ocy;&kcy;&acy;&mcy;&iecy;&rcy;&ncy;&ycy;&iecy; &ocy;&kcy;&ncy;&acy;
					li
						a.submenu__link(href='/odnostvorchatye-okna/')  &Ocy;&dcy;&ncy;&ocy;&scy;&tcy;&vcy;&ocy;&rcy;&chcy;&acy;&tcy;&ycy;&iecy; &ocy;&kcy;&ncy;&acy;
					li
						a.submenu__link(href='/dvuxkamernye-okna/')  &Dcy;&vcy;&ucy;&khcy;&kcy;&acy;&mcy;&iecy;&rcy;&ncy;&ycy;&iecy; &ocy;&kcy;&ncy;&acy;
					li
						a.submenu__link(href='/dvuxstvorchatye-plastikovye-okna/')  &Dcy;&vcy;&ucy;&khcy;&scy;&tcy;&vcy;&ocy;&rcy;&chcy;&acy;&tcy;&ycy;&iecy; &ocy;&kcy;&ncy;&acy;
					li
						a.submenu__link(href='/ceny-na-okna/')  &TScy;&iecy;&ncy;&ycy; &ncy;&acy; &ocy;&kcy;&ncy;&acy;
				a.dd-toggle(href='#')
					span.icon-plus
			li.has-sub
				a.menu__link(href='/osteklenie-balkonov-i-lodzhij/')  &Bcy;&acy;&lcy;&kcy;&ocy;&ncy;&ycy;
				ul
					li
						a.submenu__link(href='/osteklenie-balkonov-i-lodzhij/holodnoe/')  &KHcy;&ocy;&lcy;&ocy;&dcy;&ncy;&ocy;&iecy; &ocy;&scy;&tcy;&iecy;&kcy;&lcy;&iecy;&ncy;&icy;&iecy; &bcy;&acy;&lcy;&kcy;&ocy;&ncy;&ocy;&vcy;
					li
						a.submenu__link(href='/osteklenie-balkonov-i-lodzhij/poluteploe/')  &Pcy;&ocy;&lcy;&ucy;&tcy;&iecy;&pcy;&lcy;&ocy;&iecy; &ocy;&scy;&tcy;&iecy;&kcy;&lcy;&iecy;&ncy;&icy;&iecy; &bcy;&acy;&lcy;&kcy;&ocy;&ncy;&ocy;&vcy;
					li
						a.submenu__link(href='/osteklenie-balkonov-i-lodzhij/teploe/')  &Tcy;&iecy;&pcy;&lcy;&ocy;&iecy; &ocy;&scy;&tcy;&iecy;&kcy;&lcy;&iecy;&ncy;&icy;&iecy; &bcy;&acy;&lcy;&kcy;&ocy;&ncy;&ocy;&vcy;
					li
						a.submenu__link(href='/osteklenie-balkonov-i-lodzhij/francuzskoe/')  &Fcy;&rcy;&acy;&ncy;&tscy;&ucy;&zcy;&scy;&kcy;&ocy;&iecy; &ocy;&scy;&tcy;&iecy;&kcy;&lcy;&iecy;&ncy;&icy;&iecy; &bcy;&acy;&lcy;&kcy;&ocy;&ncy;&ocy;&vcy;
					li
						a.submenu__link(href='/osteklenie-balkonov-i-lodzhij/panoramnoe-osteklenie-balkonov/')  &Pcy;&acy;&ncy;&ocy;&rcy;&acy;&mcy;&ncy;&ocy;&iecy; &ocy;&scy;&tcy;&iecy;&kcy;&lcy;&iecy;&ncy;&icy;&iecy; &bcy;&acy;&lcy;&kcy;&ocy;&ncy;&ocy;&vcy;
					li
						a.submenu__link(href='/otdelka-balkonov-i-lodzhij/')  &Ocy;&tcy;&dcy;&iecy;&lcy;&kcy;&acy; &bcy;&acy;&lcy;&kcy;&ocy;&ncy;&ocy;&vcy; &icy; &lcy;&ocy;&dcy;&zhcy;&icy;&jcy;
					li
						a.submenu__link(href='/osteklenie-balkona-po-tipu-doma/')  &Ocy;&scy;&tcy;&iecy;&kcy;&lcy;&iecy;&ncy;&icy;&iecy; &bcy;&acy;&lcy;&kcy;&ocy;&ncy;&acy; &pcy;&ocy; &tcy;&icy;&pcy;&ucy; &dcy;&ocy;&mcy;&acy;
					li
						a.submenu__link(href='/osteklenie-s-vynosom-podokonnika/')  &Ocy;&scy;&tcy;&iecy;&kcy;&lcy;&iecy;&ncy;&icy;&iecy; &scy; &vcy;&ycy;&ncy;&ocy;&scy;&ocy;&mcy; &pcy;&ocy;&dcy;&ocy;&kcy;&ocy;&ncy;&ncy;&icy;&kcy;&acy;
					li
						a.submenu__link(href='/balkony/vneshnyaya-otdelka-balkona-sajdingom')  &Scy;&acy;&jcy;&dcy;&icy;&ncy;&gcy; &bcy;&acy;&lcy;&kcy;&ocy;&ncy;&acy;
					li
						a.submenu__link(href='/ceny-na-balkony/')  &TScy;&iecy;&ncy;&ycy; &ncy;&acy; &bcy;&acy;&lcy;&kcy;&ocy;&ncy;&ycy;
				a.dd-toggle(href='#')
					span.icon-plus
			li.has-sub
				a.menu__link(href='#')  &Dcy;&vcy;&iecy;&rcy;&icy;
				ul
					li
						a.submenu__link(href='/drugaya-produkciya/vxodnye-dveri-pvx/')  &Vcy;&khcy;&ocy;&dcy;&ncy;&ycy;&iecy; &dcy;&vcy;&iecy;&rcy;&icy; &Pcy;&Vcy;&KHcy;
					li
						a.submenu__link(href='/drugaya-produkciya/alyuminievye-dveri/')  &Acy;&lcy;&yucy;&mcy;&icy;&ncy;&icy;&iecy;&vcy;&ycy;&iecy; &dcy;&vcy;&iecy;&rcy;&icy;
					li
						a.submenu__link(href='/balkonnye-plastikovye-dveri/')  &Bcy;&acy;&lcy;&kcy;&ocy;&ncy;&ncy;&ycy;&iecy; &pcy;&lcy;&acy;&scy;&tcy;&icy;&kcy;&ocy;&vcy;&ycy;&iecy; &dcy;&vcy;&iecy;&rcy;&icy;
					li
						a.submenu__link(href='/razdvizhnye-dveri/ ')  &Rcy;&acy;&zcy;&dcy;&vcy;&icy;&zhcy;&ncy;&ycy;&iecy; &scy;&icy;&scy;&tcy;&iecy;&mcy;&ycy;
					li
						a.submenu__link(href='/ps-psk-portaly/')  PS PSK &pcy;&ocy;&rcy;&tcy;&acy;&lcy;&ycy;
					li
						a.submenu__link(href='/hst-portaly/')  HST &pcy;&ocy;&rcy;&tcy;&acy;&lcy;&ycy;
					li
						a.submenu__link(href='/fs-portaly/')  FS &Pcy;&ocy;&rcy;&tcy;&acy;&lcy;&ycy;
				a.dd-toggle(href='#')
					span.icon-plus
			li.has-sub
				a.menu__link(href='/drugaya-produkciya/')  &Dcy;&rcy;&ucy;&gcy;&acy;&yacy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&yacy;
				ul
					li
						a.submenu__link(href='/produkciya/steklopakety/')  &Scy;&tcy;&iecy;&kcy;&lcy;&ocy;&pcy;&acy;&kcy;&iecy;&tcy;&ycy;
					li
						a.submenu__link(href='/podokonniki/')  &Pcy;&ocy;&dcy;&ocy;&kcy;&ocy;&ncy;&ncy;&icy;&kcy;&icy;
					li
						a.submenu__link(href='/produkciya/furnitura/')  &Fcy;&ucy;&rcy;&ncy;&icy;&tcy;&ucy;&rcy;&acy;
					li
						a.submenu__link(href='/ofisnye-peregorodki/')  &Ocy;&fcy;&icy;&scy;&ncy;&ycy;&iecy; &pcy;&iecy;&rcy;&iecy;&gcy;&ocy;&rcy;&ocy;&dcy;&kcy;&icy; &Pcy;&Vcy;&KHcy;
					li
						a.submenu__link(href='/peregorodki/')  &Pcy;&iecy;&rcy;&iecy;&gcy;&ocy;&rcy;&ocy;&dcy;&kcy;&icy;
					li
						a.submenu__link(href='/drugaya-produkciya/osteklenie-terras/')  &Ocy;&scy;&tcy;&iecy;&kcy;&lcy;&iecy;&ncy;&icy;&iecy; &tcy;&iecy;&rcy;&rcy;&acy;&scy;
					li
						a.submenu__link(href='/drugaya-produkciya/osteklenie-besedok-verand/')  &Ocy;&scy;&tcy;&iecy;&kcy;&lcy;&iecy;&ncy;&icy;&iecy; &bcy;&iecy;&scy;&iecy;&dcy;&ocy;&kcy;/&vcy;&iecy;&rcy;&acy;&ncy;&dcy;
					li
						a.submenu__link(href='/drugaya-produkciya/zimnie-sady/')  &Zcy;&icy;&mcy;&ncy;&icy;&iecy; &Scy;&acy;&dcy;&ycy;
				a.dd-toggle(href='#')
					span.icon-plus
			li.has-sub
				a.menu__link(href='/uslugi/')  &Ucy;&scy;&lcy;&ucy;&gcy;&icy;
				ul
					li
						a.submenu__link(href='/osteklenie-zagorodnogo-doma/')  &Ocy;&scy;&tcy;&iecy;&kcy;&lcy;&iecy;&ncy;&icy;&iecy; &zcy;&acy;&gcy;&ocy;&rcy;&ocy;&dcy;&ncy;&ocy;&gcy;&ocy; &dcy;&ocy;&mcy;&acy;
					li
						a.submenu__link(href='/uslugi/osteklenie-kottedzhej/')  &Ocy;&scy;&tcy;&iecy;&kcy;&lcy;&iecy;&ncy;&icy;&iecy; &kcy;&ocy;&tcy;&tcy;&iecy;&dcy;&zhcy;&iecy;&jcy;
					li
						a.submenu__link(href='/okosyachka-i-vypilivanie-proyomov/')  &Ocy;&kcy;&ocy;&scy;&yacy;&chcy;&kcy;&acy; &icy; &vcy;&ycy;&pcy;&icy;&lcy;&icy;&vcy;&acy;&ncy;&icy;&iecy; &pcy;&rcy;&ocy;&iocy;&mcy;&ocy;&vcy;
					li
						a.submenu__link(href='/kalkuljator-plastikovyh-okon/')  &Kcy;&acy;&lcy;&softcy;&kcy;&ucy;&lcy;&yacy;&tcy;&ocy;&rcy; &pcy;&lcy;&acy;&scy;&tcy;&icy;&kcy;&ocy;&vcy;&ycy;&khcy; &ocy;&kcy;&ocy;&ncy;
					li
						a.submenu__link(href='/uslugi/kalkuljator-osteklenija-balkonov/')  &Kcy;&acy;&lcy;&softcy;&kcy;&ucy;&lcy;&yacy;&tcy;&ocy;&rcy; &ocy;&scy;&tcy;&iecy;&kcy;&lcy;&iecy;&ncy;&icy;&yacy; &bcy;&acy;&lcy;&kcy;&ocy;&ncy;&ocy;&vcy;
					li
						a.submenu__link(href='/kalkuljator-otdelki-balkonov/')  &Kcy;&acy;&lcy;&softcy;&kcy;&ucy;&lcy;&yacy;&tcy;&ocy;&rcy; &ocy;&tcy;&dcy;&iecy;&lcy;&kcy;&icy; &bcy;&acy;&lcy;&kcy;&ocy;&ncy;&ocy;&vcy;
					li
						a.submenu__link(href='/fasadnoe-osteklenie/')  &Fcy;&acy;&scy;&acy;&dcy;&ncy;&ocy;&iecy; &ocy;&scy;&tcy;&iecy;&kcy;&lcy;&iecy;&ncy;&icy;&iecy;
					li
						a.submenu__link(href='/tendernye-zakazy/')  &Tcy;&iecy;&ncy;&dcy;&iecy;&rcy;&ncy;&ycy;&iecy; &zcy;&acy;&kcy;&acy;&zcy;&ycy;
					li
						a.submenu__link(href='/remont-okon/')  &Rcy;&iecy;&mcy;&ocy;&ncy;&tcy; &ocy;&kcy;&ocy;&ncy;
					li
						a.submenu__link(href='/vyvoz-musora/')  &Vcy;&ycy;&vcy;&ocy;&zcy; &mcy;&ucy;&scy;&ocy;&rcy;&acy;
					li
						a.submenu__link(href='/gk/sao')  &Ocy;&scy;&tcy;&iecy;&kcy;&lcy;&iecy;&ncy;&icy;&iecy; &ncy;&ocy;&vcy;&ocy;&scy;&tcy;&rcy;&ocy;&iecy;&kcy;
				a.dd-toggle(href='#')
					span.icon-plus
			li.has-sub
				a.menu__link(href='#')  &Ocy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy;
				ul
					li
						a.submenu__link(href='/o-nas/')  &Ocy; &ncy;&acy;&scy;
					li
						a.submenu__link(href='/sertifikaty/')  &Scy;&iecy;&rcy;&tcy;&icy;&fcy;&icy;&kcy;&acy;&tcy;&ycy;
					li
						a.submenu__link(href='/products/')  &Gcy;&acy;&lcy;&iecy;&rcy;&iecy;&yacy; &rcy;&acy;&bcy;&ocy;&tcy;
					li
						a.submenu__link(href='/kak-zakazat-plastikovye-okna/')  &Kcy;&acy;&kcy; &zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &pcy;&lcy;&acy;&scy;&tcy;&icy;&kcy;&ocy;&vcy;&ycy;&iecy; &ocy;&kcy;&ncy;&acy;
					li
						a.submenu__link(href='/garantiya-na-okna/')  &Gcy;&acy;&rcy;&acy;&ncy;&tcy;&icy;&yacy; &ncy;&acy; &ocy;&kcy;&ncy;&acy;
					li
						a.submenu__link(href='/napisat-direktoru/')  &Ncy;&acy;&pcy;&icy;&scy;&acy;&tcy;&softcy; &dcy;&icy;&rcy;&iecy;&kcy;&tcy;&ocy;&rcy;&ucy;
					li
						a.submenu__link(href='/otzyvy/')  &Ocy;&tcy;&zcy;&ycy;&vcy;&ycy;
					li
						a.submenu__link(href='/video-otzyvy/')  &Vcy;&icy;&dcy;&iecy;&ocy; &Ocy;&tcy;&zcy;&ycy;&vcy;&ycy;
					li
						a.submenu__link(href='/video-rabot/')  &Vcy;&icy;&dcy;&iecy;&ocy; &Rcy;&acy;&bcy;&ocy;&tcy;
					li
						a.submenu__link(href='/vopros-otvet/')  &Vcy;&ocy;&pcy;&rcy;&ocy;&scy;-&ocy;&tcy;&vcy;&iecy;&tcy;
					li
						a.submenu__link(href='/articles/')  &Pcy;&ocy;&lcy;&iecy;&zcy;&ncy;&ycy;&iecy; &scy;&tcy;&acy;&tcy;&softcy;&icy;
				a.dd-toggle(href='#')
					span.icon-plus
			li.menu-item
				a.menu__link(href='/akcii/')  &Acy;&kcy;&tscy;&icy;&icy;
			li.menu-item
				a.menu__link(href='/kontakty/')  &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;


