section.r-portfolio
	.container
		.s-title Ваше оконное портфолио
		.r-portfolio__container
			.r-portfolio__card
				img(src="img/r-portfolio/portfolio-1.jpg" alt="" class="r-portfolio__img")
				.r-portfolio__title Rehau BLITZ 60мм
				.r-portfolio__text Оптимальное решение для квартир, загородных, дачных и банных домиков по бюджетной цене
				a(href="" class="r-portfolio__link")
					| Классические системы
					svg(xmlns='http://www.w3.org/2000/svg' class="r-portfolio__arrow")
						circle(cx='17' cy='17' r='16' stroke-width='2')
						path(d='M24.707 17.707a1 1 0 0 0 0-1.414L18.343 9.93a1 1 0 0 0-1.414 1.414L22.586 17l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364zM11 18h13v-2H11v2z')
			.r-portfolio__card
				img(src="img/r-portfolio/portfolio-2.jpg" alt="Rehau THERMO 60мм" class="r-portfolio__img")
				.r-portfolio__title Rehau THERMO 60мм
				.r-portfolio__text Теплое окно по доступной цене
				a(href="" class="r-portfolio__link")
					| Классические системы
					svg(xmlns='http://www.w3.org/2000/svg' class="r-portfolio__arrow")
						circle(cx='17' cy='17' r='16' stroke-width='2')
						path(d='M24.707 17.707a1 1 0 0 0 0-1.414L18.343 9.93a1 1 0 0 0-1.414 1.414L22.586 17l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364zM11 18h13v-2H11v2z')
			.r-portfolio__card
				img(src="img/r-portfolio/portfolio-3.jpg" alt="Rehau GRAZIO 70мм" class="r-portfolio__img")
				.r-portfolio__title Rehau GRAZIO 70мм
				.r-portfolio__text Идеальный баланс! Изящный дизайн и исключительные теплозащитные свойства
				a(href="" class="r-portfolio__link")
					| Классические системы
					svg(xmlns='http://www.w3.org/2000/svg' class="r-portfolio__arrow")
						circle(cx='17' cy='17' r='16' stroke-width='2')
						path(d='M24.707 17.707a1 1 0 0 0 0-1.414L18.343 9.93a1 1 0 0 0-1.414 1.414L22.586 17l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364zM11 18h13v-2H11v2z')
			.r-portfolio__card
				img(src="img/r-portfolio/portfolio-4.jpg" alt="Rehau DELIGHT или DEZIGN 70/76 мм" class="r-portfolio__img")
				.r-portfolio__title Rehau DELIGHT или DEZIGN 70/76 мм
				.r-portfolio__text Укороченная высота профильной конструкции позволяет впустить в помещение на 10% больше света
				a(href="" class="r-portfolio__link")
					| Классические системы
					svg(xmlns='http://www.w3.org/2000/svg' class="r-portfolio__arrow")
						circle(cx='17' cy='17' r='16' stroke-width='2' fill='transparent')
						path(d='M24.707 17.707a1 1 0 0 0 0-1.414L18.343 9.93a1 1 0 0 0-1.414 1.414L22.586 17l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364zM11 18h13v-2H11v2z')
			.r-portfolio__card.r-portfolio__card--lg
				img(src="img/r-portfolio/portfolio-5.jpg" alt="Rehau INTELIO 80мм" class="r-portfolio__img")
				.r-portfolio__title Rehau INTELIO 80мм
				.r-portfolio__text Максимум теплоснобжения и шумозащиты
				a(href="" class="r-portfolio__link")
					| Классические системы
					svg(xmlns='http://www.w3.org/2000/svg' width="34" height="34" class="r-portfolio__arrow")
						circle(cx='17' cy='17' r='16' stroke-width='2')
						path(d='M24.707 17.707a1 1 0 0 0 0-1.414L18.343 9.93a1 1 0 0 0-1.414 1.414L22.586 17l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364zM11 18h13v-2H11v2z')
			.r-portfolio__card.r-portfolio__card--lg
				img(src="img/r-portfolio/portfolio-6.jpg" alt="Rehau GENEO 86мм" class="r-portfolio__img")
				.r-portfolio__title Rehau GENEO 86мм
				.r-portfolio__text Технология на взлете - Уникальная рецептура профиля деает окно легче и функциональнее
				a(href="" class="r-portfolio__link")
					| Классические системы
					svg(xmlns='http://www.w3.org/2000/svg' class="r-portfolio__arrow")
						circle(cx='17' cy='17' r='16' stroke-width='2' fill='transparent')
						path(d='M24.707 17.707a1 1 0 0 0 0-1.414L18.343 9.93a1 1 0 0 0-1.414 1.414L22.586 17l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364zM11 18h13v-2H11v2z')

