section.d-inform
	.container
		.s-title Общая информация о доставке и разгрузке
		.d-inform__container
			.d-inform__col
				.d-inform__text Дата доставки указывается в договоре (прописывается точное число). Если по каким-либо причинам заказ не может быть принят клиентом в указанную ранее дату, необходимо уведомить отдел доставки заранее - минимум за 2 дня от предлагаемой даты доставки
				ul.d-inform__list
					li.d-inform__item Если заказ был вывезен со склада компании «ОкнаПроект», но не доставлен по вине покупателя, заказ переводиться на повторную доставку;
					li.d-inform__item Заказчик заранее подготавливает место для выгрузки изделий, подъездные пути;
					li.d-inform__item Доставка на адрес клиенту осуществляется  с 7.00-22.00;
					li.d-inform__item Накануне дня доставки менеджер отдела доставки звонит клиенту с 16-19.00 и сообщает интервал по времени прибытия.
			.d-inform__col
				.d-inform__text Получатель либо представитель получателя должен находиться на адресе чтоб принять доставку.
				ul.d-inform__list
					li.d-inform__item._red В день доставки водитель звонит по указанному номеру в договоре за 30-60 минут до приезда, в случае изменения время звонка (например оповестить за  1 час 30 минут) оно согласовывается с отделом логистики;
					li.d-inform__item._red Если получателя либо представителя заказчика нет на адресе в указанный интервал времени доставки, максимальное время ожидания на адресе составляет 20 минут, далее заказ возвращается на производство с возможностью согласовать дату повторной доставки. Повторная доставка платная. На стоимость повторной доставки льготы не распространяются;
					li.d-inform__item._red Срок повторной доставки необходимо согласовывать с менеджером Вашего заказа.
			.d-inform__col
				.s-title Доставка стандартных изделий
				.d-inform__text
					p Стандартными изделиями считаются конструкции, размеры которых не превышают следующие габариты конструкций:
					p Высота – 2300 мм;
					p Ширина 2950 мм;
					p -Подоконники и доборы, длина которых не превышает 3500 мм.
					p Адресные доставки осуществляются на платной основе, согласно тарифов указанных в ПРИЛОЖЕНИЕ №2 (смотрите картинку)
			.d-inform__col
				img(src="img/d-inform/img-1.jpg" alt="" class="d-inform__img")
			.d-inform__col
				.s-title Доставка нестандартных изделий
				.d-inform__text
					p К нестандартным изделиям относятся:
					p -Изделия, размеры которых превышают стандартные габариты:
					p Высота - 2300 мм;
					p Ширина – 2900 мм;
					p - Изделия, размеры наименьшей стороны которых превышает 2500 мм;
					p - Подоконники и доборы длиной более 350 мм
					p - стеклопакеты без транспортировочной рамы.
					p - Изделия высотой от 2390 мм
			.d-inform__col
				img(src="img/d-inform/img-2.jpg" alt="" class="d-inform__img")
			.d-inform__col
				.s-title Доставка материала и комплектующих для отделки балконов и лоджий
				.d-inform__text
					p К доставке материала и комплектующих для отделки относится: Весь материал который необходим для того что б сделать комплексную или частичную отделку балкона или лоджии.
					p Стоимость данной услуги стоит 2000 – 3000 рублей (в зависимости от объема материала).
			.d-inform__col
				img(src="img/d-inform/img-3.jpg" alt="" class="d-inform__img")
			.d-inform__col._full
				.s-title Разгрузка и подъем изделий на адрес клиента
				.d-inform__text
					p Стоимость разгрузки и разноса рассчитывается согласно тарифам указанным в ПРИЛОЖЕНИИ №3 (смотрите картинку).
					p Если изделия не возможно поднять на грузовом лифте либо по лестничным пролетам, то возможен подъем на веревках при выполнении следующих условий:
					p -Подъем с помощью веревок осуществляется только при незастекленной лоджии или огромного окна что б конструкция могла поместиться и каких-либо механических препятствий;
					p -Подъем с помощью веревок осуществляется не выше 10 этажа включительно.
					p Сложные подъемы а так же подъемы нестандартных конструкций, осуществляются или с помощью специальной техники или с помощью заказчика при согласовании.
					p Перемещение изделий к объекту, удаленному от места разгрузки свыше 100 метров- не зависимо от количества изделий, осуществляется строго при согласовании данной услуги с отделом логистики перед заключением договора

