section.our-works
	.container
		.section-title Наши работы
		.our-works__text Мы лучшие потому, что нас советуют друзьям
		.our-works__wrapper
			.our-works__sidebar
				.our-works__filter
					ul.our-works__tags
						li.our-works__tag
							a(href="/products/portals-accordions/" class="our-works__tag-link") Порталы и гормошки
						li.our-works__tag
							a(href="/products/portals-accordions/" class="our-works__tag-link") Порталы
						li.our-works__tag
							a(href="/products/portals-accordions/" class="our-works__tag-link") Порталы и гормошки
						li.our-works__tag
							a(href="/products/portals-accordions/" class="our-works__tag-link") Порталы и гормошки
						li.our-works__tag
							a(href="/products/portals-accordions/" class="our-works__tag-link") Порталы и гормошки
				a(href="https://www.youtube.com/watch?v=qOAZ2wY-SvI" class="our-works__video")
					img(src="img/our-works/video-1.jpg" alt="" class="our-works__v-img")
					svg.our-works__icon
						use(xlink:href="img/sprite.svg#video")
				a(href="https://www.youtube.com/watch?v=gAelzVetb5o" class="our-works__video")
					img(src="img/our-works/video-2.jpg" alt="" class="our-works__v-img")
					svg.our-works__icon
						use(xlink:href="img/sprite.svg#video")
			.our-works__container
				a(href="#" class="our-works__item" style="background-image: url(img/our-works/img-1.jpg);")
					span.our-works__subtitle
						| Описание
						svg(xmlns='http://www.w3.org/2000/svg' width="34" height="34" class="our-works__arrow")
							circle(cx='17' cy='17' r='16' stroke='#fff' stroke-width='2' fill='transparent')
							path(d='M24.707 17.707a1 1 0 0 0 0-1.414L18.343 9.93a1 1 0 0 0-1.414 1.414L22.586 17l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364zM11 18h13v-2H11v2z' fill='#fff')

				a(href="#" class="our-works__item" style="background-image: url(img/our-works/img-1.jpg);")
					span.our-works__subtitle
						| Описание
						svg(xmlns='http://www.w3.org/2000/svg' width="34" height="34" class="our-works__arrow")
							circle(cx='17' cy='17' r='16' stroke='#fff' stroke-width='2' fill='transparent')
							path(d='M24.707 17.707a1 1 0 0 0 0-1.414L18.343 9.93a1 1 0 0 0-1.414 1.414L22.586 17l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364zM11 18h13v-2H11v2z' fill='#fff')
				a(href="#" class="our-works__item" style="background-image: url(img/our-works/img-1.jpg);")
					span.our-works__subtitle
						| Описание
						svg(xmlns='http://www.w3.org/2000/svg' width="34" height="34" class="our-works__arrow")
							circle(cx='17' cy='17' r='16' stroke='#fff' stroke-width='2' fill='transparent')
							path(d='M24.707 17.707a1 1 0 0 0 0-1.414L18.343 9.93a1 1 0 0 0-1.414 1.414L22.586 17l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364zM11 18h13v-2H11v2z' fill='#fff')
				a(href="#" class="our-works__item" style="background-image: url(img/our-works/img-1.jpg);")
					span.our-works__subtitle
						| Описание
						svg(xmlns='http://www.w3.org/2000/svg' width="34" height="34" class="our-works__arrow")
							circle(cx='17' cy='17' r='16' stroke='#fff' stroke-width='2' fill='transparent')
							path(d='M24.707 17.707a1 1 0 0 0 0-1.414L18.343 9.93a1 1 0 0 0-1.414 1.414L22.586 17l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364zM11 18h13v-2H11v2z' fill='#fff')
				a(href="#" class="our-works__item" style="background-image: url(img/our-works/img-1.jpg);")
					span.our-works__subtitle
						| Описание
						svg(xmlns='http://www.w3.org/2000/svg' width="34" height="34" class="our-works__arrow")
							circle(cx='17' cy='17' r='16' stroke='#fff' stroke-width='2' fill='transparent')
							path(d='M24.707 17.707a1 1 0 0 0 0-1.414L18.343 9.93a1 1 0 0 0-1.414 1.414L22.586 17l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364zM11 18h13v-2H11v2z' fill='#fff')
				a(href="#" class="our-works__item" style="background-image: url(img/our-works/img-1.jpg);")
					span.our-works__subtitle
						| Описание
						svg(xmlns='http://www.w3.org/2000/svg' width="34" height="34" class="our-works__arrow")
							circle(cx='17' cy='17' r='16' stroke='#fff' stroke-width='2' fill='transparent')
							path(d='M24.707 17.707a1 1 0 0 0 0-1.414L18.343 9.93a1 1 0 0 0-1.414 1.414L22.586 17l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364zM11 18h13v-2H11v2z' fill='#fff')
				a(href="#" class="our-works__item" style="background-image: url(img/our-works/img-1.jpg);")
					span.our-works__subtitle
						| Описание
						svg(xmlns='http://www.w3.org/2000/svg' width="34" height="34" class="our-works__arrow")
							circle(cx='17' cy='17' r='16' stroke='#fff' stroke-width='2' fill='transparent')
							path(d='M24.707 17.707a1 1 0 0 0 0-1.414L18.343 9.93a1 1 0 0 0-1.414 1.414L22.586 17l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364zM11 18h13v-2H11v2z' fill='#fff')
				a(href="#" class="our-works__item" style="background-image: url(img/our-works/img-1.jpg);")
					span.our-works__subtitle
						| Описание
						svg(xmlns='http://www.w3.org/2000/svg' width="34" height="34" class="our-works__arrow")
							circle(cx='17' cy='17' r='16' stroke='#fff' stroke-width='2' fill='transparent')
							path(d='M24.707 17.707a1 1 0 0 0 0-1.414L18.343 9.93a1 1 0 0 0-1.414 1.414L22.586 17l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364zM11 18h13v-2H11v2z' fill='#fff')
				a(href="#" class="our-works__item" style="background-image: url(img/our-works/img-1.jpg);")
					span.our-works__subtitle
						| Описание
						svg(xmlns='http://www.w3.org/2000/svg' width="34" height="34" class="our-works__arrow")
							circle(cx='17' cy='17' r='16' stroke='#fff' stroke-width='2' fill='transparent')
							path(d='M24.707 17.707a1 1 0 0 0 0-1.414L18.343 9.93a1 1 0 0 0-1.414 1.414L22.586 17l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364zM11 18h13v-2H11v2z' fill='#fff')

