section(class="fc-edge" style="background-image: url(img/fc-edge/bg.jpg)")
	.container
		.s-title.t-center.fc-edge__title Преимущество алюминиевых фасадов и окон
		ul.fc-edge__list
			li.fc-edge__item Длительный срок эксплуатации.
			li.fc-edge__item Устойчивость к внешнему воздействию.
			li.fc-edge__item Удобство в эксплуатации.
			li.fc-edge__item Простота монтажа.
			li.fc-edge__item Эстетичность.
			li.fc-edge__item Пожаростойкость.
			li.fc-edge__item Хорошая светопроницаемость.
			li.fc-edge__item Высокие качественные характеристики.
			li.fc-edge__item Экономичность.
		.fc-edge__container
			.fc-edge__content
				p Алюминиевые фасады не меняют своего вида и свойств ни под воздействием высоких и низких температур, ни при неблагоприятных атмосферных явлениях. Им также не страшны механические повреждения. Уход за такими конструкциями очень прост и не требует применения специальных средств. Благодаря небольшому весу, их легко устанавливать, что благоприятно влияет на скорость выполнения работ.
				p Такие фасады выглядят настоящим украшением здания, а возможность выбора нужного цвета помогает сочетать его с другими элементами сооружения.
				p Выбор алюминиевых фасадов очень большой. Можно подобрать необходимую форму и цвет. Используя такие конструкции даже самое обыкновенное и неприметное здание можно превратить в настоящий архитектурный шедевр.
			.fc-edge__term
				.fc-edge__year 80 лет
				p срок службы алюминиевых конструкций
