section.p-design
	.container
		.s-title.t-center Безопасная и удобная оплата
		.p-design__container
			.p-design__card._border
				.p-design__block
					.p-design__wrapper.mr-15
						span._numb
					.p-design__title способ
				div При оформлении заказа необходимо <b>внести 70% предоплату</b> , а остальные 30% после монтажа, когда вы увидите результат!
			.p-design__card._border
				.p-design__block
					.p-design__wrapper.mr-15
						span._numb
					.p-design__title способ
				div При оформлении заказа необходимо <b>внести 50% предоплату</b>, 30% монтажникам перед монтажом, а остальные 20% после монтажа.
			.p-design__card._border
				.p-design__block
					.p-design__wrapper.mr-15
						span._numb
					.p-design__title способ
				div При оформлении заказа необходимо <b>внести 20% предоплату</b>, а остальные 80% при доставке ,перед разгрузкой водителю.

