section.call-measurer(style="background-image: url(img/call-measurer/bg.jpg);")
	.container
		.call-measurer__container
			.s-title.call-measurer__title Вызови замерщика <b>бесплатно</b>
			.call-measurer__text Оставьте заявку и получите самую выгодную цену, а наши менеджеры свяжутся с вами прямо сейчас!
			.form
				.form__wrapper.call-measurer__wrapper
					.form__field.form__field--flex
						input(type="text" class="form__input form__input--border" placeholder="Как Вас зовут?")
					.form__field.form__field--flex
						input(type="tel" class="form__input form__input--border" placeholder="Телефон")
					.form__field.form__field--flex
						input(type="submit" value="Получить скидку" class="new-btn new-btn--green")
