.call-measurer {
  padding: 60px 0;
  background-repeat: no-repeat;
  background-size: cover;
  @include max-screen(1366px) {
    padding: 30px 0;
  }
  @include max-screen(1200px) {
    background-position: 30% center;
  }

  &__title {
    margin-bottom: 10px;
  }
  &__text {
    margin-bottom: 30px;
    max-width: 430px;
    @include max-screen(1200px) {
      max-width: 100%;
      text-align: center;
    }
  }
  &__wrapper {
    @include max-screen(1200px) {
      flex-direction: column;
    }
  }
}
