section.al-types
	.container
		.s-title.t-center Виды окон
		.al-types__title Комбинированные окна
		.al-types__container.js-types-top
			img(src="img/al-types/img-1.png" alt="" class="al-types__img")
			img(src="img/al-types/img-2.png" alt="" class="al-types__img")
			img(src="img/al-types/img-3.png" alt="" class="al-types__img")
			img(src="img/al-types/img-4.png" alt="" class="al-types__img")
			img(src="img/al-types/img-5.png" alt="" class="al-types__img")
		.al-types__title Арочные окна
		.al-types__container.js-types-bottom
			img(src="img/al-types/img-6.png" alt="" class="al-types__img")
			img(src="img/al-types/img-7.png" alt="" class="al-types__img")
		.t-center
			a(href="#callback" class="new-btn js-popup-call") Записаться на замер

