section.faq
	.container
		.s-title.faq__title Частые вопросы про фасадное остекление
		.faq__body
			.accordion._js-accordion-faq
				.accordion__container._js-accordion-item
					button.accordion__btn._js-accordion-toggler
						span.accordion__title Почему для остекления зимних садов лучше использовать алюминиевый профиль?
						span.accordion__toggle
							span.accordion__icon
					.accordion__panel
						p Дело в том, что пластиковые профили в остеклении зимних садов больше подвержены атмосферным и механическим воздействиям – со временем они деформируются, теряют функциональность и внешнюю привлекательность. Алюминиевые конструкции, созданные на основе профилей «Шуко», «Алютех» и т. д., более прочны и долговечны. Солнце, влажность, низкие температуры не портят их внешний вид и не способствуют образованию щелей между рамами.
				.accordion__container._js-accordion-item
					button.accordion__btn._js-accordion-toggler
						span.accordion__title Можно ли с помощью вентфасадов сэкономить энергию?
						span.accordion__toggle
							span.accordion__icon
					.accordion__panel
						p Обеспечение энергосбережения является одним из основных преимуществ вентилируемых фасадов. Расчеты проводятся с учетом особенностей конкретного проекта.
				.accordion__container._js-accordion-item
					button.accordion__btn._js-accordion-toggler
						span.accordion__title Какой материал наиболее выгоден при устройстве вентилируемых фасадов?
						span.accordion__toggle
							span.accordion__icon
					.accordion__panel
						p Как показывает практика, таким материалом является керамогранит. Он отлично переносит атмосферные воздействия (ультрафиолет, перепады температур, смог), имеет высокое сопротивление ударам и изгибу, обладает высокой огнестойкостью.
				.accordion__container._js-accordion-item
					button.accordion__btn._js-accordion-toggler
						span.accordion__title Вы предлагаете элементные фасады. В чем преимущества такой фасадной системы?
						span.accordion__toggle
							span.accordion__icon
					.accordion__panel
						p Элементный фасад – одна из новейших технологий остекления, при которой используются готовые светопрозрачные стеновые блоки. Их установка не требует использования лесов, благодаря чему рабочие и техника имеют свободный доступ к любой части здания. Блоки могут монтироваться изнутри, в любых погодных условиях, что особенно актуально для российского климата. Установка такого фасада производится поэтажно, одновременно с заливкой следующих этажей, поэтому отделочные работы можно начинать на более ранней стадии строительства.
				.accordion__container._js-accordion-item
					button.accordion__btn._js-accordion-toggler
						span.accordion__title Из чего складывается стоимость вентилируемых фасадов?
						span.accordion__toggle
							span.accordion__icon
					.accordion__panel
						p Стоимость вентфасада складывается из цены за основной материал (композитная панель, керамогранит, оцинкованные металлокассеты), подсистемы и утеплитель. Также учитываются монтажные и проектные работы. Окончательная стоимость зависит от конфигураций материалов, используемого дополнительного оборудования (строительные леса) или работ (геодезическая съемка).






