.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 9999;
  color: $primary;
  &._active {
    visibility: visible;
    opacity: 1;
  }
  &__content {
    position: relative;
    width: 100%;
    max-width: 650px;
    background-color: #fff;
    text-align: center;
    padding-top: 15px;
    @include value("padding-bottom", 15, 30);
    @include value("padding-left", 10, 53);
    @include value("padding-right", 10, 53);
    margin: 0 15px;
    border-radius: 5px;
    z-index: 1200;
  }
  &__layer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
  }
  &__head {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15px;
  }
  &__wrap {
    width: 100%;
    position: relative;
    background-color: #fff;
    padding: 15px 15px 25px;
    margin: 0 10px;
    z-index: 200;
    &--size_medium {
      max-width: 530px;
    }
    &--size_large {
      width: 100%;
      max-width: 700px;
    }
  }

  &__success-text {
    font-weight: bold;
    @include value("font-size", 28, 56);
    line-height: 120%;
  }
  &__title {
    font-weight: bold;
    font-family: inherit;
    @include value("font-size", 18, 32);
    line-height: 120%;
    text-align: center;
  }
  &__descr {
    @include value("padding-bottom", 20, 37);
  }
  &__subtitle {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  &__icon {
    transition: fill 0.4s ease;
    &--close {
      fill: $primary;
      width: 19px;
      height: 19px;
      &:hover {
        fill: $secondary;
      }
    }
    &--success {
      fill: none;
      width: 29px;
      height: 29px;
    }
  }
  &__group {
    width: 100%;
    max-width: 340px;
    padding: 7px 0;
    margin: 0 auto;
  }
  &__close {
    flex-shrink: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__close-btn {
    padding: 15px 20px;
    margin: 0 auto;
  }
  &__success {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    @include value("margin-bottom", 15, 25);
    background-color: $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__arrow {
    width: 16px;
    height: 16px;
    fill: #fff;
  }
  &__submit {
    margin: 10px auto 0;

    width: 100%;
    max-width: 212px;
  }
  &__footer {
    padding-top: 15px;
    display: flex;
    justify-content: center;
  }
}
