div(data-modal="modal-success").modal
	.modal__layer 
	.modal__content
		.modal__head
			button.modal__close
				svg.modal__icon.modal__icon--close 
					use(xlink:href="img/sprite.svg#close") 
		.modal__front
			.modal__success
				svg.modal__icon.modal__icon--success
					use(xlink:href="img/sprite.svg#success")
			.modal__title Спасибо
			.modal__descr Ваша заявка отправлена. Пожалуйста, ожидайте звонка