section.p-rehau.mb-0
	.container
		.s-title Пластиковые окна из профиля Rehau
	.r-tabs
		ul.r-tabs__controls
			li.r-tabs__link.active Blitz
			li.r-tabs__link Thermo
			li.r-tabs__link Grazio
			li.r-tabs__link Delight
			li.r-tabs__link Brilliant
			li.r-tabs__link Intelio 80
			li.r-tabs__link Geneo
		.r-tabs__content(style="background-image: url(img/p-rehau/bg.jpg)")
			.r-tabs__item.active
				.r-tabs__cert
					img(src="img/p-rehau/r-cert.png" alt="Сертификат Rehau" class="r-tabs__cert-img")
				.r-tabs__wrapper
					img(src="img/p-rehau/blitz.png" alt="Rehau Blitz New" class="r-tabs__abs-img")
				.r-tabs__info
					.r-tabs__title REHAU BLITZ NEW
					.r-tabs__price от <span>3 860</span> руб./м<sup>2</sup>
					ul.green-list
						li.green-list__item <b>Преимущества:</b> экономное решение
						li.green-list__item <b>Толщина профиля:</b> 60мм
						li.green-list__item <b>Воздушные камеры:</b> 3 шт.
						li.green-list__item <b>Теплоизоляция:</b> 0,7 м<sup>2</sup> * С/Вт
						li.green-list__item <b>Звукоизоляция:</b> 25 дб
					a(href="#" class="r-tabs__char js-tooltip") Сравнить характеристики
						.r-tooltip
							.r-tooltip__title Сравнительные характеристики с другими системами
							table.r-tooltip__table
								tr
									th Характеристика
									th.active BLITZ
									th THERMO
									th GRAZIO
									th DELIGHT
									th BRILLANT
									th INTELIO 80
									th GENEO
								tr
									td Системная глубина, мм
									td.active 60
									td 60
									td 70
									td 70
									td 70(80)
									td 80
									td 86
								tr
									td Количество воздушных камер, шт.
									td.active 3
									td 4
									td 5
									td 5
									td 5(6)
									td 6
									td 6
								tr
									td Толщина стеклопакета, мм
									td.active 32
									td 32
									td 40
									td 40
									td 40
									td 52
									td 52
								tr
									td
										| Коэффициент теплоизоляции, м
										sup 2
										| *с/вт
									td.active 0,70
									td 0,78
									td 0,85
									td 0,94
									td 0,90
									td 0,98
									td 1,05
				.r-tabs__buttons
					a(href="#" class="new-btn") Подробнее
					a(href="#" class="new-btn") Калькулятор
					a(href="#" class="new-btn") Цены по серии дома
					a(href="#" class="new-btn new-btn--green") Заказать замер
			.r-tabs__item
				.r-tabs__cert
					img(src="img/p-rehau/r-cert.png" alt="Сертификат Rehau" class="r-tabs__cert-img")
				.r-tabs__wrapper
					img(src="img/p-rehau/thermo.png" alt="Rehau Thermo" class="r-tabs__abs-img")
				.r-tabs__info
					.r-tabs__title REHAU THERMO
					.r-tabs__price от <span>4 150</span> руб./м<sup>2</sup>
					ul.green-list
						li.green-list__item <b>Преимущества:</b> теплозащита, звукоизоляция и светопропускание
						li.green-list__item <b>Толщина профиля:</b> 60мм
						li.green-list__item <b>Воздушные камеры:</b> 4 шт.
						li.green-list__item <b>Теплоизоляция:</b> 0,78 м<sup>2</sup> * С/Вт
						li.green-list__item <b>Звукоизоляция:</b> 25 дб
					a(href="#" class="r-tabs__char js-tooltip") Сравнить характеристики
						.r-tooltip
							.r-tooltip__title Сравнительные характеристики с другими системами
							table.r-tooltip__table
								tr
									th Характеристика
									th BLITZ
									th.active THERMO
									th GRAZIO
									th DELIGHT
									th BRILLANT
									th INTELIO 80
									th GENEO
								tr
									td Системная глубина, мм
									td 60
									td.active 60
									td 70
									td 70
									td 70(80)
									td 80
									td 86
								tr
									td Количество воздушных камер, шт.
									td 3
									td.active 4
									td 5
									td 5
									td 5(6)
									td 6
									td 6
								tr
									td Толщина стеклопакета, мм
									td 32
									td.active 32
									td 40
									td 40
									td 40
									td 52
									td 52
								tr
									td
										| Коэффициент теплоизоляции, м
										sup 2
										| *с/вт
									td 0,70
									td.active 0,78
									td 0,85
									td 0,94
									td 0,90
									td 0,98
									td 1,05
				.r-tabs__buttons
					a(href="#" class="new-btn") Подробнее
					a(href="#" class="new-btn") Калькулятор
					a(href="#" class="new-btn") Цены по серии дома
					a(href="#" class="new-btn new-btn--green") Заказать замер
			.r-tabs__item
				.r-tabs__cert
					img(src="img/p-rehau/r-cert.png" alt="Сертификат Rehau" class="r-tabs__cert-img")
				.r-tabs__wrapper
					img(src="img/p-rehau/grazio.png" alt="Rehau Grazio" class="r-tabs__abs-img")
				.r-tabs__info
					.r-tabs__title REHAU Grazio
					.r-tabs__price от <span>4 350</span> руб./м<sup>2</sup>
					ul.green-list
						li.green-list__item <b>Преимущества:</b> экономное решение
						li.green-list__item <b>Толщина профиля:</b> 70мм
						li.green-list__item <b>Воздушные камеры:</b> 5 шт.
						li.green-list__item <b>Теплоизоляция:</b> 0,85 м<sup>2</sup> * С/Вт
						li.green-list__item <b>Звукоизоляция:</b> 39(45) дб
					a(href="#" class="r-tabs__char js-tooltip") Сравнить характеристики
						.r-tooltip
							.r-tooltip__title Сравнительные характеристики с другими системами
							table.r-tooltip__table
								tr
									th Характеристика
									th BLITZ
									th THERMO
									th.active GRAZIO
									th DELIGHT
									th BRILLANT
									th INTELIO 80
									th GENEO
								tr
									td Системная глубина, мм
									td 60
									td 60
									td.active 70
									td 70
									td 70(80)
									td 80
									td 86
								tr
									td Количество воздушных камер, шт.
									td 3
									td 4
									td.active 5
									td 5
									td 5(6)
									td 6
									td 6
								tr
									td Толщина стеклопакета, мм
									td 32
									td 32
									td.active 40
									td 40
									td 40
									td 52
									td 52
								tr
									td
										| Коэффициент теплоизоляции, м
										sup 2
										| *с/вт
									td 0,70
									td 0,78
									td.active 0,85
									td 0,94
									td 0,90
									td 0,98
									td 1,05
				.r-tabs__buttons
					a(href="#" class="new-btn") Подробнее
					a(href="#" class="new-btn") Калькулятор
					a(href="#" class="new-btn") Цены по серии дома
					a(href="#" class="new-btn new-btn--green") Заказать замер
			.r-tabs__item
				.r-tabs__cert
					img(src="img/p-rehau/r-cert.png" alt="Сертификат Rehau" class="r-tabs__cert-img")
				.r-tabs__wrapper
					img(src="img/p-rehau/delight.png" alt="Rehau Delight" class="r-tabs__abs-img")
				.r-tabs__info
					.r-tabs__title REHAU Delight
					.r-tabs__price от <span>4 640</span> руб./м<sup>2</sup>
					ul.green-list
						li.green-list__item <b>Преимущества:</b> экономное решение
						li.green-list__item <b>Толщина профиля:</b> 70мм
						li.green-list__item <b>Воздушные камеры:</b> 5 шт.
						li.green-list__item <b>Теплоизоляция:</b> 0,94 м<sup>2</sup> * С/Вт
						li.green-list__item <b>Звукоизоляция:</b> 25 дб
					a(href="#" class="r-tabs__char js-tooltip") Сравнить характеристики
						.r-tooltip
							.r-tooltip__title Сравнительные характеристики с другими системами
							table.r-tooltip__table
								tr
									th Характеристика
									th BLITZ
									th THERMO
									th GRAZIO
									th.active DELIGHT
									th BRILLANT
									th INTELIO 80
									th GENEO
								tr
									td Системная глубина, мм
									td 60
									td 60
									td 70
									td.active 70
									td 70(80)
									td 80
									td 86
								tr
									td Количество воздушных камер, шт.
									td 3
									td 4
									td 5
									td.active 5
									td 5(6)
									td 6
									td 6
								tr
									td Толщина стеклопакета, мм
									td 32
									td 32
									td 40
									td.active 40
									td 40
									td 52
									td 52
								tr
									td
										| Коэффициент теплоизоляции, м
										sup 2
										| *с/вт
									td 0,70
									td 0,78
									td 0,85
									td.active 0,94
									td 0,90
									td 0,98
									td 1,05
				.r-tabs__buttons
					a(href="#" class="new-btn") Подробнее
					a(href="#" class="new-btn") Калькулятор
					a(href="#" class="new-btn") Цены по серии дома
					a(href="#" class="new-btn new-btn--green") Заказать замер
			.r-tabs__item
				.r-tabs__cert
					img(src="img/p-rehau/r-cert.png" alt="Сертификат Rehau" class="r-tabs__cert-img")
				.r-tabs__wrapper
					img(src="img/p-rehau/brilliant.png" alt="Rehau Brilliant" class="r-tabs__abs-img")
				.r-tabs__info
					.r-tabs__title REHAU Brilliant
					.r-tabs__price от <span>5 950</span> руб./м<sup>2</sup>
					ul.green-list
						li.green-list__item <b>Преимущества:</b> теплоизоляция
						li.green-list__item <b>Толщина профиля:</b> 70(80)мм
						li.green-list__item <b>Воздушные камеры:</b> 5(6) шт.
						li.green-list__item <b>Теплоизоляция:</b> 0,9 м<sup>2</sup> * С/Вт
						li.green-list__item <b>Звукоизоляция:</b> 25 дб
					a(href="#" class="r-tabs__char js-tooltip") Сравнить характеристики
						.r-tooltip
							.r-tooltip__title Сравнительные характеристики с другими системами
							table.r-tooltip__table
								tr
									th Характеристика
									th BLITZ
									th THERMO
									th GRAZIO
									th DELIGHT
									th.active BRILLANT
									th INTELIO 80
									th GENEO
								tr
									td Системная глубина, мм
									td 60
									td 60
									td 70
									td 70
									td.active 70(80)
									td 80
									td 86
								tr
									td Количество воздушных камер, шт.
									td 3
									td 4
									td 5
									td 5
									td.active 5(6)
									td 6
									td 6
								tr
									td Толщина стеклопакета, мм
									td 32
									td 32
									td 40
									td 40
									td.active 40
									td 52
									td 52
								tr
									td
										| Коэффициент теплоизоляции, м
										sup 2
										| *с/вт
									td 0,70
									td 0,78
									td 0,85
									td 0,94
									td.active 0,90
									td 0,98
									td 1,05
				.r-tabs__buttons
					a(href="#" class="new-btn") Подробнее
					a(href="#" class="new-btn") Калькулятор
					a(href="#" class="new-btn") Цены по серии дома
					a(href="#" class="new-btn new-btn--green") Заказать замер
			.r-tabs__item
				.r-tabs__cert
					img(src="img/p-rehau/r-cert.png" alt="Сертификат Rehau" class="r-tabs__cert-img")
				.r-tabs__wrapper
					img(src="img/p-rehau/intelio.png" alt="Rehau Intelio 80" class="r-tabs__abs-img")
				.r-tabs__info
					.r-tabs__title REHAU Intelio 80
					.r-tabs__price от <span>6 100</span> руб./м<sup>2</sup>
					ul.green-list
						li.green-list__item <b>Преимущества:</b> экономное решение
						li.green-list__item <b>Толщина профиля:</b> 80мм
						li.green-list__item <b>Воздушные камеры:</b> 6 шт.
						li.green-list__item <b>Теплоизоляция:</b> 0,98 м<sup>2</sup> * С/Вт
						li.green-list__item <b>Звукоизоляция:</b> 25 дб
					a(href="#" class="r-tabs__char js-tooltip") Сравнить характеристики
						.r-tooltip
							.r-tooltip__title Сравнительные характеристики с другими системами
							table.r-tooltip__table
								tr
									th Характеристика
									th BLITZ
									th THERMO
									th GRAZIO
									th DELIGHT
									th BRILLANT
									th.active INTELIO 80
									th GENEO
								tr
									td Системная глубина, мм
									td 60
									td 60
									td 70
									td 70
									td 70(80)
									td.active 80
									td 86
								tr
									td Количество воздушных камер, шт.
									td 3
									td 4
									td 5
									td 5
									td 5(6)
									td.active 6
									td 6
								tr
									td Толщина стеклопакета, мм
									td 32
									td 32
									td 40
									td 40
									td 40
									td.active 52
									td 52
								tr
									td
										| Коэффициент теплоизоляции, м
										sup 2
										| *с/вт
									td 0,70
									td 0,78
									td 0,85
									td 0,94
									td 0,90
									td.active 0,98
									td 1,05
				.r-tabs__buttons
					a(href="#" class="new-btn") Подробнее
					a(href="#" class="new-btn") Калькулятор
					a(href="#" class="new-btn") Цены по серии дома
					a(href="#" class="new-btn new-btn--green") Заказать замер
			.r-tabs__item
				.r-tabs__cert
					img(src="img/p-rehau/r-cert.png" alt="Сертификат Rehau" class="r-tabs__cert-img")
				.r-tabs__wrapper
					img(src="img/p-rehau/geneo.png" alt="Rehau Geneo" class="r-tabs__abs-img")
				.r-tabs__info
					.r-tabs__title REHAU Geneo
					.r-tabs__price от <span>12 800</span> руб./м<sup>2</sup>
					ul.green-list
						li.green-list__item <b>Преимущества:</b> экономное решение
						li.green-list__item <b>Толщина профиля:</b> 86мм
						li.green-list__item <b>Воздушные камеры:</b> 6 шт.
						li.green-list__item <b>Теплоизоляция:</b> 1,05 м<sup>2</sup> * С/Вт
						li.green-list__item <b>Звукоизоляция:</b> 25 дб
					a(href="#" class="r-tabs__char js-tooltip") Сравнить характеристики
						.r-tooltip
							.r-tooltip__title Сравнительные характеристики с другими системами
							table.r-tooltip__table
								tr
									th Характеристика
									th BLITZ
									th THERMO
									th GRAZIO
									th DELIGHT
									th BRILLANT
									th INTELIO 80
									th.active GENEO
								tr
									td Системная глубина, мм
									td 60
									td 60
									td 70
									td 70
									td 70(80)
									td 80
									td.active 86
								tr
									td Количество воздушных камер, шт.
									td 3
									td 4
									td 5
									td 5
									td 5(6)
									td 6
									td.active 6
								tr
									td Толщина стеклопакета, мм
									td 32
									td 32
									td 40
									td 40
									td 40
									td 52
									td.active 52
								tr
									td
										| Коэффициент теплоизоляции, м
										sup 2
										| *с/вт
									td 0,70
									td 0,78
									td 0,85
									td 0,94
									td 0,90
									td 0,98
									td.active 1,05
				.r-tabs__buttons
					a(href="#" class="new-btn") Подробнее
					a(href="#" class="new-btn") Калькулятор
					a(href="#" class="new-btn") Цены по серии дома
					a(href="#" class="new-btn new-btn--green") Заказать замер



