section.fc-options.al-producers
	.container
		.s-title.t-center Производители алюминиевых систем
		.fc-options__wrapper
			table.fc-options__table
				thead._green
					tr
						th Производитель
						th Alumark
						th Alutech*
						th Schuco
						th Newtec
						th Krauss
						th Vidnal
				tbody._gray
					tr
						td Профиль
						td S70
						td W62
						td AWS 75
						td NT68
						td KRW64
						td V60-W
					tr
						td Термомост
						td 34 мм
						td 24 мм
						td 42,5 мм
						td 24 мм
						td 27 мм
						td 26 мм
					tr
						td Коэффициент теплопередачи (м²°С/Вт)
						td 0,61
						td 0,65
						td 0,92
						td 0,49
						td 0,62
						td 0,5
		.fc-options__text * В изготовлении алюминиевых профилей использует уникальную технологию: в чистый алюминий, для увеличения прочности, добавляется магний и кремний. Полученный сплав отличается высокой степенью сопротивления различным нагрузкам, оставаясь при этом легким и эстетичным.





