section.fc-options.al-construction
	.container
		.s-title Алюминиевая конструкция:<br> Профильная система + стеклопакет + фурнитура
		.fc-options__wrapper
			table.fc-options__table
				thead._green
					tr
						th Тип системы
						th Профильная система
						th Монтажная глубина
						th Фурнитура
						th Стеклопакет
						th Толщина заполнения
				tbody._gray
					tr
						td(rowspan="3" class="t-center") Холодные
						td Alumark S50
						td 50 мм.
						td Giesse
						td(rowspan="3" class="t-center") стекло/<br> однокамерный<br> стеклопакет
						td(rowspan="3" class="t-center") 4 мм.<br> 6 мм.<br> 24 мм.
					tr
						td Alutech С48
						td 48 мм.
						td Stublina
					tr
						td Kraus KRWD45
						td 45 мм.
						td Stublina
					tr
						td(rowspan="4" class="t-center") Тёплые
						td Alumark S70
						td 70 мм.
						td Giesse
						td(rowspan="4" class="t-center") Однокамерный/<br> двухкамерный
						td(rowspan="2" class="t-center") до 40 мм
					tr
						td Alutech W62
						td 62 мм.
						td Stublina
					tr
						td Alutech W72
						td 72 мм.
						td Stublina
						td(rowspan="2" class="t-center") до 50 мм
					tr
						td Kraus KRWD64
						td 64 мм.
						td Stublina

