section.r-design
	.container
		.s-title Высококачественные дизайнерские решения для ваших окон и дверей
		.r-design__text Окна REHAU это не только свет, тепло и комфорт в Вашем доме, но и способ подчеркнуть Ваш индивидуальный характер. Ваши новые окна и двери REHAU – ваша инвестиция в будущее. REHAU более 30 лет развивает свои компетенции в области цветных решений. Мы прикладываем максимум усилий, чтобы наша продукция радовала Вас на протяжение долгих лет, как в первый день и предлагаем разнообразные решения для оформления светорозрачных конструкций.
		.r-design__container
			.r-design__card
				.r-design__wrapper
					svg.r-design__icon
						use(xlink:href="img/sprite.svg#touch")
				.r-design__title HD поверхность
				div Еще одно преимущество профиля REHAU – это сверхгладкая поверхность, которая отлично противостоит воздействию ультрафиолета и прослужит без изменения цвета долгие годы – даже белые окна станут отличным украшением в современном дизайне интерьера.
			.r-design__card
				.r-design__wrapper
					svg.r-design__icon
						use(xlink:href="img/sprite.svg#wood")
				.r-design__title WOODEC
				div Мягкая матовая поверхность, неотличимая от натурального дерева. Новая пленка полностью отличается от своих предшественников обескураживающей точностью передачи оптических и тактильных свойств натурального дерева.
			.r-design__card
				.r-design__wrapper
					svg.r-design__icon
						use(xlink:href="img/sprite.svg#palette")
				.r-design__title Окна в цвете
				div Какое цветовое решение Вы выберете, не имеет значения: все плёнки, используемые для ламинации продукции РЕХАУ, только немецкого производства и прошли тщательный контроль при высоких нагрузках.
			.r-design__card
				.r-design__wrapper
					svg.r-design__icon
						use(xlink:href="img/sprite.svg#setting")
				.r-design__title Серый и металлик
				div Выразительные полутона, вневременная элегантность и неограниченное количество комбинаций. Серый – это цвет металла, асфальта и бетона. В общем, цвет современного города.
