section.delivery
	.container
		.delivery__container
			.delivery__left
				.s-title Доставка по адресу Москва и МО
				.delivery__wrapper
					table.delivery__table
						thead
							tr
								th Территориальное деление
								th Стоимость
						tbody
							tr
								td По Фрязино, Щелковскому району, Пушкинскому району
								td 750 ₽
							tr
								td Доставка по г.Москва в пределах МКАД
								td 1500 ₽
							tr
								td Доставка по Московской области от МКАД до А-107 (Малое Московское кольцо, ЦКАД), исключая Фрязино, Щелковский и Пушкинский районы
								td 2000 ₽
							tr
								td Доставка по Московской области от МКАД до А-107 (Малое Московское кольцо, ЦКАД) до А-108 (Большое московское кольцо), исключая Фрязино, Щелковский и Пушкинский районы
								td 2500 ₽
				.delivery__text
					p Если количество изделий свыше 20 единиц, стоимость доставки расчитывается по двойному тарифу за каждые последующие 20 изделий.
			.delivery__right
				.s-title Разгрузка и подъем изделий
				.delivery__wrapper
					table.delivery__table
						thead
							tr._red
								th Услуга
								th Стоимость
						tbody
							tr
								td Перенос к объекту (менее 50м)
								td бесплатно
							tr
								td Перенос к объекту (свыше 50м, но не более 150м, перенос к лифту)
								td 150 ₽/изд.
							tr
								td Подъем вручную по постоянной лестнице
								td с 1-го этажа <br>100 ₽ изд./этаж
							tr
								td Подъем с помощью веревок (только до 10 этажа), пронос или подъем по временным сооружениям*
								td 300 ₽ изд./этаж
				.delivery__text
					ul
						li разгрузка с машины осуществляется бесплатно;
						li перенос к объекту свыше 150м осуществляется силами клиента;
						li подъем и разнос по временным лестницам настилам из непрочного материала осуществляется силами клиента.
					p Подъем и разнос осуществляется по прайсу: 100 ₽ изд./этаж. Считается данная услуга с 1-го этажа.

