*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0 none;
	outline: none;
}
a {
	text-decoration: none;
}

body {
	min-height: 100vh;
	line-height: 1;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

form,
input,
button,
select,
option,
textarea {
	appearance: none;
	background-color: transparent;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
}

table,
thead,
tfoot,
tbody,
tr,
th,
td {
	border-collapse: collapse;
	border-spacing: 0;
	appearance: none;
}
