.text-container {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {}

	h1 {}

	h2 {}

	h3 {}

	h4 {}

	h5 {}

	h6 {}

	p {
		margin-bottom: 20px;
	}

	a {}

	ul,
	ol {
		&>li {}
	}

	ul {
		margin-bottom: 30px;
		&>li {
			position: relative;
			padding-left: 20px;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
			&::after {
				content: '';
				position: absolute;
				top: 7px;
				left: 0;
				width: 10px;
				height: 10px;
				background-color: $red;
				border-radius: 50%;
			}
		}
	}

	ol {
		margin-bottom: 30px;
		&>li {}
	}
}