/*
	* Картинки
*/
$img: '../img/';

/*
	* Цвета
*/
$primary: #1d4c56;
$primary-dark: darken($primary, 15%);
$secondary: #119b14;
$secondary-dark: darken($secondary, 10%);
$red: #dd0060;
$green: #37a58c;
$gray-bg: #e5e5e5;
$gray-text: #888;
/*
	* Шрифты
*/
$main-font: 'UniNeue', 'Arial', 'Helvetica', sans-serif;
$second-font: '', 'Arial', 'Helvetica', sans-serif;

/*
	* Тени
*/

/*
	* Градиенты
*/

/*
	* Размеры
*/
$container-pc: 1200px;
$container-mb: 1200px;
