section.t-bridge
	.container
		.s-title Термомост
		.t-bridge__container
			.t-bridge__item
				img(src="img/t-bridge/img-1.jpg" alt="" class="t-bridge__img")
			.t-bridge__item
				img(src="img/t-bridge/img-2.jpg" alt="" class="t-bridge__img")
			.t-bridge__item
				img(src="img/t-bridge/img-3.jpg" alt="" class="t-bridge__img")
		.t-bridge__text
			p Таким образом, система состоит из трёх элементов:
			ol
				li Внешняя камера – из алюминия;
				li внутренняя камера – из алюминия;
				li Соединительный элемент – профильный полиамид, который представляет собой стекловолокно, спаянное вместе с пластиковым материалом, являющимся теплоизолятором. По прочности этот элемент не уступает металлу, выдерживая большие нагрузки маханического воздействия: как фронтальные, так и вертикальные.
