section.fc-sphere
	.container
		.s-title.t-center Сферы применения фасадного остекления
		.fc-sphere__container
			.fc-sphere__item(style="background-image: url(img/fc-sphere/sph-1.jpg);")
				.fc-sphere__title Загородные коттеджи
			.fc-sphere__item(style="background-image: url(img/fc-sphere/sph-2.jpg);")
				.fc-sphere__title Жилые дома
			.fc-sphere__item(style="background-image: url(img/fc-sphere/sph-3.jpg);")
				.fc-sphere__title Зимние сады
			.fc-sphere__item(style="background-image: url(img/fc-sphere/sph-4.jpg);")
				.fc-sphere__title Торговые комплексы
			.fc-sphere__item(style="background-image: url(img/fc-sphere/sph-5.jpg);")
				.fc-sphere__title Офисы
			.fc-sphere__item(style="background-image: url(img/fc-sphere/sph-6.jpg);")
				.fc-sphere__title Промышленные здания

