section.main-slider
	.main-slider__wrapper
		.main-slider__container
			.main-slider__slide.banner-gift(style="background-image: url(img/main-slider/gift-bg.jpg)")
				.container
					.banner-gift__inner
						.banner-gift__top
							.banner-gift__bold ОкнаПроект
							.banner-gift__title Устали от нечестных скидок, акций?
							.banner-gift__text Получите предложение с реальной скидкой и ценой
						ul.banner-list
							li.banner-list__item Скидка <span>на весь чек</span> в договоре <span>-5%</span>
							li.banner-list__item Скидка <span>на монтаж 10%</span>
							li.banner-list__item Скидка <span>на профиль</span> белый  - <span>15%</span>, цветной  - <span>18%</span>
						button(class="btn _js-popup" data-trigger-modal="measurer") Записаться на замер!
						a(href="#modal-wheel" class="banner-gift__btn js-popup-call")
							span Получить подарок
							svg.banner-gift__icon
								use(xlink:href="img/sprite.svg#gift-box")
			.main-slider__slide.banner-offer(style="background-image: url(img/main-slider/bg-2.jpg)")
				.container
					.main-slider__inner
						.banner-offer__bold Акция до 15 июня
						.main-slider__title Пластиковые окна REHAU со скидкой до 50% +6%
						.main-slider__text.banner-offer__text Закажите немецкие термоокна с защитой от холода и жары <br> по цене обычных <strong>со скидкой до 50% + скидка месяца 6%</strong> на весь чек.
						.form
							.form__wrapper
								.form__row
									.form__field._w50
										input(type="tel" placeholder="Телефон" class="form__input")
									.form__field._w50
										input(type="submit" class="btn" value="Вызвать замерщика")
						.main-slider__text.banner-offer__callback Наш специалист позвонит вам <strong>в течении 10 минут</strong> и подберёт лучшее решение
						.policy-box
							//.policy-box__checkbox
							//	label.checkbox
							//		input(type="checkbox" checked).checkbox__input
							//		span.checkbox__mark.checkbox__mark_theme_dark
							.policy-box__text Нажимая на кнопку, вы принимаете условия и даете cогласие на обработку <a href="#">персональных данных</a>
						//ul.banner-list
						//	li.banner-list__item Скидка <span>на весь чек</span> в договоре <span>-5%</span>
						//	li.banner-list__item Скидка <span>на монтаж 10%</span>
						//	li.banner-list__item Скидка <span>на профиль</span> белый  - <span>15%</span>, цветной  - <span>18%</span>
						//button(class="btn _js-popup" data-trigger-modal="measurer") Записаться на замер!
