section.r-table
	.container
		.s-title.t-center Сравнительные характеристики пластиковых окон Rehau
		.r-table__wrapper
			table.r-table__table
				tbody
					tr
						th &nbsp;
						th
							span.r-table__ticket Лидер продаж
							br
							a( class="r-table__link" href="/produkciya/profil/blitz") Blitz New 60мм
						th
							span &nbsp;
							br
							a( href='/produkciya/profil/sib' class="r-table__link") Euro 60мм
						th
							span.r-table__ticket Новинка!
							br
							a( href='/produkciya/profil/grazio' class="r-table__link") Grazio 70мм
						th
							span.r-table__ticket Лидер продаж
							a( href='/produkciya/profil/delight' class="r-table__link") Delight 70/76мм
						th
							span &nbsp;
							br
							a( href='/produkciya/profil/brillant' class="r-table__link") Brillant 70мм
								br
						th
							span.r-table__ticket Новинка!
							br
							a( href='/produkciya/profil/intelio' class="r-table__link" ) Intelio 80мм
						th
							span &nbsp;
							br
							a( href='/produkciya/profil/geneo' class="r-table__link" ) Geneo 86мм
					tr
						td
							strong Вид
						td
							img(src='img/r-table/img-1.png' alt='Rehau Blitz' class="r-table__img")
						td
							img(src='img/r-table/img-2.png' alt='Rehau Sib' class="r-table__img")
						td
							img(src='img/r-table/img-3.png' alt='Rehau Grazio' class="r-table__img")
						td
							img(src='img/r-table/img-4.png' alt='Rehau Delight' class="r-table__img")
						td
							img(src='img/r-table/img-5.png' alt='Rehau Brillant' class="r-table__img")
						td
							img(src='img/r-table/img-6.png' alt='Rehau Intelio' class="r-table__img")
						td
							img(src='img/r-table/img-7.png' alt='Rehau Geneo' class="r-table__img")
					tr
						td
							strong Толщина стенок
						td 2.7 мм
						td 3 мм
						td 3 мм
						td 3 мм
						td 3 мм
						td 3 мм
						td 3 мм
					tr
						td
							strong Стеклопакет
						td 24,32 мм
						td 24,32 мм
						td 32,40 мм
						td 32,40 мм
						td 32,40 мм
						td 44 мм (Low-E)
						td 44 мм
					tr
						td
							strong Количество камер
						td 3
						td 3 и предкамера
						td 5
						td 5
						td 5
						td 6
						td 6
					tr
						td
							strong Уплотнение
						td
							| 2 контура<br> черная<br> серая<br> белая
						td
							| 2 контура<br> черная<br> серая<br> белая
						td
							| 2 контура<br> черная<br> серая<br> белая
						td
							| 2 контура<br> черная<br> серая<br> белая
						td
							| 2 контура<br> черная<br> серая
						td
							| 2 контура<br> черная<br> серая<br> белая
						td
							| 2 контура<br> черная<br> серая<br> белая
					tr
						td
							strong Системная глубина
						td 60 мм
						td 60 мм
						td 70 мм
						td 70 мм
						td 70 мм
						td 80 мм
						td 86 мм
					tr
						td
							strong Звукоизоляция
						td до 20 дБ
						td до 26 дБ
						td до 45 дБ
						td до 32 дБ
						td до 36 дБ
						td от 36 дБ
						td до 47 дБ
					tr
						td
							strong Сопротивление теплопередаче
						td 0,70 м<sup>2</sup> С/Вт
						td 0,74 м<sup>2</sup> С/Вт
						td 0,85 м<sup>2</sup> С/Вт
						td 0,80 м<sup>2</sup> С/Вт
						td 0,79 м<sup>2</sup> С/Вт
						td 0,98 м<sup>2</sup> С/Вт
						td 1,05 м<sup>2</sup> С/Вт
					tr
						td
							strong Взломобезопасность
						td 1,2,3 класс
						td 1,2,3 класс
						td 1,2,3 класс
						td 1,2,3 класс
						td 1,2,3 класс
						td 1,2,3 класс
						td 1,2,3 класс
					tr
						td
							strong Особенность
						td
							| Оптимальный выбор как для объектного,так и частного строительства. Прекрасно подходит для строительства новых и реконструкции существующих жилых и общественных зданий
						td
							| Оптимальный выбор как для объектного,так и частного строительства. Прекрасно подходит для строительства новых и реконструкции существующих жилых и общественных зданий
						td
							| Новая система пришла на рынок в 2018 году ,сменила систему Rehau Sib. Эта система выгодно отличается от аналогичных систем на рынке!
						td
							| Применяются в квартирах 21 Века и частном загородном строительстве. Благодаря этой системе ваш дом наполнятся светом и теплом! В этом профиле на 10 % больше света чем в других системах!
						td
							| Эта система ориентирована на свой дизайн.  Так же применяются  в квартирах 21 Века и частном загородном строительстве
						td
							| Усиленная звукоизоляция, легкий уход, очень теплые
						td
							| Лучшее из возможного. Окна без границ. Это окно, не имеющее аналогов среди многообразия пластиковых окон, представленных на рынке светопрозрачных конструкций.

