section.p-promo
	.container
		.p-promo__inner
			.p-promo__text Нужна консультация специалиста? Звоните сейчас и получите <b>скидку до 25%</b> на окна и балконы
			a(href="tel:+74950032636" class="p-promo__phone")
				.p-promo__wrapper
					svg.p-promo__icon
						use(xlink:href="img/sprite.svg#phone")
				| +7 (495) 003 26 36
			.p-promo__info Пишите <a href="mailto:info@oknaproekt.ru" class="p-promo__link">info@oknaproekt.ru</a> или приходите в наш офис <br> Московская область, г. Красногорск, Красногорский бульвар, дом 17 (м. Мякинино)
			a(href="#callback" class="new-btn js-popup-call") Получите скидку
