section.product-price
	.container
		.section-title.t-center СТОИМОСТЬ ОКОН ИЗ СОСНЫ С ДВУХКАМЕРНЫМ СТЕКЛОПАКЕТОМ
		.product-price__text Производятся они исключительно из высококачественных пород древесины, которые являются экологически чистым материалом. Такие конструкции очень красивы, а изысканность натурального дерева украсит любой интерьер. Мы предлагаем оконные конструкции из клеенного бруса (сосны, лиственницы и дуба).
		.product-price__container
			.product-price__item
				img(src="img/product-price/img-1.png" alt="" class="product-price__img")
				.product-price__title Двухстворчатое окно из сосны
				.product-price__size Размер 1500х1500 мм
				.product-price__price цена <span>19 740 ₽</span>
				a(href="#callback" class="invert-btn js-popup-call") Заказать остекление
			.product-price__item
				img(src="img/product-price/img-2.png" alt="" class="product-price__img")
				.product-price__title Трехстворчатое окно из сосны
				.product-price__size Размер 1800х1500 мм
				.product-price__price цена <span>26 730 ₽</span>
				a(href="#callback" class="invert-btn js-popup-call") Заказать остекление
			.product-price__item
				img(src="img/product-price/img-3.png" alt="" class="product-price__img")
				.product-price__title Балконная дверь из сосны
				.product-price__size Размер 700х1950 мм
				.product-price__price цена <span>18 400 ₽</span>
				a(href="#callback" class="invert-btn js-popup-call") Заказать остекление
			.product-price__item
				img(src="img/product-price/img-4.png" alt="" class="product-price__img")
				.product-price__title Балконный блок из сосны
				.product-price__size Размер 2150х1950 мм
				.product-price__price цена <span>39 800 ₽</span>
				a(href="#callback" class="invert-btn js-popup-call") Заказать остекление