.r-prices
	.container-full
		.s-title.t-center Цена на немецкие окна
		.r-prices__text Выберите профиль
		.r-prices__tabs
			.r-prices__wrapper
				ul.r-prices__controls
					li.r-prices__link.active Blitz
					li.r-prices__link Grazio
					li.r-prices__link Delight
					li.r-prices__link Brillant
					li.r-prices__link Intelio 80
					li.r-prices__link Geneo
			.r-prices__content
				.r-prices__item.active
					.r-products
						.r-products__card
							.r-products__info
								img(src="/img/r-prices/nm-w-type-1.png" alt="" class="r-products__img")
								.r-products__top
									.r-products__title Двухстворчатое
									.r-products__size Размер: 1330 x 1410 мм (1,87 м<sup>2</sup>)
								.r-products__center
									.r-products__col
										.r-products__data
											.r-products__char Blitz
											.r-products__val 3 камеры, 60 мм
										.r-products__data
											.r-products__char Стеклопакет
											.r-products__val 32 мм
										.r-products__data
											.r-products__char Фурнитура
											.r-products__val Европейская
									.r-products__col
										.r-products__data
											.r-products__char Тепло
											.r-products__range
												span(style="width: 90%")
										.r-products__data
											.r-products__char Свет
											.r-products__range
												span(style="width: 60%")
										.r-products__data
											.r-products__char Шум
											.r-products__range
												span(style="width: 40%")
								.r-products__bottom
									.r-products__left
										| Под ключ:
										strong 25 400 ₽
									.r-products__right
										span 24 800 ₽
										strong 16 820 ₽
							.r-products__btn-wrapper
								a(href="#" class="new-btn") Заказать остекление
						.r-products__card
							.r-products__info
								img(src="/img/r-prices/nm-w-type-2.png" alt="" class="r-products__img")
								.r-products__top
									.r-products__title Трёхстворчатое
									.r-products__size Размер: 1760 x 1420 мм (2,50 м<sup>2</sup>)
								.r-products__center
									.r-products__col
										.r-products__data
											.r-products__char Blitz
											.r-products__val 3 камеры, 60 мм
										.r-products__data
											.r-products__char Стеклопакет
											.r-products__val 32 мм
										.r-products__data
											.r-products__char Фурнитура
											.r-products__val Европейская
									.r-products__col
										.r-products__data
											.r-products__char Тепло
											.r-products__range
												span(style="width: 90%")
										.r-products__data
											.r-products__char Свет
											.r-products__range
												span(style="width: 60%")
										.r-products__data
											.r-products__char Шум
											.r-products__range
												span(style="width: 40%")
								.r-products__bottom
									.r-products__left
										| Под ключ:
										strong 31 200 ₽
									.r-products__right
										span 32 800 ₽
										strong 21 185 ₽
							.r-products__btn-wrapper
								a(href="#" class="new-btn") Заказать остекление
						.r-products__card
							.r-products__info
								img(src="/img/r-prices/nm-w-type-3.png" alt="" class="r-products__img")
								.r-products__top
									.r-products__title Балконный блок
									.r-products__size Размер: 1760 x 1420 мм (2,50 м<sup>2</sup>)
								.r-products__center
									.r-products__col
										.r-products__data
											.r-products__char Blitz
											.r-products__val 3 камеры, 60 мм
										.r-products__data
											.r-products__char Стеклопакет
											.r-products__val 32 мм
										.r-products__data
											.r-products__char Фурнитура
											.r-products__val Европейская
									.r-products__col
										.r-products__data
											.r-products__char Тепло
											.r-products__range
												span(style="width: 90%")
										.r-products__data
											.r-products__char Свет
											.r-products__range
												span(style="width: 60%")
										.r-products__data
											.r-products__char Шум
											.r-products__range
												span(style="width: 40%")
								.r-products__bottom
									.r-products__left
										| Под ключ:
										strong 31 200 ₽
									.r-products__right
										span 32 800 ₽
										strong 21 185 ₽
							.r-products__btn-wrapper
								a(href="#" class="new-btn") Заказать остекление
				.r-prices__item
					.r-products
						.r-products__card
							.r-products__info
								img(src="/img/r-prices/nm-w-type-1.png" alt="" class="r-products__img")
								.r-products__top
									.r-products__title Двухстворчатое
									.r-products__size Размер: 1330 x 1410 мм (1,87 м<sup>2</sup>)
								.r-products__center
									.r-products__col
										.r-products__data
											.r-products__char Grazio
											.r-products__val 3 камеры, 60 мм
										.r-products__data
											.r-products__char Стеклопакет
											.r-products__val 32 мм
										.r-products__data
											.r-products__char Фурнитура
											.r-products__val Европейская
									.r-products__col
										.r-products__data
											.r-products__char Тепло
											.r-products__range
												span(style="width: 90%")
										.r-products__data
											.r-products__char Свет
											.r-products__range
												span(style="width: 60%")
										.r-products__data
											.r-products__char Шум
											.r-products__range
												span(style="width: 40%")
								.r-products__bottom
									.r-products__left
										| Под ключ:
										strong 25 400 ₽
									.r-products__right
										span 24 800 ₽
										strong 16 820 ₽
							.r-products__btn-wrapper
								a(href="#" class="new-btn") Заказать остекление
						.r-products__card
							.r-products__info
								img(src="/img/r-prices/nm-w-type-2.png" alt="" class="r-products__img")
								.r-products__top
									.r-products__title Трёхстворчатое
									.r-products__size Размер: 1760 x 1420 мм (2,50 м<sup>2</sup>)
								.r-products__center
									.r-products__col
										.r-products__data
											.r-products__char Grazio
											.r-products__val 3 камеры, 60 мм
										.r-products__data
											.r-products__char Стеклопакет
											.r-products__val 32 мм
										.r-products__data
											.r-products__char Фурнитура
											.r-products__val Европейская
									.r-products__col
										.r-products__data
											.r-products__char Тепло
											.r-products__range
												span(style="width: 90%")
										.r-products__data
											.r-products__char Свет
											.r-products__range
												span(style="width: 60%")
										.r-products__data
											.r-products__char Шум
											.r-products__range
												span(style="width: 40%")
								.r-products__bottom
									.r-products__left
										| Под ключ:
										strong 31 200 ₽
									.r-products__right
										span 32 800 ₽
										strong 21 185 ₽
							.r-products__btn-wrapper
								a(href="#" class="new-btn") Заказать остекление
						.r-products__card
							.r-products__info
								img(src="/img/r-prices/nm-w-type-3.png" alt="" class="r-products__img")
								.r-products__top
									.r-products__title Балконный блок
									.r-products__size Размер: 1760 x 1420 мм (2,50 м<sup>2</sup>)
								.r-products__center
									.r-products__col
										.r-products__data
											.r-products__char Grazio
											.r-products__val 3 камеры, 60 мм
										.r-products__data
											.r-products__char Стеклопакет
											.r-products__val 32 мм
										.r-products__data
											.r-products__char Фурнитура
											.r-products__val Европейская
									.r-products__col
										.r-products__data
											.r-products__char Тепло
											.r-products__range
												span(style="width: 90%")
										.r-products__data
											.r-products__char Свет
											.r-products__range
												span(style="width: 60%")
										.r-products__data
											.r-products__char Шум
											.r-products__range
												span(style="width: 40%")
								.r-products__bottom
									.r-products__left
										| Под ключ:
										strong 31 200 ₽
									.r-products__right
										span 32 800 ₽
										strong 21 185 ₽
							.r-products__btn-wrapper
								a(href="#" class="new-btn") Заказать остекление
				.r-prices__item
					.r-products
						.r-products__card
							.r-products__info
								img(src="/img/r-prices/nm-w-type-1.png" alt="" class="r-products__img")
								.r-products__top
									.r-products__title Двухстворчатое
									.r-products__size Размер: 1330 x 1410 мм (1,87 м<sup>2</sup>)
								.r-products__center
									.r-products__col
										.r-products__data
											.r-products__char Blitz
											.r-products__val 3 камеры, 60 мм
										.r-products__data
											.r-products__char Стеклопакет
											.r-products__val 32 мм
										.r-products__data
											.r-products__char Фурнитура
											.r-products__val Европейская
									.r-products__col
										.r-products__data
											.r-products__char Тепло
											.r-products__range
												span(style="width: 90%")
										.r-products__data
											.r-products__char Свет
											.r-products__range
												span(style="width: 60%")
										.r-products__data
											.r-products__char Шум
											.r-products__range
												span(style="width: 40%")
								.r-products__bottom
									.r-products__left
										| Под ключ:
										strong 25 400 ₽
									.r-products__right
										span 24 800 ₽
										strong 16 820 ₽
							.r-products__btn-wrapper
								a(href="#" class="new-btn") Заказать остекление
						.r-products__card
							.r-products__info
								img(src="/img/r-prices/nm-w-type-2.png" alt="" class="r-products__img")
								.r-products__top
									.r-products__title Трёхстворчатое
									.r-products__size Размер: 1760 x 1420 мм (2,50 м<sup>2</sup>)
								.r-products__center
									.r-products__col
										.r-products__data
											.r-products__char Blitz
											.r-products__val 3 камеры, 60 мм
										.r-products__data
											.r-products__char Стеклопакет
											.r-products__val 32 мм
										.r-products__data
											.r-products__char Фурнитура
											.r-products__val Европейская
									.r-products__col
										.r-products__data
											.r-products__char Тепло
											.r-products__range
												span(style="width: 90%")
										.r-products__data
											.r-products__char Свет
											.r-products__range
												span(style="width: 60%")
										.r-products__data
											.r-products__char Шум
											.r-products__range
												span(style="width: 40%")
								.r-products__bottom
									.r-products__left
										| Под ключ:
										strong 31 200 ₽
									.r-products__right
										span 32 800 ₽
										strong 21 185 ₽
							.r-products__btn-wrapper
								a(href="#" class="new-btn") Заказать остекление
						.r-products__card
							.r-products__info
								img(src="/img/r-prices/nm-w-type-3.png" alt="" class="r-products__img")
								.r-products__top
									.r-products__title Балконный блок
									.r-products__size Размер: 1760 x 1420 мм (2,50 м<sup>2</sup>)
								.r-products__center
									.r-products__col
										.r-products__data
											.r-products__char Blitz
											.r-products__val 3 камеры, 60 мм
										.r-products__data
											.r-products__char Стеклопакет
											.r-products__val 32 мм
										.r-products__data
											.r-products__char Фурнитура
											.r-products__val Европейская
									.r-products__col
										.r-products__data
											.r-products__char Тепло
											.r-products__range
												span(style="width: 90%")
										.r-products__data
											.r-products__char Свет
											.r-products__range
												span(style="width: 60%")
										.r-products__data
											.r-products__char Шум
											.r-products__range
												span(style="width: 40%")
								.r-products__bottom
									.r-products__left
										| Под ключ:
										strong 31 200 ₽
									.r-products__right
										span 32 800 ₽
										strong 21 185 ₽
							.r-products__btn-wrapper
								a(href="#" class="new-btn") Заказать остекление
				.r-prices__item
					.r-products
						.r-products__card
							.r-products__info
								img(src="/img/r-prices/nm-w-type-1.png" alt="" class="r-products__img")
								.r-products__top
									.r-products__title Двухстворчатое
									.r-products__size Размер: 1330 x 1410 мм (1,87 м<sup>2</sup>)
								.r-products__center
									.r-products__col
										.r-products__data
											.r-products__char Blitz
											.r-products__val 3 камеры, 60 мм
										.r-products__data
											.r-products__char Стеклопакет
											.r-products__val 32 мм
										.r-products__data
											.r-products__char Фурнитура
											.r-products__val Европейская
									.r-products__col
										.r-products__data
											.r-products__char Тепло
											.r-products__range
												span(style="width: 90%")
										.r-products__data
											.r-products__char Свет
											.r-products__range
												span(style="width: 60%")
										.r-products__data
											.r-products__char Шум
											.r-products__range
												span(style="width: 40%")
								.r-products__bottom
									.r-products__left
										| Под ключ:
										strong 25 400 ₽
									.r-products__right
										span 24 800 ₽
										strong 16 820 ₽
							.r-products__btn-wrapper
								a(href="#" class="new-btn") Заказать остекление
						.r-products__card
							.r-products__info
								img(src="/img/r-prices/nm-w-type-2.png" alt="" class="r-products__img")
								.r-products__top
									.r-products__title Трёхстворчатое
									.r-products__size Размер: 1760 x 1420 мм (2,50 м<sup>2</sup>)
								.r-products__center
									.r-products__col
										.r-products__data
											.r-products__char Blitz
											.r-products__val 3 камеры, 60 мм
										.r-products__data
											.r-products__char Стеклопакет
											.r-products__val 32 мм
										.r-products__data
											.r-products__char Фурнитура
											.r-products__val Европейская
									.r-products__col
										.r-products__data
											.r-products__char Тепло
											.r-products__range
												span(style="width: 90%")
										.r-products__data
											.r-products__char Свет
											.r-products__range
												span(style="width: 60%")
										.r-products__data
											.r-products__char Шум
											.r-products__range
												span(style="width: 40%")
								.r-products__bottom
									.r-products__left
										| Под ключ:
										strong 31 200 ₽
									.r-products__right
										span 32 800 ₽
										strong 21 185 ₽
							.r-products__btn-wrapper
								a(href="#" class="new-btn") Заказать остекление
						.r-products__card
							.r-products__info
								img(src="/img/r-prices/nm-w-type-3.png" alt="" class="r-products__img")
								.r-products__top
									.r-products__title Балконный блок
									.r-products__size Размер: 1760 x 1420 мм (2,50 м<sup>2</sup>)
								.r-products__center
									.r-products__col
										.r-products__data
											.r-products__char Blitz
											.r-products__val 3 камеры, 60 мм
										.r-products__data
											.r-products__char Стеклопакет
											.r-products__val 32 мм
										.r-products__data
											.r-products__char Фурнитура
											.r-products__val Европейская
									.r-products__col
										.r-products__data
											.r-products__char Тепло
											.r-products__range
												span(style="width: 90%")
										.r-products__data
											.r-products__char Свет
											.r-products__range
												span(style="width: 60%")
										.r-products__data
											.r-products__char Шум
											.r-products__range
												span(style="width: 40%")
								.r-products__bottom
									.r-products__left
										| Под ключ:
										strong 31 200 ₽
									.r-products__right
										span 32 800 ₽
										strong 21 185 ₽
							.r-products__btn-wrapper
								a(href="#" class="new-btn") Заказать остекление
				.r-prices__item
					.r-products
						.r-products__card
							.r-products__info
								img(src="/img/r-prices/nm-w-type-1.png" alt="" class="r-products__img")
								.r-products__top
									.r-products__title Двухстворчатое
									.r-products__size Размер: 1330 x 1410 мм (1,87 м<sup>2</sup>)
								.r-products__center
									.r-products__col
										.r-products__data
											.r-products__char Blitz
											.r-products__val 3 камеры, 60 мм
										.r-products__data
											.r-products__char Стеклопакет
											.r-products__val 32 мм
										.r-products__data
											.r-products__char Фурнитура
											.r-products__val Европейская
									.r-products__col
										.r-products__data
											.r-products__char Тепло
											.r-products__range
												span(style="width: 90%")
										.r-products__data
											.r-products__char Свет
											.r-products__range
												span(style="width: 60%")
										.r-products__data
											.r-products__char Шум
											.r-products__range
												span(style="width: 40%")
								.r-products__bottom
									.r-products__left
										| Под ключ:
										strong 25 400 ₽
									.r-products__right
										span 24 800 ₽
										strong 16 820 ₽
							.r-products__btn-wrapper
								a(href="#" class="new-btn") Заказать остекление
						.r-products__card
							.r-products__info
								img(src="/img/r-prices/nm-w-type-2.png" alt="" class="r-products__img")
								.r-products__top
									.r-products__title Трёхстворчатое
									.r-products__size Размер: 1760 x 1420 мм (2,50 м<sup>2</sup>)
								.r-products__center
									.r-products__col
										.r-products__data
											.r-products__char Blitz
											.r-products__val 3 камеры, 60 мм
										.r-products__data
											.r-products__char Стеклопакет
											.r-products__val 32 мм
										.r-products__data
											.r-products__char Фурнитура
											.r-products__val Европейская
									.r-products__col
										.r-products__data
											.r-products__char Тепло
											.r-products__range
												span(style="width: 90%")
										.r-products__data
											.r-products__char Свет
											.r-products__range
												span(style="width: 60%")
										.r-products__data
											.r-products__char Шум
											.r-products__range
												span(style="width: 40%")
								.r-products__bottom
									.r-products__left
										| Под ключ:
										strong 31 200 ₽
									.r-products__right
										span 32 800 ₽
										strong 21 185 ₽
							.r-products__btn-wrapper
								a(href="#" class="new-btn") Заказать остекление
						.r-products__card
							.r-products__info
								img(src="/img/r-prices/nm-w-type-3.png" alt="" class="r-products__img")
								.r-products__top
									.r-products__title Балконный блок
									.r-products__size Размер: 1760 x 1420 мм (2,50 м<sup>2</sup>)
								.r-products__center
									.r-products__col
										.r-products__data
											.r-products__char Blitz
											.r-products__val 3 камеры, 60 мм
										.r-products__data
											.r-products__char Стеклопакет
											.r-products__val 32 мм
										.r-products__data
											.r-products__char Фурнитура
											.r-products__val Европейская
									.r-products__col
										.r-products__data
											.r-products__char Тепло
											.r-products__range
												span(style="width: 90%")
										.r-products__data
											.r-products__char Свет
											.r-products__range
												span(style="width: 60%")
										.r-products__data
											.r-products__char Шум
											.r-products__range
												span(style="width: 40%")
								.r-products__bottom
									.r-products__left
										| Под ключ:
										strong 31 200 ₽
									.r-products__right
										span 32 800 ₽
										strong 21 185 ₽
							.r-products__btn-wrapper
								a(href="#" class="new-btn") Заказать остекление
				.r-prices__item
					.r-products
						.r-products__card
							.r-products__info
								img(src="/img/r-prices/nm-w-type-1.png" alt="" class="r-products__img")
								.r-products__top
									.r-products__title Двухстворчатое
									.r-products__size Размер: 1330 x 1410 мм (1,87 м<sup>2</sup>)
								.r-products__center
									.r-products__col
										.r-products__data
											.r-products__char Blitz
											.r-products__val 3 камеры, 60 мм
										.r-products__data
											.r-products__char Стеклопакет
											.r-products__val 32 мм
										.r-products__data
											.r-products__char Фурнитура
											.r-products__val Европейская
									.r-products__col
										.r-products__data
											.r-products__char Тепло
											.r-products__range
												span(style="width: 90%")
										.r-products__data
											.r-products__char Свет
											.r-products__range
												span(style="width: 60%")
										.r-products__data
											.r-products__char Шум
											.r-products__range
												span(style="width: 40%")
								.r-products__bottom
									.r-products__left
										| Под ключ:
										strong 25 400 ₽
									.r-products__right
										span 24 800 ₽
										strong 16 820 ₽
							.r-products__btn-wrapper
								a(href="#" class="new-btn") Заказать остекление
						.r-products__card
							.r-products__info
								img(src="/img/r-prices/nm-w-type-2.png" alt="" class="r-products__img")
								.r-products__top
									.r-products__title Трёхстворчатое
									.r-products__size Размер: 1760 x 1420 мм (2,50 м<sup>2</sup>)
								.r-products__center
									.r-products__col
										.r-products__data
											.r-products__char Blitz
											.r-products__val 3 камеры, 60 мм
										.r-products__data
											.r-products__char Стеклопакет
											.r-products__val 32 мм
										.r-products__data
											.r-products__char Фурнитура
											.r-products__val Европейская
									.r-products__col
										.r-products__data
											.r-products__char Тепло
											.r-products__range
												span(style="width: 90%")
										.r-products__data
											.r-products__char Свет
											.r-products__range
												span(style="width: 60%")
										.r-products__data
											.r-products__char Шум
											.r-products__range
												span(style="width: 40%")
								.r-products__bottom
									.r-products__left
										| Под ключ:
										strong 31 200 ₽
									.r-products__right
										span 32 800 ₽
										strong 21 185 ₽
							.r-products__btn-wrapper
								a(href="#" class="new-btn") Заказать остекление
						.r-products__card
							.r-products__info
								img(src="/img/r-prices/nm-w-type-3.png" alt="" class="r-products__img")
								.r-products__top
									.r-products__title Балконный блок
									.r-products__size Размер: 1760 x 1420 мм (2,50 м<sup>2</sup>)
								.r-products__center
									.r-products__col
										.r-products__data
											.r-products__char Blitz
											.r-products__val 3 камеры, 60 мм
										.r-products__data
											.r-products__char Стеклопакет
											.r-products__val 32 мм
										.r-products__data
											.r-products__char Фурнитура
											.r-products__val Европейская
									.r-products__col
										.r-products__data
											.r-products__char Тепло
											.r-products__range
												span(style="width: 90%")
										.r-products__data
											.r-products__char Свет
											.r-products__range
												span(style="width: 60%")
										.r-products__data
											.r-products__char Шум
											.r-products__range
												span(style="width: 40%")
								.r-products__bottom
									.r-products__left
										| Под ключ:
										strong 31 200 ₽
									.r-products__right
										span 32 800 ₽
										strong 21 185 ₽
							.r-products__btn-wrapper
								a(href="#" class="new-btn") Заказать остекление

