section.specifications
	.container
		.section-title.t-center ФИЗИЧЕСКИЕ ХАРАКТЕРИСТИКИ ДУБА
		.specifications__container
			.specifications__item
				img(src="img/specifications/img-1.jpg" alt="" class="specifications__img")
				.specifications__title Произрастание дуба
				.specifications__text В России практически везде можно встретить дуб – он растет повсеместно, но ценность различных пород неоднозначна. Наиболее ценится древесина с Восточного и Северного Кавказа, дуб, выросший в Краснодарском крае. География произрастания дуба не ограничивается Россией, деревья с ценной древесиной можно встретить на севере и юге Европы, в Турции, Южной Финляндии на Аландских островах.
			.specifications__item
				img(src="img/specifications/img-2.jpg" alt="" class="specifications__img")
				.specifications__title Продолжительность жизни
				.specifications__text Срок жизни дуба превышает 1000 лет, деревья вырастают до 30 метров и достигают в диаметре до 180 см. Дубы, произрастающие в лесной зоне, более низкие, но имеют более ровный контур без сучков. Древесина дуба износостойкая, тяжелая, плотная, вязкая и твердая, а оттенок дерева и его внешний вид зависит от географии произрастания.
			.specifications__item
				img(src="img/specifications/img-3.jpg" alt="" class="specifications__img")
				.specifications__title Показатель плотности
				.specifications__text Средний показатель плотности свежесрезанного дерева при влажности 12% достигает 690,1 кг/м3, а после сушки – 650,1 кг/м3. Плотность зависит от места произрастания дерева: самая плотная древесина поставляется из Украины, Азербайджана, ниже плотность у дуба из Белоруссии, далее из Грузии, Краснодарского края и Прибалтики.
			.specifications__item
				img(src="img/specifications/img-4.jpg" alt="" class="specifications__img")
				.specifications__title Воздухо- и влагопроницаемость
				.specifications__text Окна из сосны, цена которых варьируется в зависимости от региона выращивания, может иметь различный внешний вид естественной фактуры и окраски. Изменить или дополнить дизайн можно при помощи лакокрасочных покрытий и пропиток.

