.container
	section.al-catalog.al-color(style="background-image: url(img/al-color/bg.jpg)")
		.al-catalog__inner.al-color__inner
			.s-title Цветные  алюминиевые окна
			.al-catalog__text
				strong под Ваш интерьер или фасад здания
				p Любой оттенок – это реальность. Окрашивание оконного профиля долговечно – речь идет о нанесении на материал тончайшей пленки, которая не только окрашивает, но и выполняет защитную функцию, предохраняя изделие от атмосферного воздействия.
			a(href="/colored-windows/" class="btn-green") Подробнее

