section.al-main.mb-0(style="background-image: url(img/al-main/bg.jpg)")
	.container
		.al-main__inner
			.s-title.al-main__title Алюминиевые окна
			.al-main__text от производителя с <span>гарантией по договору</span>
			ul.al-main__list
				li.al-main__item
					.al-main__wrapper
						svg.al-main__icon
							use(xlink:href="img/sprite.svg#discount")
					| Предложим цены на 20% ниже рынка
				li.al-main__item
					.al-main__wrapper
						svg.al-main__icon
							use(xlink:href="img/sprite.svg#badge")
					| Бесплатный замер в удобное для Вас время
			a(href="#callback" class="new-btn js-popup-call") Расчитать со скидкой
