section.form-banner(style="background-image: url(img/form-banner/bg.jpg);")
	.container
		.form-banner__container
			.form-banner__stock Акция до 25 ноября
			.s-title.form-banner__title Пластиковые окна Rehau со скидкой до 50%
			.form-banner__text.mb-40 Закажите немецкие Термоокна с защитой от холода и жары по цене обычных <b>со скидкой до 50% + скидка месяца 6% на весь чек</b>
			.form
				.form__wrapper
					.form__field.form__field--m
						svg.form__icon
							use(xlink:href="img/sprite.svg#phone")
						input(type="tel" class="form__input form__input--border form__input--icon" placeholder="+7")
					.form__field.form__field--sm
						input(type="submit" value="Получить скидку" class="new-btn new-btn--green")
			.form-banner__text-lg Наш специалист позвонит вам в <b>течение 10 минут</b> и подберёт лучшее решение
			.form-banner__text-sm Нажимая на кнопку, вы принимаете условия Положения и даете Согласие на обработку персональных данных
