section.windoors
	.container
		.section-title.t-center Окна и двери
		.mnogo-tabs
			ul.mnogo-tabs__controls
				li.mnogo-tabs__link.active Серии
				li.mnogo-tabs__link Профиль
				li.mnogo-tabs__link Преимущества
				li.mnogo-tabs__link Открывание
				li.mnogo-tabs__link Формы
				li.mnogo-tabs__link Двери
				li.mnogo-tabs__link Стеклопакеты
			.mnogo-tabs__container
				.mnogo-tabs__item.active
					.windoors__container
						.windoors__card.card
							img(src="img/windoors/img-1.png" alt="" class="card__img")
							.card__title Econom
							.card__text Окна которые позволят вам почувствовать уют в доме
						.windoors__card.card
							img(src="img/windoors/img-2.png" alt="" class="card__img")
							.card__title Standart
							.card__text Прекрасное соотношение цены и качества
						.windoors__card.card
							img(src="img/windoors/img-3.png" alt="" class="card__img")
							.card__title Elite
							.card__text Само слово говорит об окнах премиум класса
					.colors
						.colors__title Доступные цветовые решения
						.colors__container
							img(src="img/windoors/thumb-1.jpg" alt="" title="" class="colors__img")
							img(src="img/windoors/thumb-2.jpg" alt="" title="" class="colors__img")
							img(src="img/windoors/thumb-3.jpg" alt="" title="" class="colors__img")
							img(src="img/windoors/thumb-4.jpg" alt="" title="" class="colors__img")
							img(src="img/windoors/thumb-5.jpg" alt="" title="" class="colors__img")
							img(src="img/windoors/thumb-6.jpg" alt="" title="" class="colors__img")
							img(src="img/windoors/thumb-7.jpg" alt="" title="" class="colors__img")
							img(src="img/windoors/thumb-8.jpg" alt="" title="" class="colors__img")
							img(src="img/windoors/thumb-9.jpg" alt="" title="" class="colors__img")
							img(src="img/windoors/thumb-10.jpg" alt="" title="" class="colors__img")
				.mnogo-tabs__item
					.simple-wrapper
						.profile
							.profile__wrapper
								img(src="img/windoors/img-4.png" alt=""  class="profile__img")
							.profile__mnogo-cordeon.mnogo-cordeon
								button.mnogo-cordeon__head
									.mnogo-cordeon__mark A
									.mnogo-cordeon__title Трёхслойный кленый брус
									svg.mnogo-cordeon__chevron
										use(xlink:href="img/sprite.svg#chevron")
									.mnogo-cordeon__body деревянное окно ОкнаПроект изготовляется из клееного трехслойного оконного бруса. Определенной, соответствующей ГОСТу влажности и сечения (Класс А). Склейка ламелей разной направленности волокон дает для готовой конструкции определенные преимущества: оконный блок не коробит, не ведет, он не рассыхается, жестко держит свои геометрические размеры в течении всего срока эксплуатации, а так же позволяет увеличить прочность изделий на 80% по сравнению с цельнодеревянными конструкциями. При склеивании ламелей используется специальный клей, с классом водостойкости D4, что исключает расклеивание бруса. Используется только качественная древесина сосны, лиственницы, дуба.
								button.mnogo-cordeon__head
									.mnogo-cordeon__mark B
									.mnogo-cordeon__title Двухкамерный стеклопакет толщиной 42мм
									svg.mnogo-cordeon__chevron
										use(xlink:href="img/sprite.svg#chevron")
									.mnogo-cordeon__body деревянное окно ОкнаПроект изготовляется из клееного трехслойного оконного бруса. Определенной, соответствующей ГОСТу влажности и сечения (Класс А). Склейка ламелей разной направленности волокон дает для готовой конструкции определенные преимущества: оконный блок не коробит, не ведет, он не рассыхается, жестко держит свои геометрические размеры в течении всего срока эксплуатации, а так же позволяет увеличить прочность изделий на 80% по сравнению с цельнодеревянными конструкциями. При склеивании ламелей используется специальный клей, с классом водостойкости D4, что исключает расклеивание бруса. Используется только качественная древесина сосны, лиственницы, дуба.
								button.mnogo-cordeon__head
									.mnogo-cordeon__mark C
									.mnogo-cordeon__title Фурнитура Siegenia-Аubi
									svg.mnogo-cordeon__chevron
										use(xlink:href="img/sprite.svg#chevron")
									.mnogo-cordeon__body деревянное окно ОкнаПроект изготовляется из клееного трехслойного оконного бруса. Определенной, соответствующей ГОСТу влажности и сечения (Класс А). Склейка ламелей разной направленности волокон дает для готовой конструкции определенные преимущества: оконный блок не коробит, не ведет, он не рассыхается, жестко держит свои геометрические размеры в течении всего срока эксплуатации, а так же позволяет увеличить прочность изделий на 80% по сравнению с цельнодеревянными конструкциями. При склеивании ламелей используется специальный клей, с классом водостойкости D4, что исключает расклеивание бруса. Используется только качественная древесина сосны, лиственницы, дуба.
								button.mnogo-cordeon__head
									.mnogo-cordeon__mark D
									.mnogo-cordeon__title Водоотводный профиль
									svg.mnogo-cordeon__chevron
										use(xlink:href="img/sprite.svg#chevron")
									.mnogo-cordeon__body деревянное окно ОкнаПроект изготовляется из клееного трехслойного оконного бруса. Определенной, соответствующей ГОСТу влажности и сечения (Класс А). Склейка ламелей разной направленности волокон дает для готовой конструкции определенные преимущества: оконный блок не коробит, не ведет, он не рассыхается, жестко держит свои геометрические размеры в течении всего срока эксплуатации, а так же позволяет увеличить прочность изделий на 80% по сравнению с цельнодеревянными конструкциями. При склеивании ламелей используется специальный клей, с классом водостойкости D4, что исключает расклеивание бруса. Используется только качественная древесина сосны, лиственницы, дуба.
								button.mnogo-cordeon__head
									.mnogo-cordeon__mark E
									.mnogo-cordeon__title Лакокрасочное покрытие
									svg.mnogo-cordeon__chevron
										use(xlink:href="img/sprite.svg#chevron")
									.mnogo-cordeon__body деревянное окно ОкнаПроект изготовляется из клееного трехслойного оконного бруса. Определенной, соответствующей ГОСТу влажности и сечения (Класс А). Склейка ламелей разной направленности волокон дает для готовой конструкции определенные преимущества: оконный блок не коробит, не ведет, он не рассыхается, жестко держит свои геометрические размеры в течении всего срока эксплуатации, а так же позволяет увеличить прочность изделий на 80% по сравнению с цельнодеревянными конструкциями. При склеивании ламелей используется специальный клей, с классом водостойкости D4, что исключает расклеивание бруса. Используется только качественная древесина сосны, лиственницы, дуба.
								button.mnogo-cordeon__head
									.mnogo-cordeon__mark F
									.mnogo-cordeon__title Два контура уплотнения Dipro
									svg.mnogo-cordeon__chevron
										use(xlink:href="img/sprite.svg#chevron")
									.mnogo-cordeon__body деревянное окно ОкнаПроект изготовляется из клееного трехслойного оконного бруса. Определенной, соответствующей ГОСТу влажности и сечения (Класс А). Склейка ламелей разной направленности волокон дает для готовой конструкции определенные преимущества: оконный блок не коробит, не ведет, он не рассыхается, жестко держит свои геометрические размеры в течении всего срока эксплуатации, а так же позволяет увеличить прочность изделий на 80% по сравнению с цельнодеревянными конструкциями. При склеивании ламелей используется специальный клей, с классом водостойкости D4, что исключает расклеивание бруса. Используется только качественная древесина сосны, лиственницы, дуба.
								button.mnogo-cordeon__head
									.mnogo-cordeon__mark J
									.mnogo-cordeon__title Округлый штапик
									svg.mnogo-cordeon__chevron
										use(xlink:href="img/sprite.svg#chevron")
									.mnogo-cordeon__body деревянное окно ОкнаПроект изготовляется из клееного трехслойного оконного бруса. Определенной, соответствующей ГОСТу влажности и сечения (Класс А). Склейка ламелей разной направленности волокон дает для готовой конструкции определенные преимущества: оконный блок не коробит, не ведет, он не рассыхается, жестко держит свои геометрические размеры в течении всего срока эксплуатации, а так же позволяет увеличить прочность изделий на 80% по сравнению с цельнодеревянными конструкциями. При склеивании ламелей используется специальный клей, с классом водостойкости D4, что исключает расклеивание бруса. Используется только качественная древесина сосны, лиственницы, дуба.
								button.mnogo-cordeon__head
									.mnogo-cordeon__mark H
									.mnogo-cordeon__title Герметик силиконовый
									svg.mnogo-cordeon__chevron
										use(xlink:href="img/sprite.svg#chevron")
									.mnogo-cordeon__body деревянное окно ОкнаПроект изготовляется из клееного трехслойного оконного бруса. Определенной, соответствующей ГОСТу влажности и сечения (Класс А). Склейка ламелей разной направленности волокон дает для готовой конструкции определенные преимущества: оконный блок не коробит, не ведет, он не рассыхается, жестко держит свои геометрические размеры в течении всего срока эксплуатации, а так же позволяет увеличить прочность изделий на 80% по сравнению с цельнодеревянными конструкциями. При склеивании ламелей используется специальный клей, с классом водостойкости D4, что исключает расклеивание бруса. Используется только качественная древесина сосны, лиственницы, дуба.
								button.mnogo-cordeon__head
									.mnogo-cordeon__mark K
									.mnogo-cordeon__title Толщина створки и рамы 78мм
									svg.mnogo-cordeon__chevron
										use(xlink:href="img/sprite.svg#chevron")
									.mnogo-cordeon__body деревянное окно ОкнаПроект изготовляется из клееного трехслойного оконного бруса. Определенной, соответствующей ГОСТу влажности и сечения (Класс А). Склейка ламелей разной направленности волокон дает для готовой конструкции определенные преимущества: оконный блок не коробит, не ведет, он не рассыхается, жестко держит свои геометрические размеры в течении всего срока эксплуатации, а так же позволяет увеличить прочность изделий на 80% по сравнению с цельнодеревянными конструкциями. При склеивании ламелей используется специальный клей, с классом водостойкости D4, что исключает расклеивание бруса. Используется только качественная древесина сосны, лиственницы, дуба.
				.mnogo-tabs__item
					.simple-wrapper
						.advantages
							.advantages__wrapper
								img(src="img/windoors/img-5.png" alt="" class="advantages__img")
							.advantages__content
								.advantages__block
									.advantages__title Экологичность
									.advantages__text Дерево — натуральный, экологически чистый природный материал, и в виду этого окна из дерева идеальны для наших климатических условий. Использование специальных пропиток и красок оставляет дерево на 100% натуральным и чистым.

								.advantages__block
									.advantages__title Воздухообмен
									.advantages__text Натуральное дерево по сравнению с пластиком «дышит», благодаря этому даже при закрытых окнах нормализуется количество кислорода в помещении.

								.advantages__block
									.advantages__title Шумоизоляция
									.advantages__text Евроокна современной деревянной конструкции имеют повышенную шумоизоляцию. Такие окна идеальны, если поблизости находится аэродром или железнодорожная станция.

								.advantages__block
									.advantages__title Долговечность
									.advantages__text Современные конструкции и технологии гарантируют надежность и долговечность деревянных евроокон. Такие окна отлично выдерживают перепады температуры от -50°С до +50°С в любых погодных условиях.

								.advantages__block
									.advantages__title Ремонтопригодность
									.advantages__text Если вы случайно поцарапали деревянную раму, то повреждение можно с легкостью скрыть при помощи краски или шпатлевки. Покрытие деревянной поверхности лакокрасочными материалами позволяет легко изменить цвет окон.

								.advantages__block
									.advantages__title Формы
									.advantages__text Разные типы окон, такие как: поворотно-откидные, открываемые наружу и вращающиеся, можно модифицировать благодаря неограниченным возможностям. Выбор породы дерева,формы,цвета,размеров практически неограничен. Мы можем изготовить окна по индивидуальному заказу, в зависимости от вашей фантазии. Фурнитура также доступна во всевозможных цветах согласно желанию клиента.
				.mnogo-tabs__item
					.simple-wrapper
						.v-open
							.v-open__container
								.v-open__card.v-open__card--s
									img(src="img/windoors/win-1.png" alt="" class="v-open__img")
									.v-open__title Глухое
								.v-open__card.v-open__card--s
									img(src="img/windoors/win-2.png" alt="" class="v-open__img")
									.v-open__title Правосторонее
								.v-open__card.v-open__card--s
									img(src="img/windoors/win-3.png" alt="" class="v-open__img")
									.v-open__title Левосторонее
								.v-open__card.v-open__card--s
									img(src="img/windoors/win-4.png" alt="" class="v-open__img")
									.v-open__title Поворотно-откидное
								.v-open__card.v-open__card--l
									img(src="img/windoors/win-5.png" alt="" class="v-open__img")
									.v-open__title Штульповое
								.v-open__card.v-open__card--l
									img(src="img/windoors/win-6.png" alt="" class="v-open__img")
									.v-open__title Параллельно-сдвижное-откидное
								.v-open__card.v-open__card--l
									img(src="img/windoors/win-7.png" alt="" class="v-open__img")
									.v-open__title Фурнитура верхнеподвесная
								.v-open__card.v-open__card--l
									img(src="img/windoors/win-8.png" alt="" class="v-open__img")
									.v-open__title Фурнитура нижнеподвесная
				.mnogo-tabs__item
					.simple-wrapper
						.windoors__slider.windoors__win-slider
							img(src="img/windoors/form-1.png" alt="" class="windoors__img")
							img(src="img/windoors/form-2.png" alt="" class="windoors__img")
							img(src="img/windoors/form-3.png" alt="" class="windoors__img")
							img(src="img/windoors/form-4.png" alt="" class="windoors__img")
							img(src="img/windoors/form-5.png" alt="" class="windoors__img")
							img(src="img/windoors/form-6.png" alt="" class="windoors__img")
						.windoors__text Разные типы окон, такие как поворотно-откидные, открываемые наружу или среднеподвесные можно модифицировать благодаря практически неограниченным возможностям. Выбор породы дерева, формы, цвета и размеров изделий, цвета и формулы стеклопакета практически неограничен. По индивидуальному проекту мы можем произвести арочные, овальные, треугольные, а также любые другие формы окон. Вид, размеры и положение горбыльков зависят от вашей фантазии и вашего проекта. Предлагаемые стеклопакеты могут содержать два или три стекла. Фурнитура также доступна во всевозможных цветах согласно желанию клиента.

				.mnogo-tabs__item
					.simple-wrapper
						.windoors__slider.windoors__door-slider
							img(src="img/windoors/door-1.jpg" alt="" class="windoors__door-img")
							img(src="img/windoors/door-2.jpg" alt="" class="windoors__door-img")
							img(src="img/windoors/door-3.jpg" alt="" class="windoors__door-img")
							img(src="img/windoors/door-4.png" alt="" class="windoors__door-img")
							img(src="img/windoors/door-5.png" alt="" class="windoors__door-img")
							img(src="img/windoors/door-6.jpg" alt="" class="windoors__door-img")
						.text-container
							p Компания ОкнаПроект предлагает входные деревянные двери собственного производства. Использование качественного сырья, прошедшего строгий контроль, и высокоточного импортного оборудования позволяет нам производить изделия, характеризующиеся высокими показателями надежности, эстетичности и долговечности. Для производства входных дверей нами используется исключительно качественная древесина прочных пород, что обеспечивает готовому изделию долговечность, защиту от гниения, деформации, потери цвета и прочих негативных явлений. Изготовление деревянных входных дверей на заказ в квартиру, дом, коттедж включает в себя полный комплекс услуг: работы по выполнению замеров, доставку, монтаж и регулировку с соблюдением всех технологических требований.
							p Двери входные, балконные двери, изготовленные из натурального качественного дерева – это залог теплой, стильной и гармоничной обстановки в квартире или доме.
				.mnogo-tabs__item
					.simple-wrapper
						.double-g
							.double-g__title Стеклопакеты SMARTLINE©
							.double-g__container
								.double-g__card
									img(src="img/windoors/glaz-1.png" alt="" class="double-g__img")
									.double-g__content
										.double-g__subtitle Солнцезащитный
										.double-g__text Прозрачное стекло со специальным пиролитическим покрытием, которое находится в отдельной установке вне стекловаренной печи.
								.double-g__card
									img(src="img/windoors/glaz-2.png" alt="" class="double-g__img")
									.double-g__content
										.double-g__subtitle Теплозащитный
										.double-g__text Энергосберегающее стекло. LowE - обозначение энергосберегающего стекла с низкой(Low) излучательной способностью(E).
								.double-g__card
									img(src="img/windoors/glaz-3.png" alt="" class="double-g__img")
									.double-g__content
										.double-g__subtitle Шумозащитный
										.double-g__text Блок из двух листов стекла с промежуточными слоями из ПВБ, из которых хотя бы один слой является звукоизолирующим.
								.double-g__card
									img(src="img/windoors/glaz-4.png" alt="" class="double-g__img")
									.double-g__content
										.double-g__subtitle Взломоустойчивый
										.double-g__text При закалке стекла в 5 раз повышается его прочность к ударам, в 3 раза увеличивается прочность на изгиб.

