section.al-peculiarities
	.container
		.s-title.al-peculiarities__title Особенности и преимущества профиля Alutech:
		ul.al-peculiarities__list
			li.al-peculiarities__item срок службы профиля составляет более 80 лет, а некоторые комплектующие, которые выйдут из строя раньше, можно легко заменить. Это относится к уплотнителям, фурнитуре, а также к самому стеклопакету;
			li.al-peculiarities__item профили имеют высокую сопротивляемость весовым и ветровым нагрузкам, способны выдерживать значительные перепады температур, устойчивы к коррозии;
			li.al-peculiarities__item качественные уплотнители не пропускают пыль, влагу, неприятные запахи в помещение;
			li.al-peculiarities__item нагрузка на несущие конструкции при установке такого профиля минимальна, поэтому можно исключить этап проведения работ по их дополнительному укреплению;
			li.al-peculiarities__item легкость в уходе: алюминиевые профили абсолютно нетоксичны, легко моются и не нуждаются в регулярной покраске;
			li.al-peculiarities__item можно заказать любой подходящий к экстерьеру цвет конструкции, а также любые типы створок: глухие, распашные, раздвижные либо поворотные.

