section.fc-profiles
	.container
		.fc-profiles__tabs
			.fc-profiles__f-block
				.s-title Типы используемых профилей
				ul.fc-profiles__controls
					li.fc-profiles__link.active Теплое остекление
						li.fc-profiles__link Холодное остекление
			.fc-profiles__cont
				.fc-profiles__item.active
					.fc-profiles__slider
						.fc-profiles__card
							.fc-profiles__wrapper
								img(src="img/fc-profiles/krauss-krwd-64.jpg" alt="" class="fc-profiles__img")
							.fc-profiles__content
								.fc-profiles__title Krauss KRWD-64
								.fc-profiles__price от <span>16 000</span> ₽/м<sup>2</sup>
								.fc-profiles__chars
									.fc-profiles__text  Решения:
									.fc-profiles__center
									.fc-profiles__text окна и двери
								.fc-profiles__chars
									.fc-profiles__text  Тип профиля:
									.fc-profiles__center
									.fc-profiles__text теплый
								.fc-profiles__chars
									.fc-profiles__text Глубина монтажа:
									.fc-profiles__center
									.fc-profiles__text 64 мм
								.fc-profiles__chars
									.fc-profiles__text Толщина оконной створки:
									.fc-profiles__center
									.fc-profiles__text 72 мм
								.fc-profiles__chars
									.fc-profiles__text Толщина заполнения:
									.fc-profiles__center
									.fc-profiles__text 4-47 мм
								.fc-profiles__chars
									.fc-profiles__text Фурнитурный европаз:
									.fc-profiles__center
									.fc-profiles__text есть
						.fc-profiles__card
							.fc-profiles__wrapper
								img(src="img/fc-profiles/krauss-krwd-71.jpg" alt="" class="fc-profiles__img")
							.fc-profiles__content
								.fc-profiles__title Krauss KRWD-71
								.fc-profiles__price от <span>16 000</span> ₽/м<sup>2</sup>
								.fc-profiles__chars
									.fc-profiles__text  Решения:
									.fc-profiles__center
									.fc-profiles__text окна и двери
								.fc-profiles__chars
									.fc-profiles__text Тип профиля:
									.fc-profiles__center
									.fc-profiles__text теплый
								.fc-profiles__chars
									.fc-profiles__text Глубина монтажа:
									.fc-profiles__center
									.fc-profiles__text 71 мм
								.fc-profiles__chars
									.fc-profiles__text Толщина оконной створки:
									.fc-profiles__center
									.fc-profiles__text 79 мм
								.fc-profiles__chars
									.fc-profiles__text Фурнитурный европаз:
									.fc-profiles__center
									.fc-profiles__text есть
						.fc-profiles__card
							.fc-profiles__wrapper
								img(src="img/fc-profiles/krauss-krf-50.jpg" alt="" class="fc-profiles__img")
							.fc-profiles__content
								.fc-profiles__title Krauss KRF-50
								.fc-profiles__price от <span>16 000</span> ₽/м<sup>2</sup>
								.fc-profiles__chars
									.fc-profiles__text  Решения:
									.fc-profiles__center
									.fc-profiles__text остекление фасадов, зимних садов, создание легких стеновых ограждений
								.fc-profiles__chars
									.fc-profiles__text  Глубина стоек:
									.fc-profiles__center
									.fc-profiles__text 47-147 мм
								.fc-profiles__chars
									.fc-profiles__text Глубина ригелей:
									.fc-profiles__center
									.fc-profiles__text 34-84 мм
								.fc-profiles__chars
									.fc-profiles__text Толщина заполнения:
									.fc-profiles__center
									.fc-profiles__text 4-48 мм
								.fc-profiles__chars
									.fc-profiles__text Дренаж:
									.fc-profiles__center
									.fc-profiles__text предусмотрен
						.fc-profiles__card
							.fc-profiles__wrapper
								img(src="img/fc-profiles/alutech-alt-w62.jpg" alt="" class="fc-profiles__img")
							.fc-profiles__content
								.fc-profiles__title ALUTECH ALT W62
								.fc-profiles__price от <span>16 000</span> ₽/м<sup>2</sup>
								.fc-profiles__chars
									.fc-profiles__text  Решения:
									.fc-profiles__center
									.fc-profiles__text окна и двери
								.fc-profiles__chars
									.fc-profiles__text  Тип профиля:
									.fc-profiles__center
									.fc-profiles__text теплый
								.fc-profiles__chars
									.fc-profiles__text Монтажная глубина:
									.fc-profiles__center
									.fc-profiles__text 62 мм
								.fc-profiles__chars
									.fc-profiles__text Толщина заполнения, max:
									.fc-profiles__center
									.fc-profiles__text 32 мм
								.fc-profiles__chars
									.fc-profiles__text Теплоизоляция:
									.fc-profiles__center
									.fc-profiles__text 0,61
						.fc-profiles__card
							.fc-profiles__wrapper
								img(src="img/fc-profiles/alutech-alt-w72.jpg" alt="" class="fc-profiles__img")
							.fc-profiles__content
								.fc-profiles__title ALUTECH ALT W72
								.fc-profiles__price от <span>16 000</span> ₽/м<sup>2</sup>
								.fc-profiles__chars
									.fc-profiles__text  Решения:
									.fc-profiles__center
									.fc-profiles__text окна и двери
								.fc-profiles__chars
									.fc-profiles__text  Тип профиля:
									.fc-profiles__center
									.fc-profiles__text теплый
								.fc-profiles__chars
									.fc-profiles__text Монтажная глубина:
									.fc-profiles__center
									.fc-profiles__text 72 мм
								.fc-profiles__chars
									.fc-profiles__text Толщина заполнения, max:
									.fc-profiles__center
									.fc-profiles__text 34 мм
								.fc-profiles__chars
									.fc-profiles__text Теплоизоляция:
									.fc-profiles__center
									.fc-profiles__text 1,0
						.fc-profiles__card
							.fc-profiles__wrapper
								img(src="img/fc-profiles/1-alutech-alt-f50.jpg" alt="" class="fc-profiles__img")
							.fc-profiles__content
								.fc-profiles__title ALUTECH ALT F50
								.fc-profiles__price от <span>16 000</span> ₽/м<sup>2</sup>
								.fc-profiles__chars
									.fc-profiles__text  Тип:
									.fc-profiles__center
									.fc-profiles__text стоечно-ригельное остекление
								.fc-profiles__chars
									.fc-profiles__text  Видимая ширина профиля:
									.fc-profiles__center
									.fc-profiles__text 50 мм
								.fc-profiles__chars
									.fc-profiles__text Толщина заполнения:
									.fc-profiles__center
									.fc-profiles__text 4-62 мм
								.fc-profiles__chars
									.fc-profiles__text Теплопроводность:
									.fc-profiles__center
									.fc-profiles__text 0,6-1,8
								.fc-profiles__chars
									.fc-profiles__text Звукоизоляция:
									.fc-profiles__center
									.fc-profiles__text 31 дбА
						.fc-profiles__card
							.fc-profiles__wrapper
								img(src="img/fc-profiles/alumark-s70.jpg" alt="" class="fc-profiles__img")
							.fc-profiles__content
								.fc-profiles__title ALUMARK S70
								.fc-profiles__price от <span>16 000</span> ₽/м<sup>2</sup>
								.fc-profiles__chars
									.fc-profiles__text Тип профиля:
									.fc-profiles__center
									.fc-profiles__text теплый
								.fc-profiles__chars
									.fc-profiles__text  Монтажная глубина:
									.fc-profiles__center
									.fc-profiles__text 70 мм
								.fc-profiles__chars
									.fc-profiles__text Толщина заполнения, max:
									.fc-profiles__center
									.fc-profiles__text 54 мм
								.fc-profiles__chars
									.fc-profiles__text Высота створки, max:
									.fc-profiles__center
									.fc-profiles__text 2500 мм
								.fc-profiles__chars
									.fc-profiles__text Коэффициент теплоизоляции:
									.fc-profiles__center
									.fc-profiles__text 1,6 W/m<sup>2</sup>K
						.fc-profiles__card
							.fc-profiles__wrapper
								img(src="img/fc-profiles/alumark-f50.jpg" alt="" class="fc-profiles__img")
							.fc-profiles__content
								.fc-profiles__title ALUMARK F50
								.fc-profiles__price от <span>16 000</span> ₽/м<sup>2</sup>
								.fc-profiles__chars
									.fc-profiles__text Монтажная глубина:
									.fc-profiles__center
									.fc-profiles__text 50-300 мм
								.fc-profiles__chars
									.fc-profiles__text  Ширина видимой части:
									.fc-profiles__center
									.fc-profiles__text 50 мм
								.fc-profiles__chars
									.fc-profiles__text Толщина заполнения:
									.fc-profiles__center
									.fc-profiles__text 44 мм
								.fc-profiles__chars
									.fc-profiles__text Коэффициент звукоизоляции:
									.fc-profiles__center
									.fc-profiles__text 35 дб
								.fc-profiles__chars
									.fc-profiles__text Коэффициент теплоизоляции:
									.fc-profiles__center
									.fc-profiles__text 1,5 W/m<sup>2</sup>K
				.fc-profiles__item
					.fc-profiles__slider
						.fc-profiles__card
							.fc-profiles__wrapper
								img(src="img/fc-profiles/krauss-c640.jpg" alt="" class="fc-profiles__img")
							.fc-profiles__content
								.fc-profiles__title Krauss C640
								.fc-profiles__price от <span>16 000</span> ₽/м<sup>2</sup>
								.fc-profiles__chars
									.fc-profiles__text  Решения:
									.fc-profiles__center
									.fc-profiles__text остекление балконов и лоджий
								.fc-profiles__chars
									.fc-profiles__text  Тип профиля:
									.fc-profiles__center
									.fc-profiles__text холодный
								.fc-profiles__chars
									.fc-profiles__text Открывание:
									.fc-profiles__center
									.fc-profiles__text раздвижное (купе)
								.fc-profiles__chars
									.fc-profiles__text Глубина монтажа:
									.fc-profiles__center
									.fc-profiles__text 60 мм
								.fc-profiles__chars
									.fc-profiles__text Видимый размер в свету (рама/створка):
									.fc-profiles__center
									.fc-profiles__text 32/52 мм
								.fc-profiles__chars
									.fc-profiles__text Толщина заполенния, max:
									.fc-profiles__center
									.fc-profiles__text 5 мм
						.fc-profiles__card
							.fc-profiles__wrapper
								img(src="img/fc-profiles/krauss-p400.jpg" alt="" class="fc-profiles__img")
							.fc-profiles__content
								.fc-profiles__title Krauss P400
								.fc-profiles__price от <span>16 000</span> ₽/м<sup>2</sup>
								.fc-profiles__chars
									.fc-profiles__text  Решения:
									.fc-profiles__center
									.fc-profiles__text остекление балконов и лоджий
								.fc-profiles__chars
									.fc-profiles__text  Тип профиля:
									.fc-profiles__center
									.fc-profiles__text холодный
								.fc-profiles__chars
									.fc-profiles__text Открывание:
									.fc-profiles__center
									.fc-profiles__text поворотное
								.fc-profiles__chars
									.fc-profiles__text Глубина монтажа:
									.fc-profiles__center
									.fc-profiles__text 60 мм
								.fc-profiles__chars
									.fc-profiles__text Видимый размер в свету (рама/створка):
									.fc-profiles__center
									.fc-profiles__text 32/52 мм
						.fc-profiles__card
							.fc-profiles__wrapper
								img(src="img/fc-profiles/krauss-krwd-45.jpg" alt="" class="fc-profiles__img")
							.fc-profiles__content
								.fc-profiles__title Krauss KRWD-45
								.fc-profiles__price от <span>16 000</span> ₽/м<sup>2</sup>
								.fc-profiles__chars
									.fc-profiles__text  Решения:
									.fc-profiles__center
									.fc-profiles__text окна и двери
								.fc-profiles__chars
									.fc-profiles__text  Тип профиля:
									.fc-profiles__center
									.fc-profiles__text холодный
								.fc-profiles__chars
									.fc-profiles__text Глубина монтажа:
									.fc-profiles__center
									.fc-profiles__text 45 мм
								.fc-profiles__chars
									.fc-profiles__text Толщина оконной створки:
									.fc-profiles__center
									.fc-profiles__text 53 мм
								.fc-profiles__chars
									.fc-profiles__text Фурнитурный европаз:
									.fc-profiles__center
									.fc-profiles__text есть
						.fc-profiles__card
							.fc-profiles__wrapper
								img(src="img/fc-profiles/alutech-alt-c48.jpg" alt="" class="fc-profiles__img")
							.fc-profiles__content
								.fc-profiles__title ALUTECH ALT C48
								.fc-profiles__price от <span>16 000</span> ₽/м<sup>2</sup>
								.fc-profiles__chars
									.fc-profiles__text  Решения:
									.fc-profiles__center
									.fc-profiles__text окна, двери
								.fc-profiles__chars
									.fc-profiles__text  Тип профиля:
									.fc-profiles__center
									.fc-profiles__text холодный
								.fc-profiles__chars
									.fc-profiles__text Монтажная глубина:
									.fc-profiles__center
									.fc-profiles__text 48 мм
								.fc-profiles__chars
									.fc-profiles__text Толщина заполнения, max:
									.fc-profiles__center
									.fc-profiles__text 4-28 мм
								.fc-profiles__chars
									.fc-profiles__text Звукоизоляция:
									.fc-profiles__center
									.fc-profiles__text 5-6 категория
						.fc-profiles__card
							.fc-profiles__wrapper
								img(src="img/fc-profiles/alutech-alt-w72.jpg" alt="" class="fc-profiles__img")
							.fc-profiles__content
								.fc-profiles__title ALUTECH ALT W72
								.fc-profiles__price от <span>16 000</span> ₽/м<sup>2</sup>
								.fc-profiles__chars
									.fc-profiles__text  Решения:
									.fc-profiles__center
									.fc-profiles__text окна и двери
								.fc-profiles__chars
									.fc-profiles__text  Тип профиля:
									.fc-profiles__center
									.fc-profiles__text теплый
								.fc-profiles__chars
									.fc-profiles__text Монтажная глубина:
									.fc-profiles__center
									.fc-profiles__text 72 мм
								.fc-profiles__chars
									.fc-profiles__text Толщина заполнения, max:
									.fc-profiles__center
									.fc-profiles__text 34 мм
								.fc-profiles__chars
									.fc-profiles__text Теплоизоляция:
									.fc-profiles__center
									.fc-profiles__text 1,0
						.fc-profiles__card
							.fc-profiles__wrapper
								img(src="img/fc-profiles/alumark-s44.jpg" alt="" class="fc-profiles__img")
							.fc-profiles__content
								.fc-profiles__title ALUMARK S44
								.fc-profiles__price от <span>16 000</span> ₽/м<sup>2</sup>
								.fc-profiles__chars
									.fc-profiles__text  Тип профиля:
									.fc-profiles__center
									.fc-profiles__text холодный
								.fc-profiles__chars
									.fc-profiles__text  Монтажная глубина:
									.fc-profiles__center
									.fc-profiles__text 44 мм
								.fc-profiles__chars
									.fc-profiles__text Толщина заполнения, max:
									.fc-profiles__center
									.fc-profiles__text 4, 6, 8, 10, 20, 22, 24, 26 мм
								.fc-profiles__chars
									.fc-profiles__text Варианты открывания:
									.fc-profiles__center
									.fc-profiles__text распашные и раздвижные створки
								.fc-profiles__chars
									.fc-profiles__text Звукоизоляция:
									.fc-profiles__center
									.fc-profiles__text 29-32 дб
						.fc-profiles__card
							.fc-profiles__wrapper
								img(src="img/fc-profiles/alumark-s50.jpg" alt="" class="fc-profiles__img")
							.fc-profiles__content
								.fc-profiles__title ALUMARK S50
								.fc-profiles__price от <span>16 000</span> ₽/м<sup>2</sup>
								.fc-profiles__chars
									.fc-profiles__text Тип профиля:
									.fc-profiles__center
									.fc-profiles__text холодный
								.fc-profiles__chars
									.fc-profiles__text  Монтажная глубина:
									.fc-profiles__center
									.fc-profiles__text 70 мм
								.fc-profiles__chars
									.fc-profiles__text Толщина заполнения, max:
									.fc-profiles__center
									.fc-profiles__text 50 мм
								.fc-profiles__chars
									.fc-profiles__text Толщина заполнения:
									.fc-profiles__center
									.fc-profiles__text 4-36 мм
								.fc-profiles__chars
									.fc-profiles__text Коэффициент теплоизоляции:
									.fc-profiles__center
									.fc-profiles__text 4,5 W/m<sup>2</sup>K

