section( class="fc-main" style="background-image: url(img/fc-main/bg.jpg)")
	.container
		.fc-main__container
			.fc-main__inner
				.fc-main__title Фасадное остекление напрямую от производителя
				.fc-main__f-block
					.fc-main__price от <span>22 000</span> руб./м<sup>2</sup>
					.fc-main__text Финальная распродажа до конца месяца
					a(href="#size" class="new-btn js-popup-call") Расчитать со скидкой
					a(href="#callback" class="invert-btn invert-btn--white js-popup-call") Получить консультацию
			.fc-main__info
				.fc-main__item Опыт работы более 10 лет
				.fc-main__item Гарантия до 10 лет
