section.certificate
	.container
		.certificate__container
			.certificate__yandex
				.yandex-reviews
					.yandex-reviews__text Нас честно оценили
					svg.yandex-reviews__logo(width='98' height='28' viewbox='0 0 98 28' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M93.4338 24.3809C95.3564 24.3809 96.7183 24.0375 97.733 23.2979V19.9432C96.6916 20.6564 95.4365 21.1054 93.6741 21.1054C90.7101 21.1054 89.4818 18.8337 89.4818 15.2413C89.4818 11.4639 90.9771 9.53563 93.7008 9.53563C95.303 9.53563 96.8785 10.0903 97.7063 10.6186V7.13186C96.8251 6.65638 95.303 6.31299 93.2202 6.31299C87.9063 6.31299 85.1559 10.0903 85.1559 15.3734C85.1826 21.1583 87.8796 24.3809 93.4338 24.3809ZM67.4518 22.8488V19.4941C66.17 20.3658 63.9804 21.1319 61.9777 21.1319C58.9335 21.1319 57.7853 19.7054 57.5984 16.7998H67.6387V14.6337C67.6387 8.58469 64.9417 6.31299 60.8027 6.31299C55.7292 6.31299 53.3259 10.1432 53.3259 15.3998C53.3259 21.4488 56.3433 24.3809 61.6305 24.3809C64.2741 24.3809 66.2234 23.6677 67.4518 22.8488ZM29.3466 6.62997V13.4979H23.7924V6.62997H19.6267V24.0375H23.7924V16.7734H29.3466V24.0375H33.5123V6.62997H29.3466ZM52.2845 20.762H50.442V6.62997H38.3188V8.10921C38.3188 12.362 38.0518 17.8564 36.5831 20.762H35.248V27.9998H39.0932V24.0375H48.4125V27.9998H52.2578V20.762H52.2845ZM80.7232 24.0375H85.4496L78.7738 14.6602L84.6485 6.62997H80.4561L74.5815 14.6602V6.62997H70.4158V24.0375H74.5815V15.479L80.7232 24.0375ZM60.6959 9.53563C62.752 9.53563 63.3929 11.2262 63.3929 13.4186V13.762H57.5984C57.7052 10.9885 58.7199 9.53563 60.6959 9.53563ZM46.2763 20.762H40.4016C41.5499 18.1469 41.8703 13.3922 41.8703 10.3809V9.85261H46.2763V20.762Z' fill='black')
						path(d='M16.1553 24.0377H11.9095V3.24906H10.0136C6.54223 3.24906 4.72643 4.96604 4.72643 7.5283C4.72643 10.434 5.98147 11.7811 8.57166 13.4981L10.7079 14.9245L4.56621 24.0377H0L5.52752 15.9019C2.34986 13.6566 0.560763 11.4642 0.560763 7.76604C0.560763 3.1434 3.81853 0 9.98692 0H16.1286V24.0377H16.1553Z' fill='#FC3F1D')
					.yandex-reviews__okna Окна Проект Rehau
					.yandex-reviews__stars
						svg.yandex-reviews__star(width='25' height='23' viewbox='0 0 25 23' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M11.5489 0.927054C11.8483 0.00574327 13.1517 0.00573969 13.4511 0.92705L15.5309 7.32827C15.6648 7.74029 16.0488 8.01925 16.482 8.01925L23.2126 8.01925C24.1814 8.01925 24.5841 9.25887 23.8004 9.82827L18.3552 13.7844C18.0047 14.0391 17.8581 14.4905 17.9919 14.9025L20.0718 21.3037C20.3712 22.225 19.3167 22.9911 18.533 22.4217L13.0878 18.4656C12.7373 18.2109 12.2627 18.2109 11.9122 18.4656L6.46701 22.4217C5.6833 22.9911 4.62882 22.225 4.92817 21.3037L7.00805 14.9025C7.14193 14.4905 6.99527 14.0391 6.64478 13.7844L1.19958 9.82827C0.415862 9.25887 0.81864 8.01925 1.78736 8.01925L8.51801 8.01925C8.95123 8.01925 9.33519 7.74029 9.46906 7.32827L11.5489 0.927054Z' fill='#FFCA41')
						svg.yandex-reviews__star(width='25' height='23' viewbox='0 0 25 23' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M11.5489 0.927054C11.8483 0.00574327 13.1517 0.00573969 13.4511 0.92705L15.5309 7.32827C15.6648 7.74029 16.0488 8.01925 16.482 8.01925L23.2126 8.01925C24.1814 8.01925 24.5841 9.25887 23.8004 9.82827L18.3552 13.7844C18.0047 14.0391 17.8581 14.4905 17.9919 14.9025L20.0718 21.3037C20.3712 22.225 19.3167 22.9911 18.533 22.4217L13.0878 18.4656C12.7373 18.2109 12.2627 18.2109 11.9122 18.4656L6.46701 22.4217C5.6833 22.9911 4.62882 22.225 4.92817 21.3037L7.00805 14.9025C7.14193 14.4905 6.99527 14.0391 6.64478 13.7844L1.19958 9.82827C0.415862 9.25887 0.81864 8.01925 1.78736 8.01925L8.51801 8.01925C8.95123 8.01925 9.33519 7.74029 9.46906 7.32827L11.5489 0.927054Z' fill='#FFCA41')
						svg.yandex-reviews__star(width='25' height='23' viewbox='0 0 25 23' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M11.5489 0.927054C11.8483 0.00574327 13.1517 0.00573969 13.4511 0.92705L15.5309 7.32827C15.6648 7.74029 16.0488 8.01925 16.482 8.01925L23.2126 8.01925C24.1814 8.01925 24.5841 9.25887 23.8004 9.82827L18.3552 13.7844C18.0047 14.0391 17.8581 14.4905 17.9919 14.9025L20.0718 21.3037C20.3712 22.225 19.3167 22.9911 18.533 22.4217L13.0878 18.4656C12.7373 18.2109 12.2627 18.2109 11.9122 18.4656L6.46701 22.4217C5.6833 22.9911 4.62882 22.225 4.92817 21.3037L7.00805 14.9025C7.14193 14.4905 6.99527 14.0391 6.64478 13.7844L1.19958 9.82827C0.415862 9.25887 0.81864 8.01925 1.78736 8.01925L8.51801 8.01925C8.95123 8.01925 9.33519 7.74029 9.46906 7.32827L11.5489 0.927054Z' fill='#FFCA41')
						svg.yandex-reviews__star(width='25' height='23' viewbox='0 0 25 23' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M11.5489 0.927054C11.8483 0.00574327 13.1517 0.00573969 13.4511 0.92705L15.5309 7.32827C15.6648 7.74029 16.0488 8.01925 16.482 8.01925L23.2126 8.01925C24.1814 8.01925 24.5841 9.25887 23.8004 9.82827L18.3552 13.7844C18.0047 14.0391 17.8581 14.4905 17.9919 14.9025L20.0718 21.3037C20.3712 22.225 19.3167 22.9911 18.533 22.4217L13.0878 18.4656C12.7373 18.2109 12.2627 18.2109 11.9122 18.4656L6.46701 22.4217C5.6833 22.9911 4.62882 22.225 4.92817 21.3037L7.00805 14.9025C7.14193 14.4905 6.99527 14.0391 6.64478 13.7844L1.19958 9.82827C0.415862 9.25887 0.81864 8.01925 1.78736 8.01925L8.51801 8.01925C8.95123 8.01925 9.33519 7.74029 9.46906 7.32827L11.5489 0.927054Z' fill='#FFCA41')
						svg.yandex-reviews__star(width='25' height='23' viewbox='0 0 25 23' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M11.5489 0.927054C11.8483 0.00574327 13.1517 0.00573969 13.4511 0.92705L15.5309 7.32827C15.6648 7.74029 16.0488 8.01925 16.482 8.01925L23.2126 8.01925C24.1814 8.01925 24.5841 9.25887 23.8004 9.82827L18.3552 13.7844C18.0047 14.0391 17.8581 14.4905 17.9919 14.9025L20.0718 21.3037C20.3712 22.225 19.3167 22.9911 18.533 22.4217L13.0878 18.4656C12.7373 18.2109 12.2627 18.2109 11.9122 18.4656L6.46701 22.4217C5.6833 22.9911 4.62882 22.225 4.92817 21.3037L7.00805 14.9025C7.14193 14.4905 6.99527 14.0391 6.64478 13.7844L1.19958 9.82827C0.415862 9.25887 0.81864 8.01925 1.78736 8.01925L8.51801 8.01925C8.95123 8.01925 9.33519 7.74029 9.46906 7.32827L11.5489 0.927054Z' fill='#FFCA41')
					.yandex-reviews__rating 5.0
					.yandex-reviews__reviews (54 отзыва)
					a(href="#yandex-reviews" class="yandex-reviews__link js-popup-call") читать отзывы
			.certificate__content
				.certificate__wrapper
					.certificate__left
						.certificate__slider
							a(href="img/certificate/cert-1.jpg" class="certificate__slider-item")
								img(src="img/certificate/cert-1.jpg" alt="" class="certificate__slider-img")
							a(href="img/certificate/cert-2.jpg" class="certificate__slider-item")
								img(src="img/certificate/cert-2.jpg" alt="" class="certificate__slider-img")
							a(href="img/certificate/cert-3.jpg" class="certificate__slider-item")
								img(src="img/certificate/cert-3.jpg" alt="" class="certificate__slider-img")
							a(href="img/certificate/cert-4.jpg" class="certificate__slider-item")
								img(src="img/certificate/cert-4.jpg" alt="" class="certificate__slider-img")
							a(href="img/certificate/cert-5.jpg" class="certificate__slider-item")
								img(src="img/certificate/cert-5.jpg" alt="" class="certificate__slider-img")
					.certificate__right
						.s-title.certificate__title Закажите окна
						.certificate__text у лидера рынка
						.certificate__carusel
							img(src="img/certificate/cert-1.jpg" alt="" class="certificate__carusel-img")
							img(src="img/certificate/cert-2.jpg" alt="" class="certificate__carusel-img")
							img(src="img/certificate/cert-3.jpg" alt="" class="certificate__carusel-img")
							img(src="img/certificate/cert-4.jpg" alt="" class="certificate__carusel-img")
							img(src="img/certificate/cert-5.jpg" alt="" class="certificate__carusel-img")
