section.al-minimum
	.container
		.s-title.al-minimum__header Необходимый минимум информации для расчета изделий
		.al-minimum__container
			.al-minimum__item
				.al-minimum__title Витражи:
				ol
					li Габариты конструкции и разбивка.
					li Профиль, тёплый или холодный.
					li Цвет профиля.
					li Пожелания по заполнению:(цвет, формула, кол-во стекол).
					li Наличие межэтажных перекрытий и расстояние между ними, вынос конструкций относительно перекрытий.
					li Верхняя точка проема(для расчета ветровых нагрузок)
					li Не забывайте указывать адрес (учет доставки).
					li Фото, проект, любая информация.
			.al-minimum__item
				.al-minimum__title Зимний сад:
				ol
					li Схема зимнего сада в плане, с размерами.
					li Вид снаружи с размерами, желательно с разных ракурсов.
					li Цвет профиля.
					li Пожелания по заполнению:(цвет, формула).
					li Если у конструкции планируется крыша, то важно условие примыкания к стене (разрез по стене), это для учета нагрузок от снегового мешка.
					li Где, какие и сколько открываний планируется (окна, двери).
					li Не забывайте указывать адрес (учет доставки).
					li Желательно знать назначение помещения (веранда, сад, бассейн).
			.al-minimum__item
				.al-minimum__title Двери:
				ol
					li Профиль (теплый, холодный).
					li Цвет профиля.
					li Заполнение:(цвет, формула, кол-во стекол).
					li Фурнитура(нажимной гарнитур, скоба, штанга).
					li Доводчик.
					li Порог (рама, низкий порог, без порога(в холодной серии).
					li Открывание (помещение, улица).
			.al-minimum__item
				.al-minimum__title Манипулятор:
				ol
					li Необходим точный адрес.
					li Высота от земли до места установки/демонтажа стеклопакета.
					li Наличие место для стоянки манипулятора каких размером?
					li Расстояние от места стоянки до объекта.
					li Размер стеклопакета.
					li Вес стеклопакета.
					li Предполагаемая дата демонтажа.


