section.advantages
    .container
        .section-title Преимущества сосновых оконных рам
        .advantages__container
            .advantages__item
                svg.advantages__icon
                    use(xlink:href="img/sprite.svg#wallet")
                .advantages__title Доступная стоимость
                .advantages__text Купить окна из дерева сосна в Украине можно по доступной в сравнении с другими материалами цене, так как широкое распространение этой породы в наших широтах и простота обработки делают материал востребованных и недорогим одновременно.

            .advantages__item
                svg.advantages__icon
                    use(xlink:href="img/sprite.svg#vent")
                .advantages__title Естественная вентиляция
                .advantages__text Еще один плюс натуральной сосны: древесина обеспечивает естественный процесс циркуляции воздуха в помещении в пределах 2,5-2,8 м3 за сутки даже при закрытых окнах. В итоге — свежий и чистый воздух в комнате независимо от того, открыли ли окно для проветривания.

            .advantages__item
                svg.advantages__icon
                    use(xlink:href="img/sprite.svg#weight")
                .advantages__title Небольшой вес
                .advantages__text Конструкции рам из сосны имеют малый вес, что позволяет снизить нагрузку на несущие конструкции. Заказать деревянные рамы из сосны со стеклопакетом можно для остекления нестандартных оконных проемов, больших площадей или для помещений старой постройки.

            .advantages__item
                svg.advantages__icon
                    use(xlink:href="img/sprite.svg#window")
                .advantages__title Благородный вид и современный дизайн.
                .advantages__text Окна из сосны, цена которых варьируется в зависимости от региона выращивания, может иметь различный внешний вид естественной фактуры и окраски. Изменить или дополнить дизайн можно при помощи лакокрасочных покрытий и пропиток.

            .advantages__item
                svg.advantages__icon
                    use(xlink:href="img/sprite.svg#checklist")
                .advantages__title Достойные эксплуатационные характеристики
                .advantages__text Натуральная древесина обеспечивает теплоизоляцию помещения, подавляет шумы, не создает парникового эффекта внутри помещения.

            .advantages__item
                svg.advantages__icon
                    use(xlink:href="img/sprite.svg#hygiene")
                .advantages__title Гигиеничность
                .advantages__text Деревянные окна из сосны, цена которых остается доступной каждому покупателю, несмотря на все преимущества, не подвержены гниению, возникновению грибка и другой патогенной микрофлоры.

