section.al-furniture
	.container
		.s-title Фурнитура для алюминиевых дверей
		.al-furniture__container
			.al-furniture__card
				.al-furniture__wrapper
					img(src="img/al-furniture/img-1.png" alt="" class="al-furniture__img")
				.al-furniture__inner
					.al-furniture__title Нажимной гарнитура Stubina
					.al-furniture__text
						p 1032.00 / R - под покраску
						p 1032.00 (9016) - белый
						p 1032.00 (9005) - черный
						p 1032.00 (9017) - коричневый
			.al-furniture__card
				.al-furniture__wrapper
					img(src="img/al-furniture/img-2.png" alt="" class="al-furniture__img")
				.al-furniture__inner
					.al-furniture__title Накладка на цилиндр
					.al-furniture__text
						p 1031.02 / R - под покраску
						p 1031.02 (9016) - белый
						p 1031.02 (9005) - черный
						p 1031.02 (9017) - коричневый
			.al-furniture__card
				.al-furniture__wrapper
					img(src="img/al-furniture/img-3.png" alt="" class="al-furniture__img")
				.al-furniture__inner
					.al-furniture__title Ручка скоба 300 мм.
					.al-furniture__text
						p Ros 0589 / 1 / R - под покраску
						p Ros 0589.07 / 1 - белый
						p Ros 0589.01 / 1 - серебро
			.al-furniture__card
				.al-furniture__wrapper
					img(src="img/al-furniture/img-4.png" alt="" class="al-furniture__img")
				.al-furniture__inner
					.al-furniture__title Ручка штанга со смещением
					.al-furniture__text
						p iTM 0424 - 800 мм длина
						p iTM 0425 - 1000 мм длина
						p iTM 0426 - 1200 мм длина
						p iTM 0427 - 1400 мм длина
						p iTM 0429 - 1800 мм длина
		.al-furniture__bottom
			.al-furniture__left
				img(src="img/al-furniture/img-5.png" alt="" class="al-furniture__img")
			.al-furniture__center
				.al-furniture__header Доводчики
				.al-furniture__text Доводчик подбирается исходя из выбранного профиля и веса двери
			.al-furniture__right
				a(href="#size" class="new-btn js-popup-call") Записаться на замер
