section.ventilation
	.container
		.s-title Варианты проветривания
		.ventilation__container
			.ventilation__item
				img(src="img/ventilation/img-1.png" alt="" class="ventilation__img-top")
				img(src="img/ventilation/img-2.png" alt="" class="ventilation__img-bottom")
				.ventilation__title поворотное
			.ventilation__item
				img(src="img/ventilation/img-3.png" alt="" class="ventilation__img-top")
				img(src="img/ventilation/img-4.png" alt="" class="ventilation__img-bottom")
				.ventilation__title поворотно-откидное
			.ventilation__item
				img(src="img/ventilation/img-5.png" alt="" class="ventilation__img-top")
				img(src="img/ventilation/img-6.png" alt="" class="ventilation__img-bottom")
				.ventilation__title откидное
		.t-center
			a(href="#callback" class="new-btn js-popup-call") Записаться на замер
