section.fc-options
	.container
		.s-title.t-center Дополнительные опции и улуги для алюминиевых окон
		.fc-options__wrapper
			table.fc-options__table
				thead
					tr
						th Наименование услуги
						th Стоимость
				tr
					td Тонировка стеклопакета
					td от 1 450 руб/м<sup>2</sup>
				tr
					td Повышенная ударостойкость стекла
					td от 3 200 руб/м<sup>2</sup>
				tr
					td Встроенные жалюзи
					td от 3 200 руб/м<sup>2</sup>
				tr
					td Подогрев стеклопакетов
					td от 12 500 руб/м<sup>2</sup>
				tr
					td Энергосберегающее стекло
					td от 250 руб/м<sup>2</sup>
				tr
					td Мультифункциональное стекло
					td от 320 руб/м<sup>2</sup>
				tr
					td Доставка в пределах МКАД
					td 2500-5000 руб.
				tr
					td Монтаж
					td от 1700 руб/м<sup>2</sup>
