section.more
	.container
		.more__wrapper(style="background-image: url(img/more/phone.png);")
			.more__info
				.s-title.more__title Хотите увидеть больше работ?
				.more__text посетите нашу страницу в Instagram
				a(href="https://www.instagram.com/oknaproekt/" class="new-btn" target="_blank" rel="nofollow") Узнать подробнее

