section.f-screen(style="background-image: url(img/f-screen/bg.jpg);")
    .container
        .f-screen__content
            .page-title Окна из сосны от производителя
            .f-screen__text Современные окна из дерева очень долговечны, удобны и практичны в использовании.
            form.form
                .form__wrapper
                    .form__field.form__field--lg
                        input(type="tel" placeholder="+7" class="form__input")
                    .form__field.form__field--sm
                        input(type="submit" value="Нужна консультация" class="new-btn")
                p Бесплатно проконсультируем!
