section.al-schema
	.container
		.s-title Схема прохождения заказов в компании “ОкнаПроект”
		.al-schema__container
			.al-schema__item
				.al-schema__wrapper
					.al-schema__numb
					img(src="img/al-schema/img-1.png" alt="" class="al-schema__img")
				.al-schema__text Предварительный расчёт в программе
			.al-schema__item
				.al-schema__wrapper
					.al-schema__numb
					img(src="img/al-schema/img-2.png" alt="" class="al-schema__img")
				.al-schema__text Запись на замер
			.al-schema__item
				.al-schema__wrapper
					.al-schema__numb
					img(src="img/al-schema/img-3.png" alt="" class="al-schema__img")
				.al-schema__text Заключение договора в офисе или при замере
			.al-schema__item
				.al-schema__wrapper
					.al-schema__numb
					img(src="img/al-schema/img-4.png" alt="" class="al-schema__img")
				.al-schema__text Запуск заказа в производство
			.al-schema__item
				.al-schema__wrapper
					.al-schema__numb
					img(src="img/al-schema/img-5.png" alt="" class="al-schema__img")
				.al-schema__text Доставка и разгрузка
			.al-schema__item
				.al-schema__wrapper
					.al-schema__numb
					img(src="img/al-schema/img-6.png" alt="" class="al-schema__img")
				.al-schema__text Сборка и монтаж
			.al-schema__item.al-schema__item--lg._js-hide-show
				.al-schema__info
					.al-schema__title Внимание
					.al-schema__opus Сроки готовности уточняются в отделе снабжения (наличие материала), производственном департаменте (дата готовности) и отделе стеклопакетов.
					.t-right
						a(href="#size" class="new-btn js-popup-call") Записаться на замер
		.al-schema__info.al-schema__info--mob
			.al-schema__title Внимание
			.al-schema__opus Сроки готовности уточняются в отделе снабжения (наличие материала), производственном департаменте (дата готовности) и отделе стеклопакетов.
			.t-right
				a(href="#size" class="new-btn js-popup-call") Записаться на замер
