.container
	section.al-catalog
		img(src="img/al-catalog/bg.png" class="al-catalog__img")
		.al-catalog__inner
			.s-title Каталог технических ограничений
			.al-catalog__text
				p Выбрана система Alumark.
				p  В других алюминиевых системах необходимо уточнять у технолога.
			a(href="#" class="btn-green") Посмотреть каталог
