section.p-main.mb-0(style="background-image: url(img/p-main/bg.jpg)")
	.container
		.p-main__inner
			.s-title Условия и способы оплаты
			.p-main__text для вашего удобсва компания «ОкнаПроект» предусмотрела множество способов оплаты за оконные конструкции и комлектующие.

