section.billet
	.container
		.s-title Аксессуары REHAU для окон и дверей
		.biller__text Воплотите свои мечты в жизнь, выбрав дизайн со вкусом и индивидуальное решение для вашего дома. REHAU предлагает широкий спектр дополнительных комплектующих, которые сделают вашу проживание еще более комфортным и безопасным.

