section.al-compare
	.container
		.s-title Сравнение алюминиевых оконных профилей
		.al-compare__container
			.al-compare__card
				img(src="img/al-compare/img-1.png" alt="" class="al-compare__img")
				.al-compare__title Alumark S70
			.al-compare__card
				img(src="img/al-compare/img-2.png" alt="" class="al-compare__img")
				.al-compare__title Newtec 68
			.al-compare__card
				img(src="img/al-compare/img-3.png" alt="" class="al-compare__img")
				.al-compare__title Krauss KRWD64
			.al-compare__card
				img(src="img/al-compare/img-4.png" alt="" class="al-compare__img")
				.al-compare__title Alutech W62
			.al-compare__card
				img(src="img/al-compare/img-5.png" alt="" class="al-compare__img")
				.al-compare__title Alutech W72
