section.infoblock
	.container.flex-wrapper
		.infoblock__content
			.section-title Окна которые умеют дышать
			.text-container
				p Окна из сосны – это самые распространенные деревянные конструкции. Ведь этот материал гармонирует с любым интерьером помещения, экстерном здания, а также подходит для всех климатических зон.
				p Особенностью конструкций из сосны является их бюджетность. Данный материал не обладает высокой прочностью и является мягким, однако специальные технологии и методы обработки позволяют изготовить из сосны надежные окна. Деревянные окна из сосны обладают отличными техническими характеристиками, в частности высокими показателями теплосохранения. И о таких конструкциях говорят, что они «дышат». Благодаря этому свойству не образуется парникового эффекта в помещении.
		.infoblock__wrapper
			img(src="img/infoblock/img.jpg" alt="" class="infoblock__img")
